@charset "utf-8";
/* CSS Document */
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Patua+One';

body {
  background: #fff;
  padding: 15px;
  color:#291e0f;
}
.CSS1Compat,
.cke_panel_frame {
  background: #fff;
  line-height:100%;
}
#ckeditor .ds_gallery {
  width: 100%;
  border: #666 Dashed 3px;
  background: #333;
  text-align: center;
  padding: 50px 0;
}

.row div{ border:dotted #333 1px; }
.panel-heading, .panel-default > .panel-heading a{
  color: black !important;
}
h5{
  color:#286987;
}