@charset "utf-8";
/* CSS Document */

@blue: #709baf;
@blue2: #286987;
@blue3: #023144;
@green: #43682D;
@green2: #364331;
@brown: #C49A6C;
@brown2: #725A3C;
@orange: #F37035;
@orange2: #7B340A;

@gray: #777;
@darkgray: #333;
@lightgray: lighten(@gray, 45);

@primary_font: 'Prompt', sans-serif;
@alt_font: Verdana, Geneva, sans-serif;
@icon_font: 'FontAwesome';
@line-transition: .4s;

@screen-desktop: 1170px;
@screen-laptop: 992px;
@screen-tablet: 768px;
@screen-phone: 499px;

@import "less/_nav";
@import "less/_general";
@import "less/_forms";

//library customizations
@import "less/_selectboxit";
//@import "less/_slickgallery";
@import "less/_parallax-banner";

.fancylinks(@linecolor: @orange, @backcolor: black) {
  background: linear-gradient(@backcolor, @backcolor), linear-gradient(@backcolor, @backcolor), linear-gradient(@linecolor, @linecolor);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: .03em 0 @backcolor, -.03em 0 @backcolor, 0 .03em @backcolor,0 -.03em @backcolor, .06em 0 @backcolor, -.06em 0 @backcolor, .09em 0 @backcolor, -.09em 0 @backcolor, .12em 0 @backcolor, -.12em 0 @backcolor, .15em 0 @backcolor, -.15em 0 @backcolor;
  background-position: 0 85%, 100% 85%, 0 85%;
  text-decoration: none;
}

//Layout Elements
#headerwrap {
  background: black;
  height: 130px;
  @media screen and (max-width: @screen-tablet) {
    height: auto;
  }
}

header {

  transition: .4s;
  #logo {
    transition: .4s;
    margin-top: -45px;
    z-index: 100;
    position: relative;
    @media screen and (max-width: 1199px) {
      margin-top: -27px;
    }
    @media screen and (max-width: @screen-laptop) {
      margin-top: -10px;
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .navbar {
      width: 100%;
      max-height: 50px;
      .nav ul li a {
        padding: 7px 25px;
        &.dropdown-toggle {
          padding: 7px 0;
        }
      }
      .nav .dropdown .dropdown-menu {
        top: 47px;
      }
      #logo {
        max-width: 80%;
      }
    }
    .loginbar {
      max-height: 35px;
      padding: 5px 0;
      input[type="text"], input[type="submit"] {
        height: 25px;
      }
      .btn {
        height: 25px;
        padding: 1px 20px;
        margin-top: -5px;
      }
    }
    @media screen and (max-width: @screen-laptop) {

      .navbar {
        .nav ul li a {
          padding: 7px 11px;
        }
      }
    }
  }
  @media screen and (max-width: @screen-tablet) {
    height: 0;

    #logo {
      width: 90px;
      top: 2px;
      left: 0;
    }

    &.sticky {
      .navbar {
        height: 0;
      }
    }
  }
}

.header-narrow {
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, .7);
  padding-top: 10px;
  margin-top: -10px;
  display: none;
  &.open {
    box-shadow: none;
  }

  @media screen and (max-width: @screen-tablet) {
    display: block;
  }
}

#home header {
  #logo {
    margin: -91px -50px 0 -50px;
    max-width: 150%;
  }
  &.sticky {
    #logo {
      margin-top: -45px;
      max-width: 80%;
      @media screen and (max-width: @screen-tablet) {
        margin-top: 0;
      }
    }
  }
  @media screen and (max-width: @screen-laptop) {
    #logo {
      margin: -10px -40px 0 -40px;
      max-width: 100%;
    }

    &.sticky {
      #logo {
        margin-top: -17px;
      }
    }
  }
}
#mobilelogo{
  display:none;
  @media screen and (max-width: @screen-laptop) {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 180px;
    margin-left: -90px;
  }
}
#home #mobilelogo{
  display: none;
}

.loginbar {
  transition: .4s;
  background: @blue3;
  max-height: 50px;
  padding: 10px 0;
  input[type="text"] {
    border: none;
    font-size: 10pt;
    padding: 0 10px;
    background: @lightgray;
    width: 130px;
    color: @darkgray;
    vertical-align: top;
  }
  input[type="submit"] {
    border: none;
    margin-left: -10px;
    margin-right: 20px;
    background: @lightgray;
    border-left: solid 1px darken(@lightgray, 10);
    padding: 0 5px;
    color: @gray;
    font-size: 12pt;
    vertical-align: top;

    &:hover {
      background: @gray;
      color: white;
    }
  }
  .btn {
    margin-top: -1px;
  }
  @media screen and (max-width: @screen-laptop) {
    input[type="text"], input[type="submit"] {
      float:left;
    }
  }
}

footer {
  background: url(images/az-subtle.png) @blue3;
  color: white;
  padding: 50px 0;
  font-size: 11pt;
  line-height: 16pt;
  .diagonalsoc {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: @orange;
    transform: rotate(45deg);
    text-align: center;
    display: inline-block;
    margin: 5px;
    a {
      display: block;
      background: none;
      transform: rotate(-45deg);
      text-shadow: none;
      margin: 5px 0 0 1px;
      &:hover {
        color: black;
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      margin-left: 10px;
      font-size: 80%;
    }
  }
  b {
    font-size: 110%;
    display: block;
    margin-bottom: 5px;
  }
  input[type="email"] {
    border: none;
    font-size: 10pt;
    padding: 0 10px;
    background: @lightgray;
    width: 130px;
    color: @darkgray;
    vertical-align: top;
  }
  input[type="submit"] {
    border: none;
    margin-left: -10px;
    margin-right: 20px;
    background: @lightgray;
    border-left: solid 1px darken(@lightgray, 10);
    padding: 0 5px;
    color: @gray;
    font-size: 12pt;
    vertical-align: top;

    &:hover {
      background: @gray;
      color: white;
    }
  }
  a {
    color: white;
    font-weight: normal;
    .fancylinks(@blue2, @blue3);
    background-position: 0 95%, 100% 95%, 0 95%;
    &:hover {
      color: @orange;
      background: none;
      text-decoration: none;
    }
    &.no-underline {
      background: none;
      text-decoration: none;
    }
    &.smalllink {
      font-size: 80%;
    }
  }
  @media screen and (max-width: @screen-desktop) {
    text-align: center;
    .row div {
      padding: 15px;
    }
  }
  @media screen and (max-width: @screen-tablet) {
    line-height: 140%;
    b {
      font-size: 16pt;
    }
  }
}

.popup-module {
  position: relative;
  color: #000;
  background: #FFF;
  padding: 30px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.fancylist {
  counter-reset: fancy-counter;
  padding-left: 0;
  li {
    margin-left: 10px;
    position: relative;
    list-style: none;
    padding: 10px 10px 20px 60px;
    font-size: 90%;
    line-height: normal;
    &:nth-child(even) {
      background: fade(darken(white, 7), 80);
    }
    &:nth-child(odd) {
      background: fade(darken(white, 2), 80);
    }
    &:before {
      position: absolute;
      width: 40px;
      top: 0;
      left: 0;
      height: 100%;
      text-align: right;
      padding: 10px 10px 0 0;
      content: counter(fancy-counter);
      counter-increment: fancy-counter;
      color: #fff;
      background: #000;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.75+100 */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
      opacity: .2;
      font-size: 9pt;
      font-weight: bold;
    }
    .img-col {
      padding-top: 10px;
    }
  }
}

.morecontent {
  display: none;
}

#deleteform {
  background: #f6f6f6;
  border: solid 1px #eee;
  padding: 0 10px 10px 10px;
}

.ecom_tbl {
  width: 100%;
  font-size: 110%;
  .note {
    font-size: 80%;
    line-height: 15px;
    display: block;
    color: @blue;
    margin-bottom: 10px;
  }
  input[type="text"], input[type="number"], select {
    width: 100%;
    border: none;
    height: 30px;
    option {
      border: none;
    }
  }
  textarea {
    width: 100%;
    color: #000;
    background: #eaeaea;
    border: none;
    padding: 0 10px;
    font-size: 80%;
  }
  th {
    font-size: 120%;
    padding: 5px;
    background: @blue;
    color: white;
    margin-top: 15px;
    label {
      margin-bottom: 0;
    }
  }
  td {
    vertical-align: top;
    padding: 3px 5px;
    border-top: @lightgray solid 1px;
    line-height: 15pt;
    &.labeltd {
      text-align: right;
      padding-top: 8px;
      .note {
        margin-top: 5px;
      }
    }
    &.note{
      display:table-cell;
    }
    .showmore, &.showmore {
      padding: 8px;
      background: #f3f3f3;
      border-top: solid 1px #ccc;
      font-size: 90%;
      textarea, input[type="text"], input[type="number"], select {
        background: white;
        margin-top: 3px;
        margin-bottom: 3px;
      }
      textarea {
        height: 90px;
      }
    }
    &.showmore{
      font-size: 100%;
      padding: 10px;
    }
  }
  .cart-option {
    font-size: 80%;
    line-height: 110%;
  }
  td:first-child {
    text-align: right;
  }
  td:last-child {
    text-align: left;
  }
}
#loadingscreen{
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  font-weight: bold;
  padding-top: 20vh;
  z-index: 10;
  text-align: center;
}

.reqstar {
  color: red;
}

.camper_tbl {
  width: 100%;
  th, td {
    padding: 3px 6px;
    text-align: left;
    line-height: 20px;
  }
  th {
    font-weight: bold;
    background: #efefef;
  }
  td {
    border-bottom: solid 1px #ddd;
  }
}

.subtotal {
  font-size: 16pt;
}

.price {
  font-size: 18pt;
  font-weight: bold;
}

.gallery-shift {
  @media screen and (max-width: @screen-tablet) {
    display: none;
  }
}

.diagonal-date-wrap {
  width: 100px;
  margin: -37px auto 10px auto;
  padding: 0;
  .diagonal-date {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 16px 0 0 17px;
    display: inline-block;
    overflow: visible;
  }
  .svgtext {
    position: absolute;
    top: 16px;
    width: 100px;
    text-align: center;
    font-size: 20pt;
    color: white;
    line-height: 20pt;
    .smalltext {
      font-size: 14pt;
      &.twomonths {
        font-size: 12pt;
        line-height: 10pt;
        margin-top: 8px;
      }
    }
  }
}
.event-page .diagonal-date-wrap {
  margin: -7px auto 10px auto;
}

.diagonal-image-wrap-single {
  width: 100px;
  margin: 0 auto;
  padding: 0;
  .diagonal-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 16px 0 0 17px;
    display: inline-block;
    overflow: visible;
  }
  .svgtext {
    position: absolute;
    top: 8px;
    width: 100px;
    text-align: center;
    font-size: 20pt;
    color: white;
    line-height: 20pt;
  }
}

.diagonal-image-wrap {
  .diagonal-image {
    width: 260px;
    height: 270px;
    display: inline-block;
    margin: -124px 4px 4px 4px;
    overflow: visible;
  }
  &.di3x {
    padding: 128px 0 0 0;
    .diagonal-image:nth-child(2n-1) {
      margin-left: 6px;
    }
    .diagonal-image:nth-child(2n) {
      margin-right: 320px;
    }
  }
  &.di5x {
    padding: 128px 0 0 0;
    .diagonal-image:nth-child(3n) {
      margin-left: 105px;
      margin-right: 105px;
    }
  }
  &.di7x {
    padding: 128px 0 0 0;
    .diagonal-image:nth-child(3n-2) {
      margin-left: 105px;
      margin-right: 105px;
    }
  }
  &.di8x {
    padding: 128px 0 0 0;
    .diagonal-image:nth-child(5n-1) {
      margin-left: 215px;
    }
    .diagonal-image:nth-child(6n-1) {
      margin-right: 215px;
    }
  }
  &.di13x {
    padding: 128px 0 0 0;
    margin-left: -126px;
    margin-right: -126px;
    .diagonal-image:nth-child(9n-8) {
      margin-left: 15px;
    }
    .diagonal-image:nth-child(9n-5) {
      margin-right: 15px;
    }
    .dibig {
      position: relative;
      margin: -224px 108px 104px -100px;
      z-index: 2;
    }
  }

  @media screen and (max-width: 1199px) {
    .diagonal-image {
      width: 220px;
      height: 240px;
      -webkit-transform: scale(.8);
      -moz-transform: scale(.8);
      -ms-transform: scale(.8);
      -o-transform: scale(.8);
      transform: scale(.8);
    }
  }
  @media screen and (max-width: @screen-tablet) {
    display: none;
  }
}

.give-gallery-upperpad {
  height: 320px;
}

.give-gallery-wrap {
  top: -320px;
  position: relative;
  height: 600px;
  margin-bottom: -420px;
  .col-sm-12 {
    height: 600px;
    margin-bottom: -420px;
  }
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.gallery-overflow {
  margin-top: -190px;
  margin-left: -60px;
  margin-right: -60px;
  bottom: -120px;
  position: relative;
  z-index: 1;
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.svgdefs {
  position: absolute;
}

.mountainscape {
  background: url("images/mountainpeaks-3.png") no-repeat bottom center #B7CDD6;
  min-height: 500px;
  @media screen and (max-width: @screen-tablet) {
    background-size: cover;
  }
}

//waves
.wavy-top-white {
  position: relative;
  &:before {
    content: ' ';
    height: 4px;
    background: url(images/wavy-top-white.png);
    position: absolute;
    top: -4px;
    right: 0;
    width: 100vw;
  }
}

.wavy-bottom-white {
  position: relative;
  &:after {
    content: ' ';
    height: 4px;
    background: url(images/wavy-bottom-white.png);
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 100vw;
  }
}

.wavy-top-blue {
  position: relative;
  &:before {
    content: ' ';
    height: 4px;
    background: url(images/wavy-top-blue.png);
    position: absolute;
    top: -4px;
    right: 0;
    width: 100vw;
  }
}

.wavy-bottom-blue {
  position: relative;
  &:after {
    content: ' ';
    height: 4px;
    background: url(images/wavy-bottom-blue.png);
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 100vw;
  }
}

.wavy-top-orange {
  position: relative;
  &:before {
    content: ' ';
    height: 4px;
    background: url(images/wavy-top-orange.png);
    position: absolute;
    top: -4px;
    right: 0;
    width: 100%;
  }
}

.background-downcurve {
  -webkit-mask-image: url(/images/mask-downcurve.png);
  mask-image: url(/images/mask-downcurve.png);
  -webkit-mask-position: bottom center;
  mask-position: bottom center;
}

.background-curve-sandwich {
  padding: 200px 0;
  margin: -200px 0;
}

.background-upcurve {
  -webkit-mask-image: url(/images/mask-upcurve.png);
  mask-image: url(/images/mask-upcurve.png);
  -webkit-mask-position: top center;
  mask-position: top center;
}

.orange-border-top {
  border-top: solid 2px @orange;
}

.intro-banner {
  min-height: 450px;
  background-position: center;
  background-image: url(/images/group-shot-at-fire.jpg);
}

.box-image {
  color: white;
  background-color: @blue3;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
  a.prm-btn {
    color: white !important;
  }
  .orange-overlay {
    background: fade(@orange2, 30);
    a {
      color: lighten(@orange, 20);
      &:hover {
        color: white;
      }
    }
  }
  .image-overlay {
    background: rgba(0, 0, 0, .7);

    a {
      color: lighten(@orange, 20);
      &:hover {
        color: white;
      }
    }
  }
  &.box-image-even {
    .col-md-7 {
      padding-right: 50px;
    }
  }
  &.box-image-odd {
    .col-md-7 {
      padding-left: 50px;
    }
    .image-overlay {
      background: rgba(40, 105, 134, .7);

      a {
        color: lighten(@brown, 10);
        &:hover {
          color: white;
        }
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  a {
    color: lighten(@brown, 10);
    &:hover {
      color: white;
    }
  }
}

.box-blue {
  color: white;
  background: @blue3;
  background-size: cover;
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  a {
    color: lighten(@brown, 10);
    &.prm-btn {
      color: white;
    }
    &:hover {
      color: white;
    }
  }
}

.box-lightblue {
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  background: url(images/new_year_background.png) top center @blue2;
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  .prm-btn {
    background-image: url(images/btn-back-white.png);
    color: black;
    &:hover {
      background-image: url(images/btn-back-hover.png);
    }
  }
  .form-element input[type="text"]:focus + label:not(.no_label), .form-element input[type="number"]:focus + label:not(.no_label), .form-element input[type="password"]:focus + label:not(.no_label), .form-element input[type="email"]:focus + label:not(.no_label), .form-element textarea:focus + label:not(.no_label), .form-element select:focus + label:not(.no_label), .form-element input[type="text"].hasvalue + label:not(.no_label), .form-element input[type="number"].hasvalue + label:not(.no_label), .form-element input[type="password"].hasvalue + label:not(.no_label), .form-element input[type="email"].hasvalue + label:not(.no_label), .form-element textarea.hasvalue + label:not(.no_label), .form-element select.hasvalue + label:not(.no_label) {
    color: white;
  }
  a {
    color: lighten(@brown, 10);
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  a.subtitle {
    color: white;
    text-decoration: none;
    .fancylinks(@blue3, @blue2);
    &:hover {
      color: #ccc;
    }
  }
}

.box-orange-texture {
  color: white;
  background: url(images/texture-orange-tree.png) top center @orange;
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
    .fancylinks(@lightgray, @orange);
    &:hover {
      color: @lightgray;
    }
  }
}

.panel-group .panel, .panel {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.panel-heading, .panel-default > .panel-heading {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  box-shadow: none;
  padding: 5px 0;
  a {
    color: white !important;
    text-decoration: none;
  }
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
  box-shadow: none;
}

.collapsible-item-title-link-icon:not(.collapsed) .glyphicon {
  transform: rotate(180deg);
  &:before {
    float: right;
    margin-left: 2px;
  }
}

.annoying-white-border {
  border: 3px solid transparent;
  padding: 25px;
  -webkit-border-image: url(images/annoyingborder.png) 3 stretch; /* Safari 3.1-5 */
  -o-border-image: url(images/annoyingborder.png) 3 stretch; /* Opera 11-12.1 */
  border-image: url(images/annoyingborder.png) 3 stretch;
  .diagonal-image-wrap-single {
    margin: 20px auto -88px auto;
  }
}

.wavy-border-white-blue {
  border: 3px solid transparent;
  background: white;
  color: black;
  line-height: 100%;
  padding: 25px;
  -webkit-border-image: url(images/white-wavy-border.png) 3 stretch; /* Safari 3.1-5 */
  -o-border-image: url(images/white-wavy-border.png) 3 stretch; /* Opera 11-12.1 */
  border-image: url(images/white-wavy-border.png) 3 stretch;
  a{
    color:@orange;
    &:hover{
      color:black;
    }
  }
}
.solid-event-contain{
  border: 3px solid transparent;
  background: #efefef;
  color: black;
  line-height: 100%;
  padding: 25px;
  margin-bottom:30px;
  height:100%;
}

.row.equalheights{

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  div[class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}


.bigquote {
  font-size: 60px;
  line-height: 18px;
  vertical-align: bottom;
}

.testimonial-text {
  font-size: 18px;
}

.testimonial-sig {
  font-size: 13px;
}

.camp-logo-menu {
  top: -97px;
  margin-bottom: -137px;
  position: relative;
  z-index: 1;
  .camp-logo-grid {
    display: inline-block;
    width: 180px;
    margin: 0 50px;

    @media screen and (max-width: @screen-tablet) {
      width: 100px;
      margin: 40px 30px;
    }
    @media screen and (max-width: @screen-phone) {
      width: 90px;
      margin: 45px 3px 30px 3px;
    }
  }
}

.hrsmall {
  background: url('images/hr.png') no-repeat;
  background-size: 100% 100%;
  height: 4px;
  margin: 20px 0;
  max-width: 180px;
}

.text-center .hrsmall {
  background: url('images/hr.png') no-repeat center;
  max-width: 100%;
}

.hrsmall-white {
  background: url('images/hr-white-ds.png') no-repeat;
  background-size: 100% 100%;
  height: 20px;
  max-width: 194px;
  margin: 10px 0 10px -5px;
}

.text-center .hrsmall-white {
  margin: 10px 0;
  background: url('images/hr-white-ds.png') no-repeat center;
  max-width: 100%;
}

.subtitle {
  font-size: 22pt;
  margin-bottom: 10px;
}

.fund-status-bar {
  background: @orange;
  position: relative;
  padding-right: 90px;
  margin: 25px 0;
  &.fund-full {
    background: @green;
    &:after {
      content: 'Funding Complete';
      position: absolute;
    }
    .fund-goal {
      border-color: @green;
    }
  }
  .fund-subtitle {
    font-size: 10px;
    margin-bottom: -13px;
  }
  .fund-status {
    background: @green;
    padding: 5px 10px;
    text-align: right;
    color: white;
    min-width: 110px;
  }
  .fund-goal {
    text-align: left;
    background: white;
    border: solid 1px @orange;
    padding: 4px 0 4px 10px;
    width: 90px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.fund-form {
  padding: 25px;
}

.ui-datepicker {
  font-size: 12pt;
}

.ds_gallery {
  .gallery {
    margin: 25px 0 0 25px;
    overflow: hidden;
    .pic_container {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 15px 0;
      line-height: normal;
      width: 24%;
      .description {
        font-size: 80%;
        font-weight: normal;
      }
      &:hover .description {
        text-decoration: none;
      }
      .pic {
        display: block;
        width: 96%;
        height: 200px;
        margin: 3px auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      .full-sized-pic {
        display: none;
      }
    }
  }

  @media screen and (max-width: 600px) {
    float: none;
    width: auto;
    .gallery {
      margin: 15px 0;
      .pic_container {
        width: 24%;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .gallery {
      .pic_container {
        width: 47%;
      }
    }
  }
}

.mfp-content {
  background: none;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  background: none;
}

.mfp-arrow:hover .mfp-arrow-left::after {
  border-color: @orange;
}

.mfp-arrow:hover .mfp-arrow-right::after {
  border-color: @orange;
}

@media screen and (max-width: @screen-desktop) {
  img {
    max-width: 100%;
    height: auto !important;
  }
}

@media screen and (max-width: @screen-tablet) {
  .hidden-sm {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  html {
    background-image: none !important;
  }

  table {
    width: 100%;
    max-width: 100%;
  }

  table td {
    display: block;
    padding: 3px 0;
  }

  .gallery .pic_container {
    width: 100%
  }

}
