@charset "utf-8";
/* CSS Document */
.btn.btn-navbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .btn.btn-navbar {
    z-index: 100;
    display: block;
    position: fixed;
    font-size: 18px;
    height: 40px;
    width: 40px;
    top: 20px;
    right: 20px;
    font-weight: bold;
    text-align: left;
    background: #7B340A;
    border: none;
    border-radius: 0;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .btn.btn-navbar:hover,
  .btn.btn-navbar:focus {
    background: #7B340A;
  }
  .btn.btn-navbar.open {
    background: #7B340A;
  }
  .btn.btn-navbar.open .menu_hamburger .lines {
    background: transparent;
  }
  .btn.btn-navbar.open .menu_hamburger .lines:before,
  .btn.btn-navbar.open .menu_hamburger .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 2.5rem;
  }
  .btn.btn-navbar.open .menu_hamburger .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  .btn.btn-navbar.open .menu_hamburger .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
  .btn.btn-navbar .menu_hamburger {
    transition: 0.4s;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -2px;
    margin-left: -2px;
  }
  .btn.btn-navbar .menu_hamburger:active {
    transition: 0s;
  }
  .btn.btn-navbar .menu_hamburger .lines {
    display: inline-block;
    width: 2.5rem;
    height: 0.37143rem;
    background: white;
    border-radius: 0.28571rem;
    transition: 0.4s;
    position: relative;
  }
  .btn.btn-navbar .menu_hamburger .lines:before,
  .btn.btn-navbar .menu_hamburger .lines:after {
    display: inline-block;
    width: 2.5rem;
    height: 0.37143rem;
    background: white;
    border-radius: 0.28571rem;
    transition: 0.4s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.28571rem center;
    transform-origin: 0.28571rem center;
  }
  .btn.btn-navbar .menu_hamburger .lines:before {
    top: 1rem;
  }
  .btn.btn-navbar .menu_hamburger .lines:after {
    top: -1rem;
  }
}
.navbar {
  transition: .4s;
  margin-bottom: 0;
  background: none;
  border: none;
  border-radius: 0;
  position: inherit;
  background: #F37035;
  max-height: 80px;
  height: auto;
  min-height: 0;
}
.navbar .navbar-collapse {
  border: none;
}
.navbar .nav {
  padding: 0;
  list-style: none;
}
.navbar .nav.navbar-collapse {
  margin-right: 0;
}
.navbar .nav ul {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
.navbar .nav ul li {
  display: inline-block;
  list-style: none;
  padding-bottom: 5px;
  padding-top: 2px;
}
.navbar .nav ul li:hover .dropdown-menu {
  transition: .4s;
  right: 0;
}
.navbar .nav ul li a {
  color: #fcd6c5;
  text-decoration: none;
  font-family: 'Prompt', sans-serif;
  display: inline-block;
  font-size: 12pt;
  margin-bottom: 0;
  padding: 22px 25px;
  letter-spacing: 1px;
}
.navbar .nav ul li a.dropdown-toggle {
  padding: 22px 0;
  margin-left: -15px;
}
.navbar .nav ul li.current > a,
.navbar .nav ul li:hover > a {
  color: white;
  text-decoration: none;
}
.navbar .nav ul li ul li a {
  text-transform: none;
}
.navbar .nav ul li ul li.current,
.navbar .nav ul li ul li:hover {
  border-bottom: none;
}
.navbar .nav ul li ul li.current > a,
.navbar .nav ul li ul li:hover > a {
  margin-left: 0;
  margin-bottom: 0;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
  background: none;
  text-decoration: none;
  color: white;
}
.navbar .nav .dropdown .dropdown-menu {
  border: none;
  display: none;
  background: #F37035;
  position: absolute;
  top: 77px;
  box-shadow: none;
  padding-top: 0;
  margin: 0;
  min-width: 200px;
  width: 100%;
}
.navbar .nav .dropdown .dropdown-menu .dropdown-menu {
  display: none;
}
.navbar .nav .dropdown .dropdown-menu li {
  display: block;
  padding-left: 0;
  margin-left: 0;
  text-align: left;
  margin-bottom: 0;
  line-height: 16px;
}
.navbar .nav .dropdown .dropdown-menu li a {
  font-size: 14pt;
  padding: 6px 25px;
}
.navbar .nav .dropdown .dropdown-menu li ul {
  padding-left: 0;
}
.navbar .nav .dropdown .dropdown-menu li.current a,
.navbar .nav .dropdown .dropdown-menu > li ul li.current a,
.navbar .nav .dropdown .dropdown-menu li a:hover,
.navbar .nav .dropdown .dropdown-menu > li ul li a:hover {
  border: none;
}
.navbar .nav .dropdown .dropdown-menu li a,
.navbar .nav .dropdown .dropdown-menu > li ul li a {
  display: block;
  font-size: 12pt;
}
.navbar .nav .dropdown .dropdown-menu > li > a {
  white-space: normal;
}
.navbar .nav .dropdown.open .dropdown-menu {
  display: block;
}
.navbar .nav .dropdown.open .dropdown-menu .dropdown-toggle {
  display: none;
}
.navbar .nav .dropdown.open .dropdown-menu .dropdown-menu {
  position: relative;
  top: auto;
  display: block;
  padding-left: 10px;
}
.navbar .nav .dropdown.open .dropdown-menu .dropdown-menu li a {
  font-size: 10pt;
  padding: 3px 10px 3px 25px;
}
@media screen and (max-width: 992px) {
  .navbar .nav {
    width: 100%;
  }
  .navbar .nav ul li {
    padding-left: 0;
  }
  .navbar .nav ul li a {
    font-size: 10pt;
    padding: 22px 11px;
  }
}
.nav-narrow {
  background: #F37035;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: auto;
  display: none;
}
.nav-narrow > ul:last-child li:last-child {
  border-bottom: dashed 1px white;
}
.nav-narrow #logo {
  width: 90px;
}
.nav-narrow .dropdown-toggle {
  display: none;
}
.nav-narrow .dropdown-menu {
  display: block;
  position: relative;
  float: none;
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}
.nav-narrow .dropdown-menu ul {
  padding: 0;
}
.nav-narrow .dropdown-menu ul li {
  border-bottom: none;
  border-top: 1px dashed #eaeaea;
}
.nav-narrow .dropdown-menu ul li a {
  color: #fef8f6;
  font-weight: normal;
}
.nav-narrow ul {
  margin: 0;
  padding: 0 20%;
  list-style: none;
}
.nav-narrow ul li {
  padding: 0;
  border-top: dashed 1px #eaeaea;
}
.nav-narrow ul li a {
  padding: 2px 10px;
  font-size: 12pt;
  text-decoration: none;
  color: white;
  display: block;
}
.nav-narrow ul li a:hover {
  background: #f7a37d;
  color: white;
}
@media screen and (max-width: 768px) {
  .navbar-default {
    text-align: left;
    margin: 0 0 20px 0;
    padding: 0;
    border-radius: 0;
  }
  .navbar-default #nav {
    border-bottom: none;
    padding: 0 0 50px 0;
    text-align: left;
  }
  .navbar-default #nav ul {
    padding: 0;
    text-align: left;
  }
  .navbar-default #nav ul li {
    margin: 0;
    display: block;
  }
  .navbar-default #nav ul li a {
    display: block;
    margin: 0;
    width: 100%;
  }
  .navbar-default #nav ul li a i {
    margin-left: 5px;
  }
  .navbar-default #nav ul li .dropdown-menu {
    position: relative;
    text-align: left;
    float: none;
  }
  .navbar-default #nav ul li .dropdown-menu li a {
    text-align: left;
  }
  .navbar-default #nav .dropdown-toggle {
    float: right;
    margin-top: -57px;
    padding: 0;
  }
  .navbar-default #nav .dropdown-toggle a {
    padding: 0;
    margin: 0;
  }
  .navbar-default #nav .dropdown-toggle i {
    line-height: 57px;
    padding: 0 26px 0 13px;
    background: #5F6B71;
    color: #FFF;
  }
}
strong,
b,
.bold {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
/* Clear fix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}
/*  For IE 6/7 only  Include this rule to trigger hasLayout and contain floats.  */
.cf {
  *zoom: 1;
}
/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"],
img[src*="googleapis.com/"] {
  max-width: none;
}
.reveal-down,
.reveal-right,
.reveal-left,
.reveal-up {
  visibility: hidden;
}
.rightlink {
  display: block;
  text-align: right;
}
.right {
  text-align: right;
}
.rightimg {
  float: right;
  margin: 10px 0 10px 10px;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
}
.responsive_only {
  display: none;
}
html {
  min-height: 100%;
  height: 100%;
  background: white;
}
body {
  min-height: 100%;
  min-width: 100%;
  font-family: 'Prompt', sans-serif;
  font-size: 11pt;
  line-height: 22pt;
  color: #023144;
  text-align: left;
  overflow-x: hidden;
}
#container {
  background: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
}
img {
  max-width: 100%;
  height: auto !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #023144;
}
h1,
.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  h1,
  .jumbotron h1 {
    font-size: 40px;
  }
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 27px;
  }
}
h3 {
  font-size: 20pt;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 18pt;
  }
}
h4 {
  font-size: 18pt;
}
h5 {
  font-size: 16pt;
  color: #286987;
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 15pt;
  }
}
h6 {
  font-size: 14pt;
  color: #286987;
}
.sidebar_title {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 10px;
}
.sidebar_subtitle {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 10px;
  color: #F37035;
}
a {
  transition: .2s;
  color: #F37035;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:focus {
  color: black;
  text-decoration: underline;
}
ul {
  list-style: square;
}
#copyrights {
  font-size: 11px;
  line-height: 12px;
  padding-top: 25px;
}
.prm-btn,
.btn,
button,
input[type="submit"],
.stripe-button-el {
  padding: 4px 20px;
  font-size: 12pt;
  font-weight: normal;
  color: white;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-shadow: none;
  display: inline-block;
  background: #286987;
}
.prm-btn:hover,
.btn:hover,
button:hover,
input[type="submit"]:hover,
.stripe-button-el:hover {
  text-decoration: none;
  background: #F37035;
  color: white;
}
.prm-btn:focus,
.btn:focus,
button:focus,
input[type="submit"]:focus,
.stripe-button-el:focus {
  color: white;
  text-decoration: none;
}
.prm-btn.small-btn,
.btn.small-btn,
button.small-btn,
input[type="submit"].small-btn,
.stripe-button-el.small-btn {
  font-size: 100%;
  line-height: 20px;
  padding: 5px 15px;
}
button.mfp-close:hover {
  background: none;
  color: #F37035;
}
.prm-btn {
  padding: 5px 20px;
  background: url(/images/btn-back.png) no-repeat;
  background-size: 100% 100%;
}
.prm-btn:hover {
  color: white;
  transform: scale(1.1);
  background: url(/images/btn-back-hover.png) no-repeat;
  background-size: 100% 100%;
}
.small-btn {
  font-size: 100%;
  line-height: 20px;
}
.small-text {
  font-size: 80%;
  line-height: normal;
}
.mfp-content {
  background: white;
  max-width: 400px;
  color: black;
  padding: 10px;
}
.tooltip,
.ui-tooltip,
.tooltip-inner {
  max-width: 400px;
  width: 400px;
}
.halfpad {
  padding: 20px 0;
}
.pad {
  padding: 40px 15px;
}
.pad-bottom {
  padding-bottom: 40px;
}
.pad-top {
  padding-bottom: 40px;
}
select,
input[type="text"] {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 80%;
}
input[type="submit"].full-width {
  display: block;
  width: 100%;
}
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  color: #000;
  background: #eaeaea;
  border: solid #777 1px;
  padding: 0 10px;
  font-size: 80%;
}
select.error,
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="number"].error,
textarea.error {
  border: solid red 1px;
  background: #FFD2D2;
}
textarea {
  vertical-align: top;
}
label.error {
  color: red;
  display: block;
  font-size: 10px;
  line-height: normal;
}
.ch-label {
  margin-right: 10px;
}
input[type="checkbox"] + label:not(.no_label) {
  display: inline-block;
  width: 19px;
  height: 19px;
  float: left;
  margin: 7px 0 0 -28px;
  cursor: pointer;
  border: solid 2px #777;
  border-radius: 2px;
  color: #777;
  position: relative;
  font-weight: normal;
  background: white;
}
input[type="checkbox"]:checked + label:not(.no_label):after {
  font-family: 'FontAwesome';
  content: '';
  position: absolute;
  top: -8px;
  font-size: 10pt;
}
input[type="checkbox"]:disabled + label:not(.no_label) {
  border-color: #999;
}
input[type="checkbox"]:disabled + label:not(.no_label):after {
  color: #999;
  content: '';
  position: absolute;
  top: -5px;
  left: 1px;
  font-size: 10pt;
}
.form-select {
  padding-bottom: 10px;
}
.form-element {
  position: relative;
  padding: 0;
  margin: 20px 0;
  background: #eaeaea;
  font-size: 0;
  line-height: 0;
}
.form-element select {
  font-size: 14px;
  width: 100%;
  line-height: 32px;
  height: 32px;
}
.form-element input[type="text"],
.form-element input[type="number"],
.form-element input[type="password"],
.form-element input[type="email"],
.form-element textarea,
.form-element select {
  position: relative;
  background: none;
  width: 100%;
  z-index: 1;
  font-size: 12pt;
  line-height: 32px;
}
.form-element input[type="text"].hasvalue:focus + label:not(.no_label),
.form-element input[type="number"].hasvalue:focus + label:not(.no_label),
.form-element input[type="password"].hasvalue:focus + label:not(.no_label),
.form-element input[type="email"].hasvalue:focus + label:not(.no_label),
.form-element textarea.hasvalue:focus + label:not(.no_label),
.form-element select.hasvalue:focus + label:not(.no_label) {
  display: block;
}
.form-element input[type="text"]:focus + label:not(.no_label),
.form-element input[type="number"]:focus + label:not(.no_label),
.form-element input[type="password"]:focus + label:not(.no_label),
.form-element input[type="email"]:focus + label:not(.no_label),
.form-element textarea:focus + label:not(.no_label),
.form-element select:focus + label:not(.no_label),
.form-element input[type="text"].hasvalue + label:not(.no_label),
.form-element input[type="number"].hasvalue + label:not(.no_label),
.form-element input[type="password"].hasvalue + label:not(.no_label),
.form-element input[type="email"].hasvalue + label:not(.no_label),
.form-element textarea.hasvalue + label:not(.no_label),
.form-element select.hasvalue + label:not(.no_label) {
  top: -8px;
  left: 0;
  color: #777;
  font-size: 8pt;
  font-style: italic;
}
.form-element input[type="text"]:focus + label:not(.no_label) i,
.form-element input[type="number"]:focus + label:not(.no_label) i,
.form-element input[type="password"]:focus + label:not(.no_label) i,
.form-element input[type="email"]:focus + label:not(.no_label) i,
.form-element textarea:focus + label:not(.no_label) i,
.form-element select:focus + label:not(.no_label) i,
.form-element input[type="text"].hasvalue + label:not(.no_label) i,
.form-element input[type="number"].hasvalue + label:not(.no_label) i,
.form-element input[type="password"].hasvalue + label:not(.no_label) i,
.form-element input[type="email"].hasvalue + label:not(.no_label) i,
.form-element textarea.hasvalue + label:not(.no_label) i,
.form-element select.hasvalue + label:not(.no_label) i {
  font-size: 10pt;
  float: left;
  margin-left: -20px;
  margin-top: 17px;
  color: black;
}
.form-element label:not(.no_label) {
  position: absolute;
  top: 17px;
  left: 10px;
  color: rgba(119, 119, 119, 0.55);
  font-size: 10pt;
  font-style: italic;
  transition: 2ms;
}
.form-element label:not(.no_label) i {
  transition: 0ms;
  float: left;
  margin-left: -30px;
  margin-top: -7px;
  color: black;
}
.form-element label.error {
  left: auto;
  right: 0;
  top: -16px;
  color: red;
  display: block;
  margin-bottom: 5px;
  text-align: right;
}
.form-element.inline-element {
  display: inline-block;
}
.form-element.inline-element input[type="text"],
.form-element.inline-element input[type="password"],
.form-element.inline-element input[type="email"] {
  display: inline-block;
  width: 150px;
}
.form-element.inline-element input[type="text"].hasvalue:focus + label:not(.no_label),
.form-element.inline-element input[type="password"].hasvalue:focus + label:not(.no_label),
.form-element.inline-element input[type="email"].hasvalue:focus + label:not(.no_label) {
  display: block;
}
.form-element.inline-element input[type="text"]:focus + label:not(.no_label),
.form-element.inline-element input[type="password"]:focus + label:not(.no_label),
.form-element.inline-element input[type="email"]:focus + label:not(.no_label),
.form-element.inline-element input[type="text"].hasvalue + label:not(.no_label),
.form-element.inline-element input[type="password"].hasvalue + label:not(.no_label),
.form-element.inline-element input[type="email"].hasvalue + label:not(.no_label) {
  top: -8px;
  left: 0;
  color: #777;
  font-size: 8pt;
  font-style: italic;
}
.selectboxit-container a {
  background: #fff;
  color: #666;
  border: none;
  padding: 0;
  margin: 0;
}
.selectboxit-container,
.container-holder #sidebar .selectboxit-container {
  color: #000;
}
.selectboxit-container .selectboxit,
.container-holder #sidebar .selectboxit-container .selectboxit {
  border-radius: 0;
}
.selectboxit-container .selectboxit .selectboxit-option-icon-container,
.container-holder #sidebar .selectboxit-container .selectboxit .selectboxit-option-icon-container {
  margin-left: 0;
}
.selectboxit-container .selectboxit-option-first,
.container-holder #sidebar .selectboxit-container .selectboxit-option-first {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.selectboxit-container .selectboxit-options,
.container-holder #sidebar .selectboxit-container .selectboxit-options {
  border-radius: 0;
  border: none;
  background: transparent;
  min-width: 197px !important;
  width: 197px !important;
  z-index: 999;
  box-shadow: -9px 15px 16px -7px #777;
}
.selectboxit-container .selectboxit-options .selectboxit-option,
.container-holder #sidebar .selectboxit-container .selectboxit-options .selectboxit-option {
  border-top: 1px solid #F37035;
  width: 187px;
  height: auto;
  text-indent: 0;
}
.selectboxit-container .selectboxit-options .selectboxit-option.selectboxit-disabled,
.container-holder #sidebar .selectboxit-container .selectboxit-options .selectboxit-option.selectboxit-disabled {
  display: none;
}
.selectboxit-container .selectboxit-options .selectboxit-option a,
.container-holder #sidebar .selectboxit-container .selectboxit-options .selectboxit-option a {
  white-space: normal;
  line-height: normal;
  text-shadow: none;
  height: auto;
  padding: 8px;
  background: #eaeaea;
  color: black;
}
.selectboxit-container .selectboxit-options .selectboxit-option a:hover,
.container-holder #sidebar .selectboxit-container .selectboxit-options .selectboxit-option a:hover {
  background: #F37035;
  color: white;
}
.selectboxit-container .selectboxit-options .selectboxit-option a span,
.container-holder #sidebar .selectboxit-container .selectboxit-options .selectboxit-option a span {
  display: none;
}
.selectboxit-container .selectboxit-options .selectboxit-option span,
.container-holder #sidebar .selectboxit-container .selectboxit-options .selectboxit-option span {
  height: 30px;
  line-height: 30px;
}
.selectboxit-container span,
.container-holder #sidebar .selectboxit-container span {
  height: 40px;
  line-height: 40px;
}
.selectboxit-container .selectboxit-btn,
.container-holder #sidebar .selectboxit-container .selectboxit-btn {
  background: #777;
  border: none;
}
.selectboxit-container .selectboxit-text,
.container-holder #sidebar .selectboxit-container .selectboxit-text {
  width: 199px;
  text-align: left;
  font-weight: bold;
  background: white;
  border-right: solid 10px #777;
}
.selectboxit-container .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor,
.container-holder #sidebar .selectboxit-container .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  background: #F37035;
}
@media screen and (max-width: 1170px) {
  .selectboxit-container .selectboxit-text,
  .container-holder #sidebar .selectboxit-container .selectboxit-text {
    width: 179px;
  }
  .selectboxit-container .selectboxit-options .selectboxit-option,
  .container-holder #sidebar .selectboxit-container .selectboxit-options .selectboxit-option {
    width: 169px;
  }
}
@media screen and (max-width: 992px) {
  .selectboxit-container .selectboxit-text,
  .container-holder #sidebar .selectboxit-container .selectboxit-text {
    width: 219px;
  }
  .selectboxit-container .selectboxit-options .selectboxit-option,
  .container-holder #sidebar .selectboxit-container .selectboxit-options .selectboxit-option {
    width: 209px;
  }
}
.selectboxit-arrow-container {
  background: #F37035;
  color: white;
  width: 40px;
  padding: 0 5px;
}
.selectboxit-arrow-container .selectboxit-arrow {
  display: none;
}
.selectboxit-arrow-container:after {
  font-family: 'FontAwesome';
  content: '';
  margin-left: 9px;
}
#parallax-banner {
  background: #7B340A;
  position: relative;
  overflow: hidden;
}
#parallax-banner .banner-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  transform-origin: bottom center;
}
#parallax-banner #ground-layer {
  height: 971px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url('images/banner/hero8.png') top center;
}
#parallax-banner {
  height: 971px;
  background: url('images/banner/hero1.png') #D4B493 top center fixed;
  background-size: cover;
}
#parallax-banner .banner-layer {
  height: 971px;
  background-size: auto 100%;
  background-repeat: repeat-x !important;
}
#parallax-banner .banner-layer#layer2 {
  background: url('images/banner/hero2.png') bottom center;
}
#parallax-banner .banner-layer#layer3 {
  background: url('images/banner/hero3.png') bottom center;
}
#parallax-banner .banner-layer#layer4 {
  background: url('images/banner/hero4.png') bottom center no-repeat;
}
#parallax-banner .banner-layer#layer5 {
  background: url('images/banner/hero5.png') bottom center no-repeat;
}
#parallax-banner .banner-layer#layer6 {
  background: url('images/banner/hero6.png') bottom center;
}
#parallax-banner .banner-layer#layer7 {
  background: url('images/banner/hero7.png') bottom center;
}
@media screen and (max-width: 768px) {
  #parallax-banner {
    background: url('images/banner/mobilehero.jpg') bottom center no-repeat;
    background-size: cover;
    height: 771px;
  }
  #parallax-banner .banner-layer {
    display: none;
  }
}
.banner-text {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 20px;
  font-size: 16pt;
  line-height: 120%;
  color: #023144;
  z-index: 10;
}
.banner-text .col-md-6 {
  padding-left: 60px;
}
.banner-text .banner-logo {
  width: 150px;
  margin-bottom: 10px;
  margin-left: -40px;
}
.banner-text a {
  color: #286987;
}
.banner-text a:hover {
  color: black;
}
@media screen and (max-width: 768px) {
  .banner-text {
    font-size: 14pt;
    text-align: center;
  }
  .banner-text .col-md-6 {
    padding-left: 15px;
  }
  .banner-text .banner-logo {
    margin: 20px 0;
  }
}
#headerwrap {
  background: black;
  height: 130px;
}
@media screen and (max-width: 768px) {
  #headerwrap {
    height: auto;
  }
}
header {
  transition: .4s;
}
header #logo {
  transition: .4s;
  margin-top: -45px;
  z-index: 100;
  position: relative;
}
@media screen and (max-width: 1199px) {
  header #logo {
    margin-top: -27px;
  }
}
@media screen and (max-width: 992px) {
  header #logo {
    margin-top: -10px;
  }
}
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header.sticky .navbar {
  width: 100%;
  max-height: 50px;
}
header.sticky .navbar .nav ul li a {
  padding: 7px 25px;
}
header.sticky .navbar .nav ul li a.dropdown-toggle {
  padding: 7px 0;
}
header.sticky .navbar .nav .dropdown .dropdown-menu {
  top: 47px;
}
header.sticky .navbar #logo {
  max-width: 80%;
}
header.sticky .loginbar {
  max-height: 35px;
  padding: 5px 0;
}
header.sticky .loginbar input[type="text"],
header.sticky .loginbar input[type="submit"] {
  height: 25px;
}
header.sticky .loginbar .btn {
  height: 25px;
  padding: 1px 20px;
  margin-top: -5px;
}
@media screen and (max-width: 992px) {
  header.sticky .navbar .nav ul li a {
    padding: 7px 11px;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 0;
  }
  header #logo {
    width: 90px;
    top: 2px;
    left: 0;
  }
  header.sticky .navbar {
    height: 0;
  }
}
.header-narrow {
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  margin-top: -10px;
  display: none;
}
.header-narrow.open {
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .header-narrow {
    display: block;
  }
}
#home header #logo {
  margin: -91px -50px 0 -50px;
  max-width: 150%;
}
#home header.sticky #logo {
  margin-top: -45px;
  max-width: 80%;
}
@media screen and (max-width: 768px) {
  #home header.sticky #logo {
    margin-top: 0;
  }
}
@media screen and (max-width: 992px) {
  #home header #logo {
    margin: -10px -40px 0 -40px;
    max-width: 100%;
  }
  #home header.sticky #logo {
    margin-top: -17px;
  }
}
#mobilelogo {
  display: none;
}
@media screen and (max-width: 992px) {
  #mobilelogo {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 180px;
    margin-left: -90px;
  }
}
#home #mobilelogo {
  display: none;
}
.loginbar {
  transition: .4s;
  background: #023144;
  max-height: 50px;
  padding: 10px 0;
}
.loginbar input[type="text"] {
  border: none;
  font-size: 10pt;
  padding: 0 10px;
  background: #eaeaea;
  width: 130px;
  color: #333;
  vertical-align: top;
}
.loginbar input[type="submit"] {
  border: none;
  margin-left: -10px;
  margin-right: 20px;
  background: #eaeaea;
  border-left: solid 1px #d0d0d0;
  padding: 0 5px;
  color: #777;
  font-size: 12pt;
  vertical-align: top;
}
.loginbar input[type="submit"]:hover {
  background: #777;
  color: white;
}
.loginbar .btn {
  margin-top: -1px;
}
@media screen and (max-width: 992px) {
  .loginbar input[type="text"],
  .loginbar input[type="submit"] {
    float: left;
  }
}
footer {
  background: url(images/az-subtle.png) #023144;
  color: white;
  padding: 50px 0;
  font-size: 11pt;
  line-height: 16pt;
}
footer .diagonalsoc {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: #F37035;
  transform: rotate(45deg);
  text-align: center;
  display: inline-block;
  margin: 5px;
}
footer .diagonalsoc a {
  display: block;
  background: none;
  transform: rotate(-45deg);
  text-shadow: none;
  margin: 5px 0 0 1px;
}
footer .diagonalsoc a:hover {
  color: black;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  color: white;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul ul {
  margin-left: 10px;
  font-size: 80%;
}
footer b {
  font-size: 110%;
  display: block;
  margin-bottom: 5px;
}
footer input[type="email"] {
  border: none;
  font-size: 10pt;
  padding: 0 10px;
  background: #eaeaea;
  width: 130px;
  color: #333;
  vertical-align: top;
}
footer input[type="submit"] {
  border: none;
  margin-left: -10px;
  margin-right: 20px;
  background: #eaeaea;
  border-left: solid 1px #d0d0d0;
  padding: 0 5px;
  color: #777;
  font-size: 12pt;
  vertical-align: top;
}
footer input[type="submit"]:hover {
  background: #777;
  color: white;
}
footer a {
  color: white;
  font-weight: normal;
  background: linear-gradient(#023144, #023144), linear-gradient(#023144, #023144), linear-gradient(#286987, #286987);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #023144, -0.03em 0 #023144, 0 0.03em #023144, 0 -0.03em #023144, 0.06em 0 #023144, -0.06em 0 #023144, 0.09em 0 #023144, -0.09em 0 #023144, 0.12em 0 #023144, -0.12em 0 #023144, 0.15em 0 #023144, -0.15em 0 #023144;
  background-position: 0 85%, 100% 85%, 0 85%;
  text-decoration: none;
  background-position: 0 95%, 100% 95%, 0 95%;
}
footer a:hover {
  color: #F37035;
  background: none;
  text-decoration: none;
}
footer a.no-underline {
  background: none;
  text-decoration: none;
}
footer a.smalllink {
  font-size: 80%;
}
@media screen and (max-width: 1170px) {
  footer {
    text-align: center;
  }
  footer .row div {
    padding: 15px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    line-height: 140%;
  }
  footer b {
    font-size: 16pt;
  }
}
.popup-module {
  position: relative;
  color: #000;
  background: #FFF;
  padding: 30px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.fancylist {
  counter-reset: fancy-counter;
  padding-left: 0;
}
.fancylist li {
  margin-left: 10px;
  position: relative;
  list-style: none;
  padding: 10px 10px 20px 60px;
  font-size: 90%;
  line-height: normal;
}
.fancylist li:nth-child(even) {
  background: rgba(237, 237, 237, 0.8);
}
.fancylist li:nth-child(odd) {
  background: rgba(250, 250, 250, 0.8);
}
.fancylist li:before {
  position: absolute;
  width: 40px;
  top: 0;
  left: 0;
  height: 100%;
  text-align: right;
  padding: 10px 10px 0 0;
  content: counter(fancy-counter);
  counter-increment: fancy-counter;
  color: #fff;
  background: #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.75+100 */
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-9 */
  opacity: .2;
  font-size: 9pt;
  font-weight: bold;
}
.fancylist li .img-col {
  padding-top: 10px;
}
.morecontent {
  display: none;
}
#deleteform {
  background: #f6f6f6;
  border: solid 1px #eee;
  padding: 0 10px 10px 10px;
}
.ecom_tbl {
  width: 100%;
  font-size: 110%;
}
.ecom_tbl .note {
  font-size: 80%;
  line-height: 15px;
  display: block;
  color: #709baf;
  margin-bottom: 10px;
}
.ecom_tbl input[type="text"],
.ecom_tbl input[type="number"],
.ecom_tbl select {
  width: 100%;
  border: none;
  height: 30px;
}
.ecom_tbl input[type="text"] option,
.ecom_tbl input[type="number"] option,
.ecom_tbl select option {
  border: none;
}
.ecom_tbl textarea {
  width: 100%;
  color: #000;
  background: #eaeaea;
  border: none;
  padding: 0 10px;
  font-size: 80%;
}
.ecom_tbl th {
  font-size: 120%;
  padding: 5px;
  background: #709baf;
  color: white;
  margin-top: 15px;
}
.ecom_tbl th label {
  margin-bottom: 0;
}
.ecom_tbl td {
  vertical-align: top;
  padding: 3px 5px;
  border-top: #eaeaea solid 1px;
  line-height: 15pt;
}
.ecom_tbl td.labeltd {
  text-align: right;
  padding-top: 8px;
}
.ecom_tbl td.labeltd .note {
  margin-top: 5px;
}
.ecom_tbl td.note {
  display: table-cell;
}
.ecom_tbl td .showmore,
.ecom_tbl td.showmore {
  padding: 8px;
  background: #f3f3f3;
  border-top: solid 1px #ccc;
  font-size: 90%;
}
.ecom_tbl td .showmore textarea,
.ecom_tbl td.showmore textarea,
.ecom_tbl td .showmore input[type="text"],
.ecom_tbl td.showmore input[type="text"],
.ecom_tbl td .showmore input[type="number"],
.ecom_tbl td.showmore input[type="number"],
.ecom_tbl td .showmore select,
.ecom_tbl td.showmore select {
  background: white;
  margin-top: 3px;
  margin-bottom: 3px;
}
.ecom_tbl td .showmore textarea,
.ecom_tbl td.showmore textarea {
  height: 90px;
}
.ecom_tbl td.showmore {
  font-size: 100%;
  padding: 10px;
}
.ecom_tbl .cart-option {
  font-size: 80%;
  line-height: 110%;
}
.ecom_tbl td:first-child {
  text-align: right;
}
.ecom_tbl td:last-child {
  text-align: left;
}
#loadingscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  font-weight: bold;
  padding-top: 20vh;
  z-index: 10;
  text-align: center;
}
.reqstar {
  color: red;
}
.camper_tbl {
  width: 100%;
}
.camper_tbl th,
.camper_tbl td {
  padding: 3px 6px;
  text-align: left;
  line-height: 20px;
}
.camper_tbl th {
  font-weight: bold;
  background: #efefef;
}
.camper_tbl td {
  border-bottom: solid 1px #ddd;
}
.subtotal {
  font-size: 16pt;
}
.price {
  font-size: 18pt;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .gallery-shift {
    display: none;
  }
}
.diagonal-date-wrap {
  width: 100px;
  margin: -37px auto 10px auto;
  padding: 0;
}
.diagonal-date-wrap .diagonal-date {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 16px 0 0 17px;
  display: inline-block;
  overflow: visible;
}
.diagonal-date-wrap .svgtext {
  position: absolute;
  top: 16px;
  width: 100px;
  text-align: center;
  font-size: 20pt;
  color: white;
  line-height: 20pt;
}
.diagonal-date-wrap .svgtext .smalltext {
  font-size: 14pt;
}
.diagonal-date-wrap .svgtext .smalltext.twomonths {
  font-size: 12pt;
  line-height: 10pt;
  margin-top: 8px;
}
.event-page .diagonal-date-wrap {
  margin: -7px auto 10px auto;
}
.diagonal-image-wrap-single {
  width: 100px;
  margin: 0 auto;
  padding: 0;
}
.diagonal-image-wrap-single .diagonal-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 16px 0 0 17px;
  display: inline-block;
  overflow: visible;
}
.diagonal-image-wrap-single .svgtext {
  position: absolute;
  top: 8px;
  width: 100px;
  text-align: center;
  font-size: 20pt;
  color: white;
  line-height: 20pt;
}
.diagonal-image-wrap .diagonal-image {
  width: 260px;
  height: 270px;
  display: inline-block;
  margin: -124px 4px 4px 4px;
  overflow: visible;
}
.diagonal-image-wrap.di3x {
  padding: 128px 0 0 0;
}
.diagonal-image-wrap.di3x .diagonal-image:nth-child(2n-1) {
  margin-left: 6px;
}
.diagonal-image-wrap.di3x .diagonal-image:nth-child(2n) {
  margin-right: 320px;
}
.diagonal-image-wrap.di5x {
  padding: 128px 0 0 0;
}
.diagonal-image-wrap.di5x .diagonal-image:nth-child(3n) {
  margin-left: 105px;
  margin-right: 105px;
}
.diagonal-image-wrap.di7x {
  padding: 128px 0 0 0;
}
.diagonal-image-wrap.di7x .diagonal-image:nth-child(3n-2) {
  margin-left: 105px;
  margin-right: 105px;
}
.diagonal-image-wrap.di8x {
  padding: 128px 0 0 0;
}
.diagonal-image-wrap.di8x .diagonal-image:nth-child(5n-1) {
  margin-left: 215px;
}
.diagonal-image-wrap.di8x .diagonal-image:nth-child(6n-1) {
  margin-right: 215px;
}
.diagonal-image-wrap.di13x {
  padding: 128px 0 0 0;
  margin-left: -126px;
  margin-right: -126px;
}
.diagonal-image-wrap.di13x .diagonal-image:nth-child(9n-8) {
  margin-left: 15px;
}
.diagonal-image-wrap.di13x .diagonal-image:nth-child(9n-5) {
  margin-right: 15px;
}
.diagonal-image-wrap.di13x .dibig {
  position: relative;
  margin: -224px 108px 104px -100px;
  z-index: 2;
}
@media screen and (max-width: 1199px) {
  .diagonal-image-wrap .diagonal-image {
    width: 220px;
    height: 240px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media screen and (max-width: 768px) {
  .diagonal-image-wrap {
    display: none;
  }
}
.give-gallery-upperpad {
  height: 320px;
}
.give-gallery-wrap {
  top: -320px;
  position: relative;
  height: 600px;
  margin-bottom: -420px;
}
.give-gallery-wrap .col-sm-12 {
  height: 600px;
  margin-bottom: -420px;
}
.give-gallery-wrap:after {
  content: ' ';
  display: block;
  clear: both;
}
.gallery-overflow {
  margin-top: -190px;
  margin-left: -60px;
  margin-right: -60px;
  bottom: -120px;
  position: relative;
  z-index: 1;
}
.gallery-overflow:after {
  content: ' ';
  display: block;
  clear: both;
}
.svgdefs {
  position: absolute;
}
.mountainscape {
  background: url("images/mountainpeaks-3.png") no-repeat bottom center #B7CDD6;
  min-height: 500px;
}
@media screen and (max-width: 768px) {
  .mountainscape {
    background-size: cover;
  }
}
.wavy-top-white {
  position: relative;
}
.wavy-top-white:before {
  content: ' ';
  height: 4px;
  background: url(images/wavy-top-white.png);
  position: absolute;
  top: -4px;
  right: 0;
  width: 100vw;
}
.wavy-bottom-white {
  position: relative;
}
.wavy-bottom-white:after {
  content: ' ';
  height: 4px;
  background: url(images/wavy-bottom-white.png);
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 100vw;
}
.wavy-top-blue {
  position: relative;
}
.wavy-top-blue:before {
  content: ' ';
  height: 4px;
  background: url(images/wavy-top-blue.png);
  position: absolute;
  top: -4px;
  right: 0;
  width: 100vw;
}
.wavy-bottom-blue {
  position: relative;
}
.wavy-bottom-blue:after {
  content: ' ';
  height: 4px;
  background: url(images/wavy-bottom-blue.png);
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 100vw;
}
.wavy-top-orange {
  position: relative;
}
.wavy-top-orange:before {
  content: ' ';
  height: 4px;
  background: url(images/wavy-top-orange.png);
  position: absolute;
  top: -4px;
  right: 0;
  width: 100%;
}
.background-downcurve {
  -webkit-mask-image: url(/images/mask-downcurve.png);
  mask-image: url(/images/mask-downcurve.png);
  -webkit-mask-position: bottom center;
  mask-position: bottom center;
}
.background-curve-sandwich {
  padding: 200px 0;
  margin: -200px 0;
}
.background-upcurve {
  -webkit-mask-image: url(/images/mask-upcurve.png);
  mask-image: url(/images/mask-upcurve.png);
  -webkit-mask-position: top center;
  mask-position: top center;
}
.orange-border-top {
  border-top: solid 2px #F37035;
}
.intro-banner {
  min-height: 450px;
  background-position: center;
  background-image: url(/images/group-shot-at-fire.jpg);
}
.box-image {
  color: white;
  background-color: #023144;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}
.box-image a.prm-btn {
  color: white !important;
}
.box-image .orange-overlay {
  background: rgba(123, 52, 10, 0.3);
}
.box-image .orange-overlay a {
  color: #f9b495;
}
.box-image .orange-overlay a:hover {
  color: white;
}
.box-image .image-overlay {
  background: rgba(0, 0, 0, 0.7);
}
.box-image .image-overlay a {
  color: #f9b495;
}
.box-image .image-overlay a:hover {
  color: white;
}
.box-image.box-image-even .col-md-7 {
  padding-right: 50px;
}
.box-image.box-image-odd .col-md-7 {
  padding-left: 50px;
}
.box-image.box-image-odd .image-overlay {
  background: rgba(40, 105, 134, 0.7);
}
.box-image.box-image-odd .image-overlay a {
  color: #d3b390;
}
.box-image.box-image-odd .image-overlay a:hover {
  color: white;
}
.box-image h1,
.box-image h2,
.box-image h3,
.box-image h4,
.box-image h5,
.box-image h6 {
  color: white;
}
.box-image a {
  color: #d3b390;
}
.box-image a:hover {
  color: white;
}
.box-blue {
  color: white;
  background: #023144;
  background-size: cover;
}
.box-blue h1,
.box-blue h2,
.box-blue h3,
.box-blue h4,
.box-blue h5,
.box-blue h6 {
  color: white;
}
.box-blue a {
  color: #d3b390;
}
.box-blue a.prm-btn {
  color: white;
}
.box-blue a:hover {
  color: white;
}
.box-lightblue {
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  background: url(images/new_year_background.png) top center #286987;
}
.box-lightblue h1,
.box-lightblue h2,
.box-lightblue h3,
.box-lightblue h4,
.box-lightblue h5,
.box-lightblue h6 {
  color: white;
}
.box-lightblue .prm-btn {
  background-image: url(images/btn-back-white.png);
  color: black;
}
.box-lightblue .prm-btn:hover {
  background-image: url(images/btn-back-hover.png);
}
.box-lightblue .form-element input[type="text"]:focus + label:not(.no_label),
.box-lightblue .form-element input[type="number"]:focus + label:not(.no_label),
.box-lightblue .form-element input[type="password"]:focus + label:not(.no_label),
.box-lightblue .form-element input[type="email"]:focus + label:not(.no_label),
.box-lightblue .form-element textarea:focus + label:not(.no_label),
.box-lightblue .form-element select:focus + label:not(.no_label),
.box-lightblue .form-element input[type="text"].hasvalue + label:not(.no_label),
.box-lightblue .form-element input[type="number"].hasvalue + label:not(.no_label),
.box-lightblue .form-element input[type="password"].hasvalue + label:not(.no_label),
.box-lightblue .form-element input[type="email"].hasvalue + label:not(.no_label),
.box-lightblue .form-element textarea.hasvalue + label:not(.no_label),
.box-lightblue .form-element select.hasvalue + label:not(.no_label) {
  color: white;
}
.box-lightblue a {
  color: #d3b390;
  text-decoration: none;
}
.box-lightblue a:hover {
  color: white;
}
.box-lightblue a.subtitle {
  color: white;
  background: linear-gradient(#286987, #286987), linear-gradient(#286987, #286987), linear-gradient(#023144, #023144);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #286987, -0.03em 0 #286987, 0 0.03em #286987, 0 -0.03em #286987, 0.06em 0 #286987, -0.06em 0 #286987, 0.09em 0 #286987, -0.09em 0 #286987, 0.12em 0 #286987, -0.12em 0 #286987, 0.15em 0 #286987, -0.15em 0 #286987;
  background-position: 0 85%, 100% 85%, 0 85%;
  text-decoration: none;
}
.box-lightblue a.subtitle:hover {
  color: #ccc;
}
.box-orange-texture {
  color: white;
  background: url(images/texture-orange-tree.png) top center #F37035;
}
.box-orange-texture h1,
.box-orange-texture h2,
.box-orange-texture h3,
.box-orange-texture h4,
.box-orange-texture h5,
.box-orange-texture h6 {
  color: white;
}
.box-orange-texture a {
  color: white;
  background: linear-gradient(#F37035, #F37035), linear-gradient(#F37035, #F37035), linear-gradient(#eaeaea, #eaeaea);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #F37035, -0.03em 0 #F37035, 0 0.03em #F37035, 0 -0.03em #F37035, 0.06em 0 #F37035, -0.06em 0 #F37035, 0.09em 0 #F37035, -0.09em 0 #F37035, 0.12em 0 #F37035, -0.12em 0 #F37035, 0.15em 0 #F37035, -0.15em 0 #F37035;
  background-position: 0 85%, 100% 85%, 0 85%;
  text-decoration: none;
}
.box-orange-texture a:hover {
  color: #eaeaea;
}
.panel-group .panel,
.panel {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}
.panel-heading,
.panel-default > .panel-heading {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  box-shadow: none;
  padding: 5px 0;
}
.panel-heading a,
.panel-default > .panel-heading a {
  color: white !important;
  text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
  box-shadow: none;
}
.collapsible-item-title-link-icon:not(.collapsed) .glyphicon {
  transform: rotate(180deg);
}
.collapsible-item-title-link-icon:not(.collapsed) .glyphicon:before {
  float: right;
  margin-left: 2px;
}
.annoying-white-border {
  border: 3px solid transparent;
  padding: 25px;
  -webkit-border-image: url(images/annoyingborder.png) 3 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url(images/annoyingborder.png) 3 stretch;
  /* Opera 11-12.1 */
  border-image: url(images/annoyingborder.png) 3 stretch;
}
.annoying-white-border .diagonal-image-wrap-single {
  margin: 20px auto -88px auto;
}
.wavy-border-white-blue {
  border: 3px solid transparent;
  background: white;
  color: black;
  line-height: 100%;
  padding: 25px;
  -webkit-border-image: url(images/white-wavy-border.png) 3 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url(images/white-wavy-border.png) 3 stretch;
  /* Opera 11-12.1 */
  border-image: url(images/white-wavy-border.png) 3 stretch;
}
.wavy-border-white-blue a {
  color: #F37035;
}
.wavy-border-white-blue a:hover {
  color: black;
}
.solid-event-contain {
  border: 3px solid transparent;
  background: #efefef;
  color: black;
  line-height: 100%;
  padding: 25px;
  margin-bottom: 30px;
  height: 100%;
}
.row.equalheights {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row.equalheights div[class*='col-'] {
  display: flex;
  flex-direction: column;
}
.bigquote {
  font-size: 60px;
  line-height: 18px;
  vertical-align: bottom;
}
.testimonial-text {
  font-size: 18px;
}
.testimonial-sig {
  font-size: 13px;
}
.camp-logo-menu {
  top: -97px;
  margin-bottom: -137px;
  position: relative;
  z-index: 1;
}
.camp-logo-menu .camp-logo-grid {
  display: inline-block;
  width: 180px;
  margin: 0 50px;
}
@media screen and (max-width: 768px) {
  .camp-logo-menu .camp-logo-grid {
    width: 100px;
    margin: 40px 30px;
  }
}
@media screen and (max-width: 499px) {
  .camp-logo-menu .camp-logo-grid {
    width: 90px;
    margin: 45px 3px 30px 3px;
  }
}
.hrsmall {
  background: url('images/hr.png') no-repeat;
  background-size: 100% 100%;
  height: 4px;
  margin: 20px 0;
  max-width: 180px;
}
.text-center .hrsmall {
  background: url('images/hr.png') no-repeat center;
  max-width: 100%;
}
.hrsmall-white {
  background: url('images/hr-white-ds.png') no-repeat;
  background-size: 100% 100%;
  height: 20px;
  max-width: 194px;
  margin: 10px 0 10px -5px;
}
.text-center .hrsmall-white {
  margin: 10px 0;
  background: url('images/hr-white-ds.png') no-repeat center;
  max-width: 100%;
}
.subtitle {
  font-size: 22pt;
  margin-bottom: 10px;
}
.fund-status-bar {
  background: #F37035;
  position: relative;
  padding-right: 90px;
  margin: 25px 0;
}
.fund-status-bar.fund-full {
  background: #43682D;
}
.fund-status-bar.fund-full:after {
  content: 'Funding Complete';
  position: absolute;
}
.fund-status-bar.fund-full .fund-goal {
  border-color: #43682D;
}
.fund-status-bar .fund-subtitle {
  font-size: 10px;
  margin-bottom: -13px;
}
.fund-status-bar .fund-status {
  background: #43682D;
  padding: 5px 10px;
  text-align: right;
  color: white;
  min-width: 110px;
}
.fund-status-bar .fund-goal {
  text-align: left;
  background: white;
  border: solid 1px #F37035;
  padding: 4px 0 4px 10px;
  width: 90px;
  position: absolute;
  right: 0;
  top: 0;
}
.fund-form {
  padding: 25px;
}
.ui-datepicker {
  font-size: 12pt;
}
.ds_gallery .gallery {
  margin: 25px 0 0 25px;
  overflow: hidden;
}
.ds_gallery .gallery .pic_container {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  line-height: normal;
  width: 24%;
}
.ds_gallery .gallery .pic_container .description {
  font-size: 80%;
  font-weight: normal;
}
.ds_gallery .gallery .pic_container:hover .description {
  text-decoration: none;
}
.ds_gallery .gallery .pic_container .pic {
  display: block;
  width: 96%;
  height: 200px;
  margin: 3px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.ds_gallery .gallery .pic_container .full-sized-pic {
  display: none;
}
@media screen and (max-width: 600px) {
  .ds_gallery {
    float: none;
    width: auto;
  }
  .ds_gallery .gallery {
    margin: 15px 0;
  }
  .ds_gallery .gallery .pic_container {
    width: 24%;
  }
}
@media screen and (max-width: 400px) {
  .ds_gallery .gallery .pic_container {
    width: 47%;
  }
}
.mfp-content {
  background: none;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  background: none;
}
.mfp-arrow:hover .mfp-arrow-left::after {
  border-color: #F37035;
}
.mfp-arrow:hover .mfp-arrow-right::after {
  border-color: #F37035;
}
@media screen and (max-width: 1170px) {
  img {
    max-width: 100%;
    height: auto !important;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  html {
    background-image: none !important;
  }
  table {
    width: 100%;
    max-width: 100%;
  }
  table td {
    display: block;
    padding: 3px 0;
  }
  .gallery .pic_container {
    width: 100%;
  }
}
