
select, input[type="text"] {
  color: #000;
  background: fade(#fff, 80);
  border: none;
  font-size: 80%;
}


input[type="submit"].full-width{
  display:block;
  width: 100%;
}
select, input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {
  color: #000;
  background: @lightgray;
  border: solid @gray 1px;
  padding:0 10px;
  font-size: 80%;
  &.error{
    border:solid red 1px;
    background: #FFD2D2;
  }
}
textarea{
  vertical-align: top;
}

label.error{
  color: red;
  display: block;
  font-size: 10px;
  line-height: normal;
}

.ch-label{
  margin-right:10px;
}

input[type="checkbox"]{
  //&:not(.sr-only){
  //  display: none;
  //}
  & + label:not(.no_label){
    display:inline-block;
    width:19px;
    height:19px;
    float: left;
    margin: 7px 0 0 -28px;
    cursor:pointer;
    border:solid 2px @gray;
    border-radius:2px;
    color:@gray;
    position:relative;
    font-weight: normal;
    background:white;
  }
  &:checked + label:not(.no_label):after{
    font-family: @icon_font;
    content: '';
    position:absolute;
    top:-8px;
    font-size: 10pt;
  }
  &:disabled + label:not(.no_label){
    border-color: #999;
  }
  &:disabled + label:not(.no_label):after{
    color:#999;
    content: '';
    position:absolute;
    top:-5px;
    left: 1px;
    font-size: 10pt;
  }
}
.form-select{
  padding-bottom:10px;
}
.form-element{
  position: relative;
  padding:0;
  margin:20px 0;
  background: @lightgray;
  font-size:0;
  line-height: 0;
  select{
    font-size:14px;
    width:100%;
    line-height: 32px;
    height: 32px;
  }
  input[type="text"], input[type="number"], input[type="password"], input[type="email"], textarea, select{
    position: relative;
    background: none;
    width:100%;
    z-index:1;
    font-size:12pt;
    line-height: 32px;
    &.hasvalue:focus + label:not(.no_label){
      display:block;
    }
    &:focus + label:not(.no_label), &.hasvalue + label:not(.no_label){
      top: -8px;
      left: 0;
      color:@gray;
      font-size: 8pt;
      font-style: italic;
      i{
        font-size:10pt;
        float:left;
        margin-left: -20px;
        margin-top: 17px;
        color:black;
      }
    }
  }
  label:not(.no_label){
    position:absolute;
    top: 17px;
    left: 10px;
    color: fade(@gray, 55);
    font-size:10pt;
    font-style: italic;
    transition: 2ms;
    i{
      transition: 0ms;
      float:left;
      margin-left:-30px;
      margin-top:-7px;
      color:black;
    }
  }
  label.error{
    left: auto;
    right: 0;
    top: -16px;
    color: red;
    display: block;
    margin-bottom: 5px;
    text-align: right;
  }
  &.inline-element{
    display: inline-block;
    input[type="text"], input[type="password"], input[type="email"]{
      display: inline-block;
      width:150px;
      &.hasvalue:focus + label:not(.no_label){
        display:block;
      }
      &:focus + label:not(.no_label), &.hasvalue + label:not(.no_label){
        top: -8px;
        left: 0;
        color:@gray;
        font-size: 8pt;
        font-style: italic;
      }
    }
  }
}
