strong, b, .bold {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

/* Clear fix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}

/*  For IE 6/7 only  Include this rule to trigger hasLayout and contain floats.  */
.cf {
  *zoom: 1;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}

.reveal-down, .reveal-right, .reveal-left, .reveal-up{
  visibility: hidden;
}

.rightlink {
  display: block;
  text-align: right;
}

.right {
  text-align: right;
  &img {
    float: right;
    margin: 10px 0 10px 10px;
  }
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.responsive_only {
  display: none;
}

html {
  min-height: 100%;
  height: 100%;
  background: white;
}

body {
  min-height: 100%;
  min-width: 100%;
  font-family: @primary_font;
  font-size: 11pt;
  line-height:22pt;
  color: @blue3;
  text-align: left;
  overflow-x: hidden;
}

#container {
  background: rgba(0, 0, 0, .4);
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto !important;
}

h1, h2, h3, h4, h5, h6 {
  color:@blue3;
}

h1, .jumbotron h1 {
  font-size: 60px;
  font-weight:bold;

  @media screen and (max-width: @screen-tablet) {
    font-size: 40px;
  }
}

h2 {
  font-size: 30px;
  font-weight:bold;
  @media screen and (max-width: @screen-tablet) {
    font-size: 27px;
  }
}

h3 {
  font-size: 20pt;
  font-weight:bold;
  @media screen and (max-width: @screen-tablet) {
    font-size: 18pt;
  }
}

h4 {
  font-size: 18pt;
}

h5 {
  font-size: 16pt;
  color:@blue2;
  @media screen and (max-width: @screen-tablet) {
    font-size: 15pt;
  }
}

h6 {
  font-size: 14pt;
  color:@blue2;
}

.sidebar_title{
  font-size:18pt;
  font-weight:bold;
  margin-bottom:10px;
}
.sidebar_subtitle{
  font-size:14pt;
  font-weight:bold;
  margin-bottom:10px;
  color:@orange
}

a {
  transition: .2s;
  color: @orange;
  text-decoration:none;
  font-weight: bold;
  &:hover, &:focus {
    color: black;
    text-decoration:underline;
  }
}

ul {
  list-style: square;
}

#copyrights {
  font-size: 11px;
  line-height: 12px;
  padding-top: 25px;
}


.prm-btn, .btn, button, input[type="submit"], .stripe-button-el{
  padding: 4px 20px;
  font-size:12pt;
  font-weight: normal;
  color: white;
  border:none;
  border-radius:0;
  text-decoration:none;
  text-shadow:none;
  display: inline-block;
  background:@blue2;
  &:hover {
    text-decoration:none;
    background: @orange;
    color:white;
  }
  &:focus {
    color: white;
    text-decoration: none;
  }
  &.small-btn{
    font-size: 100%;
    line-height: 20px;
    padding: 5px 15px;
  }
}
button.mfp-close:hover{
  background:none;
  color:@orange;
}


.prm-btn{
  padding: 5px 20px;
  background:url(/images/btn-back.png) no-repeat;
  background-size: 100% 100%;
  &:hover{
    color:white;
    transform:scale(1.1);
    background:url(/images/btn-back-hover.png) no-repeat;
    background-size: 100% 100%;
  }
}



.small-btn{
  font-size: 100%;
  line-height: 20px;
}

.small-text{
  font-size:80%;
  line-height:normal;
}


.mfp-content{
  background: white;
  max-width: 400px;
  color: black;
  padding: 10px;
}

.tooltip, .ui-tooltip, .tooltip-inner{
  max-width: 400px;
  width: 400px;
}

.halfpad{
  padding:20px 0;
}
.pad{
  padding:40px 15px;
}
.pad-bottom{
  padding-bottom:40px;
}
.pad-top{
  padding-bottom:40px;
}