.btn.btn-navbar {
  display: none;
  @media screen and (max-width: @screen-tablet) {
    z-index: 100;
    display: block;
    position: fixed;
    font-size: 18px;
    height: 40px;
    width: 40px;
    top: 20px;
    right:20px;
    font-weight: bold;
    text-align: left;
    background: @orange2;
    border: none;
    border-radius: 0;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    &:hover, &:focus{
      background: @orange2;
    }
    &.open {
      background: @orange2;
      .menu_hamburger {

        .lines {
          background: transparent;
          &:before, &:after {
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            top: 0;
            width: 2.5rem;
          }
          &:before {
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
          }
          &:after {
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
          }
        }
      }
    }
    .menu_hamburger {
      transition: @line-transition;
      height: 36px;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-top: -2px;
      margin-left: -2px;
      &:active {
        transition: 0s;
      }
      .lines {
        display: inline-block;
        width: 2.5rem;
        height: 0.37143rem;
        background: white;
        border-radius: 0.28571rem;
        transition: @line-transition;
        position: relative;
        &:before, &:after {
          display: inline-block;
          width: 2.5rem;
          height: 0.37143rem;
          background: white;
          border-radius: 0.28571rem;
          transition: @line-transition;
          position: absolute;
          left: 0;
          content: '';
          -webkit-transform-origin: 0.28571rem center;
          transform-origin: 0.28571rem center;
        }
        &:before {
          top: 1rem;
        }
        &:after {
          top: -1rem;
        }
      }
    }
  }
}

.navbar {
  transition: .4s;
  margin-bottom: 0;
  background: none;
  border: none;
  border-radius: 0;
  position: inherit;
  background:@orange;
  max-height:80px;
  height: auto;
  min-height:0;
  .navbar-collapse {
    border: none;
  }
  .nav {
    padding: 0;
    list-style: none;
    &.navbar-collapse {
      margin-right: 0;
    }
    ul {
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
      li {
        display: inline-block;
        list-style: none;
        padding-bottom:5px;
        padding-top:2px;
        &.current, &:hover {

        }
        &:hover {
          .dropdown-menu {
            transition: .4s;
            right: 0;
          }
        }
        a {
          color: lighten(@orange,30);
          text-decoration:none;
          font-family: @primary_font;
          display: inline-block;
          font-size: 12pt;
          margin-bottom: 0;
          padding: 22px 25px;
          letter-spacing:1px;
          &.dropdown-toggle{
            padding:22px 0;
            margin-left: -15px;
          }
        }
        &.current > a, &:hover > a {
          color: white;
          text-decoration: none;
        }
        ul li {
          a {
            text-transform: none;
          }
          &.current, &:hover {
            border-bottom: none
          }
          &.current > a, &:hover > a {
            margin-left: 0;
            margin-bottom: 0;
          }
        }
      }
    }
    .open > a, .open > a:hover, .open > a:focus {
      background: none;
      text-decoration: none;
      color: white;
    }
    //.current.dropdown .dropdown-menu{
    //  display: block;
    //}
    .dropdown {
      .dropdown-menu {
        border: none;
        display: none;
        background: @orange;
        position:absolute;
        top:77px;
        box-shadow: none;
        padding-top:0;
        margin:0;
        min-width:200px;
        width:100%;
        .dropdown-menu{
          display:none;
        }
        li {
          display: block;
          padding-left: 0;
          margin-left: 0;
          text-align: left;
          margin-bottom:0;
          line-height:16px;
          a {
            font-size: 14pt;
            padding: 6px 25px;
          }
          ul {
            padding-left: 0;
          }
        }
        li, > li ul li {
          &.current a, a:hover {
            border: none;
          }
          a {
            display: block;
            font-size: 12pt;
          }
        }
      }
      .dropdown-menu > li > a {
        white-space: normal;
      }
      &.open .dropdown-menu{
        display: block;
        .dropdown-toggle{
          display:none;
        }
        .dropdown-menu{
          position:relative;
          top:auto;
          display:block;
          padding-left:10px;
          li a{
            font-size:10pt;
            padding:3px 10px 3px 25px;
          }
        }
      }
    }
  }

  @media screen and (max-width: @screen-laptop) {
    .nav {
      width: 100%;
      ul li {
        padding-left: 0;
        a{
          font-size: 10pt;
          padding:22px 11px;
        }
      }
    }
  }
}

.nav-narrow{
  background:@orange;
  position:fixed;
  right:0;
  top:0;
  z-index:10;
  width:100vw;
  height:100vh;
  text-align: center;
  overflow: auto;
  display: none;
  > ul:last-child li:last-child {
    border-bottom: dashed 1px white;
  }
  #logo{
    width:90px;
  }
  .dropdown-toggle{
    display: none;
  }
  .dropdown-menu{
    display: block;
    position: relative;
    float:none;
    background:none;
    box-shadow: none;
    margin:0;
    padding:0;
    border:none;
    text-align: center;
    ul{
      padding:0;
      li{
        border-bottom:none;
        border-top:1px dashed @lightgray;
        a{
          color:lighten(@orange,40);
          font-weight: normal;
        }
      }
    }
  }
  ul{
    margin:0;
    padding:0 20%;
    list-style: none;
    li{
      padding:0;
      border-top:dashed 1px @lightgray;
      a{
        padding:2px 10px;
        font-size:12pt;
        text-decoration:none;
        color:white;
        display: block;
        &:hover{
          background:lighten(@orange,15);
          color:white;
        }
      }
    }
  }
}

.navbar-default {
  @media screen and (max-width: @screen-tablet) {
    text-align: left;
    margin: 0 0 20px 0;
    padding: 0;
    border-radius: 0;
    #nav {
      border-bottom: none;
      padding: 0 0 50px 0;
      text-align: left;
      ul {
        padding: 0;
        text-align: left;
        li {
          margin: 0;
          display: block;
          a {
            display: block;
            margin: 0;
            width:100%;
            &.current, &:hover {

            }
            i {
              margin-left: 5px;
            }
          }
          .dropdown-menu {
            position: relative;
            text-align: left;
            float: none;
            li a {
              text-align: left;
            }
          }
        }
      }
      .dropdown-toggle {
        float: right;
        margin-top: -57px;
        padding: 0;
        a {
          padding: 0;
          margin: 0;
        }
        i {
          line-height: 57px;
          padding: 0 26px 0 13px;
          background: #5F6B71;
          color: #FFF;
        }
      }
    }
  }
}
