#parallax-banner{
  background: @orange2;
  position: relative;
  overflow: hidden;
  .banner-layer {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    transform-origin: bottom center;
  }
  #ground-layer {
    height: 971px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: url('images/banner/hero8.png') top center;
  }

}

#parallax-banner {
  height: 971px;
  background: url('images/banner/hero1.png') #D4B493 top center fixed;
  background-size:cover;
  .banner-layer {
    height: 971px;
    background-size:auto 100%;
    background-repeat:repeat-x !important;
    &#layer2 {
      background: url('images/banner/hero2.png') bottom center;
    }
    &#layer3 {
      background: url('images/banner/hero3.png') bottom center;
    }
    &#layer4 {
      background: url('images/banner/hero4.png') bottom center no-repeat;
    }
    &#layer5 {
      background: url('images/banner/hero5.png') bottom center no-repeat;
    }
    &#layer6 {
      background: url('images/banner/hero6.png') bottom center;
    }
    &#layer7 {
      background: url('images/banner/hero7.png') bottom center;
    }
  }
  @media screen and (max-width: @screen-tablet) {

    background: url('images/banner/mobilehero.jpg') bottom center no-repeat;
    background-size:cover;
    height: 771px;
    .banner-layer {
      display:none;
    }
  }
}
.banner-text{
  position:absolute;
  top:0;
  width: 100%;
  margin-top: 20px;
  font-size: 16pt;
  line-height: 120%;
  color: @blue3;
  z-index: 10;
  .col-md-6{
    padding-left:60px;
  }
  .banner-logo{
    width: 150px;
    margin-bottom:10px;
    margin-left:-40px;
  }
  a{
    color:@blue2;
    &:hover{
      color:black;
    }
  }
  @media screen and (max-width: @screen-tablet) {
    font-size:14pt;
    text-align:center;
    .col-md-6{
      padding-left:15px;
    }
    .banner-logo{
      margin:20px 0;
    }
  }
}