//Selectboxit
.selectboxit-container a {
  background: #fff;
  color: #666;
  border: none;
  padding: 0;
  margin: 0;
}
.selectboxit-container, .container-holder #sidebar .selectboxit-container {
  color: #000;
  .selectboxit {
    border-radius: 0;
    .selectboxit-option-icon-container {
      margin-left: 0;
    }
  }
  .selectboxit-option-first {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .selectboxit-options {
    border-radius: 0;
    border: none;
    background:transparent;
    min-width:197px !important;
    width:197px !important;
    z-index: 999;
    box-shadow: -9px 15px 16px -7px @gray;
    .selectboxit-option {
      border-top: 1px solid @orange;
      width:187px;
      height: auto;
      text-indent:0;
      &.selectboxit-disabled{
        display: none;
      }
      a{
        white-space: normal;
        line-height: normal;
        text-shadow:none;
        height: auto;
        padding: 8px;
        background:@lightgray;
        color:black;
        &:hover{
          background:@orange;
          color:white;
        }
        span{
          display:none;
        }
      }

      span{
        height:30px;
        line-height: 30px;
      }
    }
  }

  span{
    height:40px;
    line-height: 40px;
  }
  .selectboxit-btn {
    background: @gray;
    border: none;
  }
  .selectboxit-text {
    width: 199px;
    text-align: left;
    font-weight: bold;
    background:white;
    border-right:solid 10px @gray;
  }
  .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
    background: @orange;
  }
  @media screen and (max-width: @screen-desktop) {
    .selectboxit-text {
      width: 179px;
    }
    .selectboxit-options {
      .selectboxit-option {
        width:169px;
      }
    }
  }
  @media screen and (max-width: @screen-laptop) {

    .selectboxit-text {
      width: 219px;
    }
    .selectboxit-options {
      .selectboxit-option {
        width:209px;
      }
    }
  }
}
.selectboxit-arrow-container {
  background:@orange;
  color:white;
  width:40px;
  padding:0 5px;
  .selectboxit-arrow{
    display:none;
  }
  &:after{
    font-family: @icon_font;
    content: '';
    margin-left: 9px;
  }
}
