//Slick Gallery

.slick-nav {
  text-align:center;
  padding-bottom:15px;
  white-space: nowrap;
  overflow-x: auto;
}
.slick-nav-item{
  display: inline-block;
}
.slick-slider{
  margin-bottom:10px;
}
.slick-slide{
  vertical-align: middle;
  img {
    margin:auto;
  }
}
.slick-five-fix .slick-track{
  margin-left: -56px;
}

.slick-prev, .slick-next {
  z-index: 999;
}

.slick-dots li.slick-active button::before {
  color: @orange;
  opacity: 1;
}
.slick-dots li button::before{
  font-size:14px;
  color:#000;
}
.slick-dots li button{
  color:#000;
  &:hover{
    color: @orange;
  }
}

.slick-nav-item {
  padding: 0;
  margin: 1.8px;
  width: 50px;
  border:solid 1px @orange;
  &.slick-active{
    border-color:@blue;
  }
  img {
    cursor: pointer;
    width:50px;
  }
}

.slick-img-item {
  padding: 10px;
  .caption {
    text-align:center;
  }
  img {
    max-height: 200px;
    margin: auto;
  }
}
.btn-prev-arrow, .btn-next-arrow{
  position: absolute;
  top: 17px;
  color:@orange;
  &:hover{
    color:@blue;
  }
}
.btn-prev-arrow{
  left: -10px;
}
.btn-next-arrow{
  right: -10px;
}
