{% extends "standard_page.html.twig" %}

{% block banner_content %}
    {% if page.page_vars.logo %}
        <div class="camp-logo-menu text-center">
            <img src="/upload/logos/{{ page.page_vars.logo }}" alt="">
        </div>
    {% endif %}
{% endblock %}

{% set reglink = "/camp-selection?c=" ~ page.id %}

{% block sub_content %}
    {{ page.page_vars.content|raw }}
{% endblock %}

{% block footerlink %}
    {% if page.page_vars.reglink %}
        <div class="box-orange-texture wavy-top-orange background-shift">
            <div class="container">
                <div class="row pad">
                    <div class="col-md-12 text-center">
                        <a href="{{ reglink }}" class="subtitle">Register for camp before it's too late! &gt;</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
