{% extends "layout.html.twig" %}
{% from 'include/_macros.twig' import argyleGallery %}


{% block content %}
    <div class="container-holder pad box-lightblue background-downcurve">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    {% if page.page_vars.heading %}
                        <h1>{{ page.page_vars.heading }}</h1>
                        <div class="subtitle">{{ page.page_vars.subheading }}</div>
                        <div class="hrsmall-white"></div>
                    {% endif %}

                    {{ page.page_vars.content|raw }}

                    {% if page.page_vars.url %}
                        <a href="{{ page.page_vars.url }}" class="prm-btn">{{ page.page_vars.label }}</a>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="box-image"

            {% if page.page_vars.image2 %}
                style="background-image:url('/upload/page_images/2000/{{ page.page_vars.image2 }}');"
            {% endif %}
    >
        <div class="image-overlay background-curve-sandwich">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        {% if page.page_vars.heading2 %}
                            <h1>{{ page.page_vars.heading2 }}</h1>
                            <div class="subtitle">{{ page.page_vars.subheading2 }}</div>
                            <div class="hrsmall-white"></div>
                        {% endif %}

                        {{ page.page_vars.content2|raw }}

                        {% if page.page_vars.url2 %}
                            <a href="{{ page.page_vars.url2 }}" class="prm-btn">{{ page.page_vars.label2 }}</a>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-holder  box-lightblue background-upcurve">
        <div class="container ">
            <div class="row pad">
                <div class="col-md-8 col-md-offset-2 text-center">
                    {% if page.page_vars.heading3 %}
                        <h1>{{ page.page_vars.heading3 }}</h1>
                        <div class="subtitle">{{ page.page_vars.subheading3 }}</div>
                        <div class="hrsmall-white"></div>
                    {% endif %}

                    {{ page.page_vars.content3|raw }}

                    {% if page.page_vars.url3 %}
                        <a href="{{ page.page_vars.url3 }}" class="prm-btn">{{ page.page_vars.label3 }}</a>
                    {% endif %}
                    <br>

                    {% if page.page_vars.gallery %}
                        <div class="give-gallery-upperpad hidden-sm">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-holder  wavy-bottom-white wavy-top-white">
        <div class="container">
            {% if page.page_vars.gallery %}
                <div class="give-gallery-wrap gallery-shift hidden-sm">
                    {% set photos = getGallery(page.page_vars.gallery) %}
                    {{ argyleGallery(photos,13) }}
                </div>
            {% endif %}
            <div class="row pad">
                <div class="col-md-8 col-md-offset-2 text-center">
                    {% if page.page_vars.heading4 %}
                        <h1>{{ page.page_vars.heading4 }}</h1>
                        <div class="subtitle">{{ page.page_vars.subheading4 }}</div>
                        <div class="hrsmall"></div>
                    {% endif %}

                    {{ page.page_vars.content4|raw }}

                    {% if page.page_vars.url4 %}
                        <a href="{{ page.page_vars.url4 }}" class="prm-btn">{{ page.page_vars.label4 }}</a>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="box-image"

            {% if page.page_vars.image5 %}
                style="background-image:url('/upload/page_images/2000/{{ page.page_vars.image5 }}');"
            {% endif %}
    >
        <div class="image-overlay pad">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        {% if page.page_vars.heading5 %}
                            <h1>{{ page.page_vars.heading5 }}</h1>
                            <div class="subtitle">{{ page.page_vars.subheading5 }}</div>
                            <div class="hrsmall-white"></div>
                        {% endif %}

                        {{ page.page_vars.content5|raw }}

                        {% if page.page_vars.url5 %}
                            <a href="{{ page.page_vars.url5 }}" class="prm-btn">{{ page.page_vars.label5 }}</a>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}