{% extends "layout.html.twig" %}
{% from 'include/_macros.twig' import argyleGallery %}

{% block headercontent %}
    <div id="parallax-banner">
        <div class="banner-text reveal-down">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="text-center">
                            <img src="/images/logos/main-nods.png" style="" class="banner-logo" alt="">
                        </div>
                        {{ page.page_vars.banner_content|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-layer" id="layer1" data-rate="1"></div>
        <div class="banner-layer" id="layer2" data-rate=".65"></div>
        <div class="banner-layer" id="layer3" data-rate=".55"></div>
        <div class="banner-layer" id="layer4" data-rate=".45"></div>
        <div class="banner-layer" id="layer5" data-rate=".35"></div>
        <div class="banner-layer" id="layer6" data-dir="both" data-rate=".40"></div>
        <div class="banner-layer" id="layer7" data-rate=".15"></div>
        <div class="" id="ground-layer"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="wavy-top-white">
        <div class="mountainscape background-shift-vert">
            <div class="container camp-logo-menu">
                <div class="text-center">
                    {% for url, logo in page.page_vars.camps %}
                        <div class="camp-logo-grid">
                            <a href="/{{ url }}"><img src="/upload/logos/{{ logo }}" alt=""></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="row pad">
                    <div class="col-md-12 text-center">
                        <h1>{{ page.page_vars.intro_heading|raw }}</h1>
                        <div class="subtitle">{{ page.page_vars.intro_subheading|raw }}</div>
                        <div class="hrsmall"></div>
                        {{ page.page_vars.intro_content|raw }}
                        <a href="{{ page.page_vars.intro_url }}" class="prm-btn">{{ page.page_vars.intro_label }}</a>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row pad gallery-shift">
                    {% set photos = getGallery(1) %}
                    {{ argyleGallery(photos,8) }}
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="wavy-top-blue wavy-bottom-blue box-blue">
            <div class="container">
                <div class="row pad">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>{{ page.page_vars.event_heading|raw }}</h1>
                        <div class="subtitle">{{ page.page_vars.event_subheading|raw }}</div>
                        <br>
                        {% if not page.page_vars.events %}
                            <h2>No Events Found</h2>
                        {% else %}
                            <div class="row">
                                {% for e in page.page_vars.events %}
                                    <div class="col-md-4">
                                        <div class="wavy-border-white-blue">
                                            <a class="bold" href="/events/{{ e.id }}/">
                                            <div class="diagonal-date-wrap">
                                                <svg class="diagonal-date" xmlns="http://www.w3.org/2000/svg">
                                                    <use xlink:href="#diagonalclip100" fill="#{{ e.color }}"></use>
                                                </svg>
                                                <div class="svgtext">{{ e.date|raw }}</div>
                                            </div>
                                            </a>
                                            <p><a class="bold" href="/events/{{ e.id }}/">{{ e.title }}</a></p>
                                            {{ e.synopsis|nl2br }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <br>
                        <a href="/events" class="prm-btn">All Events</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="box-lightblue background-shift">
            <div class="container">
                <div class="row pad">
                    <div class="col-md-12 text-center">
                        <a href="{{ page.page_vars.reg_url }}" class="subtitle">{{ page.page_vars.reg_label|raw }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-image"
                {% if page.page_vars.donate_image %}
                    style="background-image:url('/upload/page_images/2000/{{ page.page_vars.donate_image }}');"
                {% endif %}
        >
            <div class="orange-overlay ">
                <div class="container">
                    <div class="row pad">
                        <div class="col-md-8 col-md-offset-2">
                            <h1>{{ page.page_vars.donate_heading|raw }}</h1>
                            <div class="subtitle">{{ page.page_vars.donate_subheading|raw }}</div>
                            <div class="hrsmall-white "></div>
                            {{ page.page_vars.donate_content|raw }}
                            <a href="{{ page.page_vars.donate_url }}" class="prm-btn">{{ page.page_vars.donate_label }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sponsorsblock" class="wavy-bottom-white wavy-top-white">
        <div class="pad container text-center">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{{ page.page_vars.sponsor_heading|raw }}</h1>
                    <div class="subtitle">{{ page.page_vars.sponsor_subheading|raw }}</div>
                    <div class="hrsmall"></div>
                    {{ page.page_vars.sponsor_content|raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="box-image"
            {% if page.page_vars.testimonial_image %}
                style="background-image:url('/upload/page_images/2000/{{ page.page_vars.testimonial_image }}');"
            {% endif %}
    >
        <div class="image-overlay pad">
            <div class="container pad-bottom">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1>{{ page.page_vars.testimonial_heading|raw }}</h1>
                        <div class="annoying-white-border">
                            <div class="testimonial-text">
                                <b class="bigquote">“</b>
                                {{ page.page_vars.testimonial_content|nl2br }}
                                <b class="bigquote">”</b>
                            </div>
                            <b class="testimonial-sig">{{ page.page_vars.testimonial_sig|raw }}</b>
                            {% if page.page_vars.testimonial_sig_image %}
                                <div class="diagonal-image-wrap-single">
                                    <svg class="diagonal-image" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="#diagonalclip100" stroke="white" fill="url(#testimonialimg)"></use>
                                    </svg>
                                </div>
                                <svg width="0" height="0" class="svgdefs" viewbox="0 0 100 100">
                                    <defs>
                                        <pattern id="testimonialimg"
                                                 width="1"
                                                 height="1">
                                            <image xlink:href="/upload/people/100/{{ page.page_vars.testimonial_sig_image }}" x="0" y="0" width="104"
                                                   height="110"/>
                                        </pattern>
                                    </defs>
                                </svg>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
