<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.meta_title }}</title>
    <!-- META DATA -->
    <meta name="viewport" content="width=device-width"/>
    <meta name="theme-color" content="#023144">
    <meta name="description" content="{{ page.meta_description }}">

    <!-- MISC TAGS -->
    <link rel="canonical" href="{{ page.canonical_url }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico"/>


    <!-- TWITTER SUMMARY CARDS -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@campstix">
    <meta name="twitter:creator" content="@campstix">
    <meta name="twitter:title" content="Camp STIX Diabetes Programs - Spokane WA | STIX Diabetes Programs">
    <meta name="twitter:description" content="We’re STIX Diabetes Programs for children with diabetes! It all started with our summer camp, Camp STIX  to give kids a terrific week of friendship and fun that they will never forget.">
    <meta name="twitter:image:src" content="https://www.campstix.org/images/logos/main-nods.png">
    <meta name="twitter:image:width" content="300">
    <meta name="twitter:image:height" content="317">

    <!-- OPEN GRAPH PROTOCOL TAGS -->
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Camp STIX Diabetes Programs - Spokane WA | STIX Diabetes Programs"/>
    <meta property="og:site_name" content="Camp STIX"/>
    <meta property="og:image" content="https://www.campstix.org/images/logos/main-nods.png">
    <meta property="og:description" content="We’re STIX Diabetes Programs for children with diabetes! It all started with our summer camp, Camp STIX  to give kids a terrific week of friendship and fun that they will never forget."/>
    <meta property="og:url" content="https://www.campstix.org"/>


    <!-- CSS STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Prompt:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/lib/bower_components/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/jqueryui/jquery-ui-1.11.4.custom/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/jquery.selectBoxIt/jquery.selectBoxIt.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/lib/jquery-ui-timepicker-addon.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/global.css?2"/>

    <!-- JAVASCRIPT -->
    <script src="/lib/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/lib/bower_components/jqueryui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/lib/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

    {#<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>#}
    <script type="text/javascript" src="/lib/jquery.validate.min.js"></script>
    <script src="//cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.7.0/jquery.selectBoxIt.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/lib/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="/lib/noty/layouts/center.js"></script>
    <script type="text/javascript" src="/lib/noty/themes/circle.js"></script>
    <script type="text/javascript" src="/lib/slick/slick.js"></script>
    <script type="text/javascript" src="/lib/jquery.form.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.simplr.smoothscroll.js"></script>
    <script type="text/javascript" src="/lib/campstix.js?2"></script>
    {#<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{ config.googleapi.serverkey }}"></script>#}

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/respondjs/respond.min.js"></script>
    <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {{ page.head|raw }}


    <script type="text/javascript">
        $(function () {
            {% for message in messages %}
            noty({
                layout: 'center',
                text: '{{ message }}',
                timeout: 5000,
                type: 'success',
                dismissQueue: true
            });
            {% endfor %}
            {% for error in errors %}
            noty({
                layout: 'center',
                text: '{{ error }}',
                timeout: 5000,
                type: 'error',
                dismissQueue: true
            });
            {% endfor %}
        });
    </script>
</head>
<body id="{{ page.keyword }}" class="{{ page.template }}">
<div id="login-popup" class="popup-module mfp-hide">
    {{ page.loginform|raw }}
</div>

{% block headercontent %}{% endblock %}
<div id="headerwrap">
<header class="header-wide hidden-xs">
    <div class="loginbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right">
                    <form action="/search" accept-charset="utf-8">
                        <input type="text" autocomplete="off" name="q" placeholder="Search" dir="ltr" spellcheck="false">
                        <input type="submit" value="&rsaquo;">
                        {% if user.id %}
                            <a href="/a.php?a=logout" class="btn" title="Logout">Logout</a>
                            <a href="/account" class="btn" title="Account">Account</a>
                        {% else %}
                            <a href="#login-popup" class="inline_popup btn" title="Login">Login</a>
                            <a href="/account?a=register" class=" btn" title="Create Account">Create Account</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-right">
                    {% set navlength = nav|length %}
                    {% set navsplit = (navlength/2)|round(0, 'ceil') %}
                    <div class="navbar-collapse nav with-stucknav">
                        {% include "nav.html.twig" with {options: nav_options,nav: nav|slice(0,navsplit)} %}
                    </div>
                </div>
                <div class="col-sm-2 text-center ">
                    <a href="/"><img src="/images/logos/main.png" alt="Camp Stix Diabetes Program" id="logo"/></a>
                </div>
                <div class="col-sm-5 text-left">
                    <div class="navbar-collapse nav with-stucknav">
                        {% include "nav.html.twig" with {options: nav_options,nav: nav|slice(navsplit,navlength)} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <a href="/"><img src="/images/logos/main.png" alt="Camp Stix Diabetes Program" id="mobilelogo"/></a>
<!-- header for narrower displays -->
<header class="header-narrow hidden-md hidden-lg">
    <div class="container-fluid navbar">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="nav-toggle-holder">
                    <button class="btn btn-navbar" type="button" data-toggle="collapse" data-target="#nav" title="Menu" aria-label="Menu">
                        <div class="menu_hamburger">
                            <span class="lines"></span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
</div>
<div id="nav" class="nav-narrow nav-parent collapse hidden-md hidden-lg">
    <a href="/"><img src="/images/logos/main.png" alt="Camp Stix Diabetes Program" id="logo"/></a>
    {% include "nav.html.twig" with {options: nav_options} %}
    <ul>
            {% if user.id %}
        <li><a href="/a.php?a=logout" class="big-nav-btn">Logout</a></li>
        <li><a href="/account" class="big-nav-btn">Account</a></li>
            {% else %}
        <li><a href="/account" class="big-nav-btn">Login</a></li>
        <li><a href="/account?a=register" title="Create Account">Create Account</a></li>
            {% endif %}
    </ul>
</div>
<div class="box-image intro-banner"
     {% if page.page_vars.banner_image %}
     style="background-image:url('/upload/page_images/2000/{{ page.page_vars.banner_image }}');"
     {% endif %}
>

</div>

{% block content %}{% endblock %}

<footer class="wavy-top-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                {% if test_mode %}
                    <b style="color:red; background:white;">TESTMODE</b><br>
                {% endif %}

                <h6>Sign Up for Our Newsletter</h6>

                <!--End mc_embed_signup-->

                <form action="https://campstix.us13.list-manage.com/subscribe/post?u=65c1eff694ccb6891cbc1484d&amp;id=6d31cdc99b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <input type="email" value="" name="EMAIL" placeholder="Email" class="required email" id="mce-EMAIL">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65c1eff694ccb6891cbc1484d_6d31cdc99b" tabindex="-1" value=""></div>
                    <input type="submit" value="&rsaquo;" name="subscribe" id="mc-embedded-subscribe">
                </form>
                <p>
                    <a href="" class="smalllink">See All Past Newsletters &gt;</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-12">
                {% if settings.phone %}
                    {{ settings.phone }}<br>
                {% endif %}
                <a href="mailto:{{ settings.email|raw }}">{{ settings.email|raw }}</a><br>
                {% if settings.address %}
                    {{ settings.address }}
                {% endif %}
            </div>
            <div class="col-md-2 col-sm-6">
                {{ settings.footernav1|raw }}
            </div>
            <div class="col-md-2 col-sm-6">
                {{ settings.footernav2|raw }}
            </div>
            <div class="col-md-2 col-sm-12">
                {% if settings.facebook %}
                    <div class="diagonalsoc">
                        <a href="{{ settings.facebook }}"><i class="fa fa-fw fa-facebook"></i></a>
                    </div>
                {% endif %}
                {% if settings.twitter %}
                    <div class="diagonalsoc">
                        <a href="{{ settings.twitter }}"><i class="fa fa-fw fa-twitter"></i></a>
                    </div>
                {% endif %}
                {% if settings.youtube %}
                    <div class="diagonalsoc">
                        <a href="{{ settings.youtube }}"><i class="fa fa-fw fa-youtube"></i></a>
                    </div>
                {% endif %}
                {% if settings.instagram %}
                    <div class="diagonalsoc">
                        <a href="{{ settings.instagram }}"><i class="fa fa-fw fa-instagram"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div id="copyrights" class="col-md-12 text-center">
                Camp STIX Diabetes Programs is a registered non-profit 501(c)3 organization (EIN 91-2077207).
                All donations are tax-deductible as provided by law.<br>
                Camp STIX&copy; {{ "now"|date("Y") }}<br><br>Designed by <a
                        href="https://designspike.com" target="_blank">Design Spike, Inc.</a>
            </div>
        </div>
    </div>

    {# Reusable SVG content for design #}
    <svg width="0" height="0" class="svgdefs" viewbox="0 0 200 200">
        <defs>
            <filter id="dropshadow" height="130%">
                <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> <!-- stdDeviation is how much to blur -->
                <feOffset dx="2" dy="2" result="offsetblur"/> <!-- how much to offset -->
                <feComponentTransfer>
                    <feFuncA type="linear" slope="0.5"/> <!-- slope is the opacity of the shadow -->
                </feComponentTransfer>
                <feMerge>
                    <feMergeNode/> <!-- this contains the offset blurred image -->
                    <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
                </feMerge>
            </filter>
            <g id="diagonalclip100">
                <path d="M80.587,30.059c-0.698-0.731-1.021-1.134-1.333-1.523c-0.314-0.396-0.642-0.806-1.35-1.546
	c-0.695-0.728-1-1.146-1.294-1.551c-0.3-0.413-0.612-0.84-1.324-1.585c-0.711-0.748-1.135-1.069-1.547-1.379
	c-0.418-0.316-0.811-0.614-1.505-1.339c-0.708-0.745-1.104-1.09-1.483-1.424c-0.373-0.33-0.76-0.672-1.459-1.401
	c-0.702-0.737-1.059-1.104-1.411-1.472c-0.354-0.365-0.708-0.731-1.41-1.467c-0.688-0.722-0.938-1.155-1.201-1.614
	c-0.263-0.456-0.533-0.929-1.251-1.681c-0.711-0.743-1.117-1.081-1.506-1.406c-0.387-0.321-0.781-0.651-1.478-1.38
	c-0.712-0.745-1.119-1.081-1.511-1.406c-0.384-0.319-0.781-0.649-1.478-1.377c-0.696-0.729-1.014-1.137-1.319-1.53
	c-0.313-0.403-0.636-0.815-1.344-1.558c-0.702-0.736-1.046-1.121-1.381-1.491c-0.334-0.375-0.681-0.763-1.386-1.503
	c-0.696-0.729-1.01-1.138-1.313-1.535c-0.309-0.406-0.628-0.822-1.338-1.565c-0.699-0.734-1.053-1.102-1.404-1.467
	c-0.354-0.37-0.708-0.736-1.413-1.478c-0.709-0.742-1.104-1.09-1.482-1.424c-0.374-0.33-0.762-0.672-1.461-1.403
	c-0.696-0.731-1.009-1.14-1.316-1.535c-0.309-0.403-0.629-0.821-1.34-1.563c-0.718-0.754-1.176-1.047-1.618-1.332
	c-0.443-0.286-0.866-0.555-1.553-1.276c-0.693-0.725-0.949-1.151-1.223-1.603c-0.271-0.448-0.55-0.91-1.266-1.663
	c-1.154-1.21-2.865-1.391-3.783-1.391c-1.396,0-2.685,0.544-3.626,1.529c-0.71,0.745-1.034,1.155-1.347,1.554
	c-0.308,0.392-0.627,0.798-1.326,1.527c-0.702,0.736-1.069,1.101-1.423,1.452c-0.356,0.355-0.725,0.719-1.431,1.459
	c-0.697,0.73-1.089,1.066-1.469,1.39c-0.386,0.33-0.785,0.673-1.494,1.415c-0.708,0.742-1.037,1.152-1.353,1.546
	c-0.313,0.389-0.635,0.792-1.333,1.523c-0.692,0.725-1.093,1.019-1.517,1.327c-0.418,0.304-0.85,0.619-1.563,1.366
	c-0.717,0.751-0.996,1.216-1.265,1.663c-0.271,0.451-0.528,0.878-1.219,1.601c-0.706,0.742-1.046,1.137-1.375,1.52
	c-0.325,0.377-0.661,0.769-1.362,1.503C8.312,4.29,7.911,4.58,7.486,4.89c-0.418,0.304-0.85,0.619-1.564,1.367
	c-0.705,0.74-1.049,1.114-1.395,1.491c-0.344,0.375-0.687,0.751-1.39,1.487c-0.702,0.736-1.069,1.098-1.426,1.45
	s-0.727,0.717-1.432,1.456c-0.703,0.736-1.068,1.102-1.421,1.453c-0.355,0.357-0.722,0.724-1.427,1.461
	c-0.706,0.738-1.05,1.114-1.396,1.491c-0.345,0.375-0.688,0.748-1.39,1.485c-0.711,0.745-1.028,1.167-1.334,1.573
	c-0.3,0.399-0.61,0.813-1.307,1.542c-0.695,0.727-1.088,1.025-1.507,1.341c-0.41,0.309-0.836,0.629-1.55,1.377
	c-0.711,0.745-1.027,1.167-1.332,1.577c-0.299,0.399-0.608,0.813-1.306,1.544c-0.704,0.737-1.059,1.104-1.412,1.472
	c-0.355,0.365-0.708,0.732-1.414,1.47c-0.901,0.949-1.36,2.21-1.36,3.75c0,1.154,0.123,2.813,1.183,3.924
	c0.718,0.751,1.179,1.043,1.624,1.325c0.446,0.283,0.868,0.552,1.557,1.271c0.692,0.727,0.967,1.135,1.26,1.573
	c0.287,0.427,0.584,0.871,1.297,1.618c0.698,0.729,1.007,1.141,1.31,1.54c0.306,0.407,0.624,0.825,1.335,1.571
	c0.716,0.748,1.163,1.053,1.594,1.346c0.437,0.293,0.847,0.571,1.539,1.297c0.708,0.743,1.102,1.088,1.479,1.423
	c0.374,0.331,0.762,0.673,1.46,1.402c0.698,0.731,1.01,1.141,1.314,1.537c0.31,0.404,0.629,0.819,1.338,1.565
	c0.699,0.731,1.018,1.136,1.326,1.529c0.315,0.398,0.639,0.81,1.348,1.552c0.698,0.732,1.017,1.137,1.325,1.529
	c0.314,0.398,0.639,0.812,1.348,1.554c0.713,0.744,1.133,1.071,1.538,1.385c0.414,0.32,0.805,0.623,1.5,1.35
	c0.712,0.746,1.128,1.074,1.528,1.392c0.411,0.324,0.796,0.63,1.493,1.359c0.401,0.42,0.67,0.734,0.885,1.003
	c0.159,0.198,0.29,0.371,0.415,0.541c0.303,0.412,0.618,0.833,1.329,1.58c0.707,0.741,1.086,1.099,1.454,1.443
	c0.362,0.342,0.738,0.696,1.439,1.431c0.702,0.735,1.05,1.118,1.388,1.488c0.337,0.37,0.688,0.755,1.393,1.494
	c0.697,0.73,1.016,1.137,1.326,1.529c0.314,0.397,0.638,0.81,1.348,1.555c0.701,0.732,1.032,1.129,1.353,1.513
	c0.324,0.387,0.658,0.787,1.366,1.53c0.714,0.746,1.149,1.063,1.569,1.366c0.425,0.306,0.827,0.598,1.521,1.324
	c1.2,1.257,2.38,1.894,3.505,1.894c1.481,0,2.75-1.003,3.555-1.847c0.694-0.728,1.084-1.032,1.495-1.353
	c0.406-0.316,0.821-0.644,1.534-1.39c0.716-0.749,0.998-1.208,1.272-1.652c0.274-0.448,0.536-0.871,1.227-1.594
	c0.7-0.736,1.063-1.095,1.421-1.457c0.358-0.361,0.721-0.723,1.426-1.46c0.424-0.445,0.721-0.762,0.961-1.024
	c0.096-0.104,0.183-0.198,0.265-0.291l0,0c0.055-0.061,0.109-0.121,0.164-0.181c0.337-0.369,0.681-0.752,1.386-1.489
	c0.699-0.734,1.068-1.098,1.423-1.449c0.357-0.353,0.729-0.717,1.435-1.456c0.703-0.737,1.067-1.101,1.42-1.454
	c0.357-0.356,0.724-0.723,1.429-1.46c0.122-0.124,0.229-0.233,0.332-0.339c0.498-0.497,0.833-0.771,1.155-1.03
	c0.395-0.322,0.805-0.656,1.517-1.399c0.708-0.747,1.03-1.162,1.338-1.564c0.305-0.396,0.62-0.806,1.316-1.535
	c0.708-0.739,1.049-1.133,1.38-1.513c0.326-0.377,0.666-0.766,1.366-1.5c0.707-0.742,1.044-1.139,1.37-1.524
	c0.321-0.38,0.656-0.775,1.355-1.508c0.693-0.727,1.085-1.028,1.5-1.347c0.409-0.312,0.83-0.636,1.543-1.382
	c0.711-0.746,1.023-1.172,1.322-1.587c0.295-0.404,0.599-0.821,1.295-1.549c0.688-0.724,1.116-0.985,1.569-1.264
	c0.449-0.276,0.915-0.563,1.637-1.316c0.707-0.741,1.049-1.134,1.382-1.511c0.33-0.374,0.672-0.763,1.371-1.498
	c0.714-0.747,1.012-1.192,1.301-1.621c0.292-0.435,0.565-0.847,1.262-1.573c0.699-0.735,1.052-1.106,1.401-1.476
	c0.352-0.369,0.701-0.74,1.407-1.479c0.972-1.019,1.484-2.286,1.484-3.667C82.12,32.344,81.605,31.126,80.587,30.059z"/>
            </g>
            <g id="diagonalclip260">
                <path d="M251.493,124.821c-1.782-1.872-2.604-2.899-3.404-3.892c-0.809-1.01-1.645-2.054-3.452-3.949
	c-1.773-1.862-2.551-2.927-3.304-3.96c-0.764-1.056-1.563-2.147-3.377-4.052c-1.819-1.908-2.905-2.726-3.952-3.52
	c-1.067-0.805-2.073-1.566-3.849-3.423c-1.809-1.898-2.813-2.782-3.784-3.637c-0.955-0.842-1.945-1.712-3.732-3.578
	c-1.793-1.882-2.701-2.818-3.605-3.757c-0.901-0.935-1.805-1.868-3.603-3.75c-1.759-1.846-2.393-2.949-3.063-4.121
	c-0.673-1.166-1.362-2.373-3.195-4.293c-1.816-1.9-2.85-2.762-3.848-3.592c-0.981-0.817-1.996-1.661-3.774-3.526
	c-1.817-1.902-2.853-2.757-3.854-3.587c-0.985-0.814-1.997-1.658-3.778-3.519c-1.78-1.867-2.589-2.907-3.371-3.914
	c-0.796-1.023-1.622-2.081-3.431-3.981c-1.794-1.875-2.672-2.859-3.521-3.811c-0.854-0.958-1.739-1.95-3.542-3.837
	c-1.778-1.863-2.577-2.912-3.349-3.927c-0.793-1.032-1.609-2.098-3.421-4c-1.791-1.874-2.689-2.814-3.588-3.747
	c-0.905-0.943-1.808-1.881-3.611-3.774c-1.812-1.896-2.819-2.781-3.787-3.635c-0.958-0.844-1.946-1.715-3.731-3.585
	c-1.782-1.866-2.583-2.911-3.363-3.92c-0.788-1.03-1.607-2.097-3.424-3.993c-1.831-1.924-3-2.677-4.131-3.402
	c-1.136-0.731-2.211-1.42-3.971-3.265c-1.764-1.852-2.422-2.94-3.118-4.092c-0.69-1.143-1.405-2.325-3.238-4.245
	c-2.938-3.076-7.31-3.536-9.652-3.538c-3.568,0.001-6.856,1.39-9.263,3.91c-1.812,1.899-2.64,2.95-3.441,3.968
	c-0.788,1.002-1.603,2.036-3.385,3.9c-1.791,1.878-2.731,2.81-3.635,3.708c-0.911,0.906-1.852,1.839-3.653,3.725
	c-1.779,1.867-2.781,2.723-3.751,3.551c-0.984,0.844-2.004,1.715-3.817,3.614c-1.809,1.896-2.647,2.941-3.455,3.949
	c-0.798,0.994-1.622,2.022-3.407,3.89c-1.769,1.854-2.792,2.599-3.874,3.387c-1.066,0.778-2.17,1.583-3.991,3.492
	c-1.833,1.92-2.544,3.103-3.231,4.25c-0.692,1.153-1.346,2.242-3.11,4.088c-1.805,1.893-2.674,2.901-3.514,3.879
	c-0.832,0.966-1.691,1.965-3.479,3.839c-1.768,1.853-2.791,2.599-3.874,3.387c-1.068,0.777-2.17,1.58-3.996,3.491
	c-1.801,1.886-2.681,2.848-3.563,3.809c-0.876,0.957-1.754,1.915-3.547,3.795c-1.792,1.874-2.731,2.803-3.64,3.698
	c-0.913,0.902-1.857,1.832-3.66,3.719c-1.794,1.88-2.728,2.813-3.629,3.715c-0.907,0.907-1.846,1.843-3.646,3.73
	c-1.801,1.886-2.682,2.846-3.566,3.808c-0.877,0.957-1.755,1.915-3.548,3.792c-1.817,1.902-2.624,2.979-3.407,4.02
	c-0.766,1.021-1.56,2.075-3.339,3.94c-1.771,1.856-2.78,2.618-3.848,3.422c-1.048,0.791-2.135,1.61-3.958,3.521
	c-1.817,1.902-2.625,2.981-3.405,4.026c-0.765,1.019-1.555,2.077-3.334,3.94c-1.798,1.883-2.702,2.819-3.607,3.758
	c-0.905,0.935-1.809,1.872-3.608,3.757c-2.313,2.423-3.484,5.647-3.485,9.58c0.001,2.947,0.313,7.187,3.021,10.024
	c1.834,1.921,3.009,2.663,4.147,3.386c1.139,0.722,2.216,1.405,3.975,3.245c1.77,1.856,2.473,2.904,3.218,4.018
	c0.732,1.097,1.491,2.226,3.314,4.134c1.78,1.865,2.573,2.917,3.344,3.934c0.782,1.041,1.594,2.111,3.409,4.014
	c1.83,1.915,2.97,2.688,4.073,3.436c1.114,0.755,2.164,1.465,3.928,3.313c1.811,1.898,2.813,2.784,3.783,3.638
	c0.954,0.842,1.942,1.714,3.727,3.583c1.779,1.867,2.582,2.912,3.356,3.924c0.79,1.033,1.607,2.096,3.418,3.999
	c1.786,1.869,2.601,2.905,3.388,3.907c0.803,1.018,1.629,2.069,3.442,3.967c1.782,1.867,2.594,2.905,3.384,3.905
	c0.802,1.019,1.629,2.075,3.441,3.968c1.818,1.906,2.893,2.737,3.93,3.537c1.055,0.82,2.055,1.591,3.827,3.448
	c1.82,1.905,2.881,2.744,3.907,3.553c1.049,0.826,2.036,1.61,3.813,3.47c1.024,1.07,1.713,1.875,2.264,2.563
	c0.404,0.504,0.735,0.947,1.058,1.383c0.775,1.047,1.578,2.127,3.393,4.029c1.806,1.895,2.774,2.807,3.712,3.688
	c0.929,0.873,1.886,1.778,3.676,3.653c1.794,1.88,2.684,2.857,3.544,3.8c0.865,0.947,1.757,1.931,3.559,3.817
	c1.781,1.866,2.597,2.904,3.385,3.906c0.801,1.016,1.631,2.073,3.441,3.972c1.789,1.871,2.634,2.884,3.453,3.862
	c0.828,0.989,1.686,2.012,3.492,3.909c1.829,1.911,2.937,2.714,4.007,3.49c1.089,0.784,2.113,1.525,3.884,3.381
	c3.064,3.21,6.077,4.838,8.952,4.837c3.785,0.002,7.026-2.561,9.079-4.717c1.775-1.859,2.769-2.637,3.82-3.454
	c1.034-0.809,2.099-1.642,3.919-3.546c1.829-1.915,2.549-3.089,3.248-4.219c0.704-1.146,1.371-2.225,3.133-4.072
	c1.794-1.88,2.714-2.8,3.63-3.719c0.92-0.926,1.841-1.85,3.643-3.732c1.086-1.142,1.84-1.947,2.458-2.62
	c0.24-0.265,0.461-0.506,0.671-0.737l0,0c0.144-0.155,0.282-0.311,0.424-0.463c0.856-0.947,1.742-1.926,3.536-3.805
	c1.79-1.874,2.729-2.803,3.638-3.7c0.912-0.899,1.859-1.833,3.661-3.719c1.793-1.879,2.726-2.812,3.629-3.712
	c0.909-0.908,1.849-1.843,3.651-3.73c0.307-0.317,0.583-0.598,0.846-0.861c1.274-1.274,2.124-1.973,2.947-2.638
	c1.009-0.821,2.057-1.674,3.875-3.575c1.813-1.901,2.633-2.965,3.42-3.995c0.78-1.01,1.585-2.053,3.362-3.921
	c1.807-1.886,2.675-2.892,3.521-3.863c0.834-0.962,1.7-1.957,3.49-3.832c1.804-1.89,2.668-2.907,3.497-3.892
	c0.823-0.973,1.673-1.981,3.465-3.852c1.771-1.856,2.771-2.626,3.83-3.441c1.042-0.796,2.12-1.623,3.941-3.529
	c1.815-1.901,2.613-2.992,3.378-4.048c0.753-1.034,1.529-2.1,3.307-3.96c1.761-1.844,2.847-2.512,4.002-3.223
	c1.15-0.706,2.342-1.441,4.183-3.362c1.806-1.89,2.679-2.891,3.529-3.855c0.843-0.958,1.711-1.953,3.502-3.828
	c1.823-1.91,2.585-3.045,3.319-4.139c0.744-1.115,1.449-2.162,3.223-4.018c1.79-1.881,2.686-2.826,3.579-3.77
	c0.896-0.949,1.792-1.891,3.6-3.782c2.479-2.601,3.789-5.835,3.787-9.364C255.411,130.653,254.093,127.544,251.493,124.821z"/>
            </g>
            <g id="diagonalclip460">
                <path d="M451.962,224.319c-3.202-3.363-4.679-5.209-6.117-6.994c-1.453-1.815-2.956-3.692-6.204-7.098
	c-3.188-3.346-4.584-5.26-5.938-7.116c-1.372-1.898-2.808-3.858-6.068-7.282c-3.27-3.429-5.222-4.898-7.103-6.326
	c-1.919-1.446-3.727-2.815-6.917-6.152c-3.25-3.411-5.056-4.999-6.801-6.536c-1.716-1.514-3.495-3.077-6.707-6.431
	c-3.223-3.383-4.854-5.065-6.479-6.751c-1.62-1.68-3.243-3.356-6.475-6.738c-3.16-3.317-4.3-5.3-5.505-7.406
	c-1.21-2.095-2.448-4.265-5.742-7.716c-3.265-3.415-5.121-4.964-6.915-6.455c-1.764-1.468-3.587-2.984-6.783-6.336
	c-3.266-3.418-5.126-4.956-6.925-6.447c-1.771-1.463-3.589-2.98-6.79-6.323c-3.199-3.354-4.654-5.224-6.058-7.033
	c-1.431-1.839-2.914-3.74-6.166-7.154c-3.226-3.37-4.802-5.139-6.329-6.849c-1.534-1.721-3.125-3.505-6.364-6.896
	c-3.196-3.348-4.632-5.232-6.019-7.057c-1.426-1.854-2.893-3.771-6.148-7.188c-3.219-3.368-4.833-5.057-6.447-6.733
	c-1.626-1.695-3.25-3.381-6.49-6.783c-3.256-3.407-5.066-4.998-6.806-6.533c-1.721-1.517-3.498-3.083-6.706-6.443
	c-3.203-3.354-4.641-5.231-6.044-7.044c-1.415-1.852-2.888-3.768-6.154-7.176c-3.291-3.457-5.392-4.811-7.423-6.113
	c-2.042-1.314-3.975-2.552-7.137-5.868c-3.17-3.327-4.353-5.283-5.604-7.353c-1.24-2.055-2.525-4.179-5.819-7.629
	c-5.28-5.528-13.137-6.354-17.346-6.358c-6.412,0.002-12.322,2.499-16.647,7.026c-3.255,3.414-4.745,5.302-6.184,7.131
	c-1.417,1.801-2.881,3.659-6.083,7.01c-3.219,3.375-4.908,5.05-6.532,6.665c-1.636,1.627-3.328,3.305-6.564,6.693
	c-3.197,3.355-4.998,4.893-6.742,6.382c-1.769,1.517-3.602,3.083-6.86,6.494c-3.251,3.408-4.758,5.286-6.209,7.097
	c-1.434,1.786-2.915,3.635-6.122,6.991c-3.179,3.332-5.017,4.671-6.961,6.087c-1.916,1.399-3.899,2.844-7.172,6.276
	c-3.293,3.452-4.572,5.577-5.808,7.637c-1.243,2.072-2.419,4.028-5.589,7.346c-3.244,3.401-4.805,5.214-6.315,6.972
	c-1.496,1.737-3.04,3.531-6.253,6.899c-3.177,3.33-5.016,4.67-6.961,6.087c-1.919,1.397-3.9,2.839-7.182,6.273
	c-3.236,3.389-4.818,5.118-6.402,6.845c-1.574,1.719-3.153,3.441-6.375,6.821c-3.219,3.367-4.909,5.037-6.542,6.646
	c-1.641,1.621-3.338,3.292-6.577,6.684c-3.224,3.378-4.901,5.056-6.522,6.677c-1.63,1.63-3.318,3.313-6.551,6.704
	c-3.237,3.389-4.82,5.115-6.408,6.843c-1.576,1.72-3.155,3.442-6.377,6.816c-3.266,3.418-4.716,5.353-6.123,7.223
	c-1.376,1.834-2.803,3.729-6.001,7.081c-3.183,3.335-4.996,4.706-6.915,6.15c-1.884,1.422-3.836,2.894-7.112,6.328
	c-3.265,3.418-4.716,5.357-6.12,7.235c-1.374,1.831-2.795,3.733-5.992,7.082c-3.232,3.384-4.855,5.065-6.483,6.754
	c-1.626,1.68-3.251,3.364-6.485,6.751C2.106,228.061,0.002,233.855,0,240.922c0.002,5.296,0.562,12.916,5.429,18.015
	c3.296,3.453,5.407,4.785,7.453,6.084c2.046,1.298,3.983,2.524,7.144,5.832c3.181,3.335,4.444,5.22,5.783,7.22
	c1.315,1.972,2.68,4,5.956,7.43c3.199,3.352,4.625,5.242,6.01,7.07c1.405,1.87,2.865,3.794,6.126,7.213
	c3.288,3.441,5.338,4.831,7.319,6.174c2.002,1.357,3.889,2.633,7.06,5.955c3.254,3.412,5.056,5.004,6.798,6.537
	c1.715,1.513,3.491,3.081,6.697,6.44c3.198,3.355,4.64,5.232,6.032,7.052c1.42,1.856,2.888,3.768,6.144,7.187
	c3.21,3.358,4.673,5.22,6.089,7.021c1.443,1.829,2.928,3.718,6.187,7.129c3.202,3.355,4.662,5.221,6.081,7.019
	c1.441,1.83,2.928,3.729,6.185,7.131c3.268,3.426,5.199,4.92,7.062,6.356c1.896,1.475,3.692,2.859,6.877,6.197
	c3.271,3.424,5.177,4.932,7.021,6.385c1.885,1.484,3.658,2.894,6.853,6.235c1.84,1.924,3.079,3.37,4.068,4.605
	c0.727,0.905,1.322,1.702,1.902,2.485c1.393,1.881,2.836,3.822,6.098,7.24c3.246,3.405,4.985,5.044,6.671,6.629
	c1.669,1.569,3.39,3.196,6.607,6.565c3.225,3.379,4.823,5.136,6.37,6.829c1.554,1.702,3.157,3.47,6.396,6.86
	c3.201,3.354,4.667,5.219,6.083,7.02c1.44,1.825,2.931,3.727,6.185,7.138c3.214,3.362,4.734,5.183,6.206,6.941
	c1.487,1.777,3.029,3.615,6.275,7.025c3.287,3.435,5.277,4.877,7.201,6.272c1.957,1.409,3.797,2.741,6.979,6.075
	c5.507,5.769,10.921,8.694,16.087,8.692c6.802,0.004,12.626-4.602,16.315-8.477c3.19-3.342,4.977-4.738,6.865-6.207
	c1.858-1.453,3.771-2.95,7.043-6.373c3.286-3.441,4.582-5.551,5.837-7.581c1.266-2.061,2.464-3.998,5.631-7.318
	c3.224-3.379,4.877-5.031,6.524-6.684c1.653-1.663,3.308-3.323,6.546-6.707c1.953-2.052,3.308-3.5,4.417-4.709
	c0.432-0.476,0.829-0.909,1.207-1.325l0,0c0.259-0.278,0.507-0.558,0.762-0.831c1.539-1.703,3.131-3.461,6.354-6.838
	c3.217-3.368,4.905-5.037,6.538-6.649c1.639-1.616,3.342-3.295,6.579-6.684c3.223-3.376,4.897-5.053,6.521-6.671
	c1.633-1.632,3.323-3.312,6.561-6.704c0.553-0.57,1.047-1.073,1.521-1.548c2.29-2.29,3.815-3.545,5.296-4.74
	c1.813-1.476,3.697-3.008,6.964-6.425c3.259-3.417,4.732-5.328,6.146-7.18c1.401-1.814,2.849-3.689,6.042-7.046
	c3.247-3.39,4.808-5.198,6.329-6.943c1.498-1.729,3.055-3.516,6.272-6.887c3.241-3.396,4.794-5.225,6.284-6.994
	c1.479-1.748,3.007-3.561,6.227-6.922c3.182-3.335,4.979-4.719,6.884-6.184c1.872-1.431,3.81-2.917,7.083-6.343
	c3.263-3.417,4.696-5.377,6.07-7.275c1.354-1.857,2.748-3.773,5.942-7.116c3.164-3.314,5.116-4.514,7.192-5.792
	c2.067-1.268,4.208-2.59,7.517-6.042c3.245-3.396,4.813-5.196,6.343-6.929c1.514-1.723,3.074-3.51,6.293-6.879
	c3.276-3.433,4.646-5.473,5.965-7.438c1.338-2.004,2.604-3.885,5.792-7.22c3.217-3.381,4.826-5.078,6.432-6.774
	c1.609-1.706,3.221-3.398,6.47-6.797c4.455-4.675,6.809-10.486,6.806-16.829C459.003,234.8,456.636,229.212,451.962,224.319z"/>
            </g>
        </defs>
    </svg>
</footer>
</body>
</html>

