<ul class="{{ nav[0]['ul_class'] }}">
	{% for sub in nav %}
		<li class="{{ sub.link_class }}">
			<a href="{{ sub.link }}">
				{{ options.before_html|raw }}
				{{ sub.title }}
				{{ options.after_html|raw }}
			</a>
			{% if sub.subs %}
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" >
					{{ options.subnav_marker|raw }}
                </a>
				{% include _self with {nav: sub.subs} %}
			{% endif %}
		</li>
	{% endfor %}
</ul>

