<ul class="{{ ul_class }}">
    {% for sub in nav %}
        <li class="nav_{{ sub.keyword }} {{ sub.link_class }} {% if sub.subs %}dropdown{% endif %}">
            <a href="{{ sub.link }}" class="{{ sub.link_class }}">
                {{ options.before_html|raw }}
                {{ sub.title }}
                {{ options.after_html|raw }}
            </a>
            {% if sub.subs %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                    <i class="fa fa-fw fa-chevron-down"></i>
                </a>
                <div class="dropdown-menu">
                    {% include _self with {nav: sub.subs} %}
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
