{% for sub in footernav %}
    <div class="footer_nav">
        <a href="/{{ sub.link }}">
            {{ sub.title }}
        </a>
        {% if sub.subs %}
            <ul>
            {% for subsub in sub.subs %}
                <li><a href="/{{ subsub.link }}">{{ subsub.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endfor %}