{% if page.page_vars.sidebar %}
<button class="btn btn-navbar btn-sticky" type="button" data-toggle="collapse" data-target="#sticky-nav">
    {% if page.sidebar_title %}
        {{ page.sidebar_title|raw }}
    {% else %}
        Additional Options
    {% endif %}
</button>
<div class="sticky-nav collapse" id="sticky-nav">
    <div class="sticky-centered-contain">
        <div class="sticky-centered">
            {{ page.page_vars.sidebar|raw }}
        </div>
    </div>
</div>
{% endif %}