{% extends "layout.html.twig" %}
{% from 'include/_macros.twig' import argyleGallery %}


{% block content %}
    <div class="wavy-top-white">
        {% block banner_content %}{% endblock %}
        <div class="container-holder pad wavy-bottom-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 {% if page.page_vars.alignment != 'left' %}text-center{% endif %}" id="main">
                        {#<p class="breadcrumbs">#}
                        {#{{ page.breadcrumbs|raw }}#}
                        {#</p>#}
                        {% if page.page_vars.heading %}
                            <h1>{{ page.page_vars.heading }}</h1>
                            <div class="subtitle">{{ page.page_vars.subheading }}</div>
                            <div class="hrsmall"></div>
                        {% endif %}

                        {% block sub_content %}{% endblock %}

                        {% if reglink %}
                            <a href="{{ reglink }}" class="prm-btn">Register</a>
                        {% endif %}
                        <br>


                    </div>
                </div>
            </div>
        </div>
        {{ page.page_vars.subcontent|raw }}
        {% for s in page.page_vars.subsections %}
        <div class="box-image
            {% if loop.index is even %}box-image-even{% else %}box-image-odd{% endif %}"
            {% if s.image %} style="background-image:url(/upload/page_images/2000/{{ s.image }});"{% endif %}"
            >
            <div class="image-overlay pad">
                <div class="container">
                    <div class="row">
                        {% if s.gallery %}
                            <div class="col-md-5 hidden-sm {% if loop.index is even %}col-md-push-7{% endif %}">
                                <div id="subgallery-{{ loop.index }}"  class="gallery-overflow gallery-shift">
                                    {% set photos = getGallery(s.gallery) %}
                                    {% if photos|length > 6 %}
                                        {% set length = 7 %}
                                    {% elseif photos|length > 4 %}
                                        {% set length = 5 %}
                                    {% else %}
                                        {% set length = 3 %}
                                    {% endif %}
                                    {{ argyleGallery(photos,length) }}
                                </div>
                            </div>
                            <div class="col-md-7 {% if loop.index is even %}col-md-pull-5{% endif %}">
                        {% else %}
                            <div class="col-md-10 col-md-offset-1">
                        {% endif %}
                            <h1>{{ s.header }}</h1>
                            <div class="subtitle">{{ s.subheader}}</div>
                            <div class="hrsmall-white"></div>
                            {{ getContentGallery(s.content)|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% block footerlink %}{% endblock %}
    </div>

{% endblock %}