{% extends "layout.html.twig" %}
{% block content %}
    {% for section in page.document %}
        {% include "section_" ~ section.template ~ ".html.twig" with section only %}
    {% endfor %}
{% endblock %}
