{% macro argyleGallery(photos,limit) %}

    {% set count = photos|length %}

    {% if count > 0 %}
        <div class="col-sm-12  text-center pad-bottom">
            <div class="diagonal-image-wrap di{{ limit }}x">
                {% for photo in photos %}
                    {% if loop.index0 == 6 and limit == 13 %}
                        <svg class="diagonal-image dibig" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#diagonalclip460" fill="url(#img{{ photo.id }})" style="filter:url(#dropshadow)"></use>
                        </svg>
                    {% else %}
                        <svg class="diagonal-image" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#diagonalclip260" fill="url(#img{{ photo.id }})" style="filter:url(#dropshadow)"></use>
                        </svg>
                    {% endif %}
                {% endfor %}
            </div>

            <svg width="0" height="0" class="svgdefs" viewbox="0 0 200 200">
                <defs>
                    {% for photo in photos %}
                        {% if loop.index0 == 6 and limit == 13 %}
                            <pattern id="img{{ photo.id }}" patternUnits="userSpaceOnUse" width="460" height="485">
                                <image xlink:href="/upload/photos/460/{{ photo.image }}" preserveAspectRatio="xMidYMid slice" x="0" y="0" width="460" height="485"/>
                            </pattern>
                        {% else %}
                            <pattern id="img{{ photo.id }}" patternUnits="userSpaceOnUse" width="260" height="270">
                                <image xlink:href="/upload/photos/260/{{ photo.image }}" x="0" y="0" width="260" height="270"/>
                            </pattern>
                        {% endif %}
                    {% endfor %}
                </defs>
            </svg>
        </div>
    {% endif %}
{% endmacro %}


