{% if type == 2 %}
    <div class="premium-callout">
        <h3>Get a Service Provider Premium Account</h3>
        <p>An Espresso Service Provider Annual Premium Subscription provides you with additional discounts and services</p>
        <ul>
            <li>Enjoy an extra 2% Equipment Sales Processing Discount.</li>
            <li>Find Regions for Potential Growth or Franchise Opportunities with Larger Search Capabilities on the Espresso Service Directory.</li>
            <li>One (1) Complimentary Espresso Service Network Mediation Service.</li>
        </ul>
        <p> As a vital part of the espresso community, your support and involvement with the Espresso Service Network will help improve commercial espresso service in the United States. Thank you for joining us.</p>

        <a href="/subscribe" class="btn prm-btn small-btn">Subscribe to Premium Account</a>
    </div>
{% elseif type == 1 %}
    <div class="premium-callout">
        <h3>Get a Business/Individual Premium Account</h3>
        <p>An Espresso Service Network Annual Premium Subscription provides you with additional discounts and services </p>
        <ul>
            <li>Save with a two (2) Percent Discount on all Espresso Equipment Purchases.</li>
            <li>Enjoy Larger Search Capabilities on the Espresso Service Directory. </li>
            <li>Receive one (1) Complimentary Espresso Service Network Mediation Service. </li>
        </ul>
        <p> As a vital part of the espresso community, your support and involvement with the Espresso Service Network will help improve commercial espresso service in the United States. Thank you for joining us.</p>

        <a href="/subscribe" class="btn prm-btn small-btn">Subscribe to Premium Account</a>
    </div>
{% else %}

{% endif %}