<h2>Welcome {{ user.name }}</h2>

<div class="row">
    <div class="col-md-12">
        <h4>Account Details</h4>
        <b>Email:</b> {{ f.user_email }}<br>

        <a href="/edit-account" class="prm-btn">Edit Account</a>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <h4>Camper Registrations</h4>
        {#{% if partialsignups %}#}
            {#<h5>Continue Where You Left Off?</h5>#}
            {#<table class="camper_tbl">#}
                {#<tr>#}
                    {#<th>Registrant</th>#}
                    {#<th>Started</th>#}
                    {#<th>Camp</th>#}
                    {#<th></th>#}
                {#</tr>#}
                {#{% for c in partialsignups %}#}
                    {#<tr>#}
                        {#<td nowrap="nowrap">{{ c.firstname }} {{ c.lastname }}</td>#}
                        {#<td>{{ c.dateadded|date('m/d/Y') }}</td>#}
                        {#<td>{{ c.p.title }}</td>#}
                        {#<td nowrap="nowrap">#}
                            {#<a href="/edit-camper?c={{ c.id }}" title="Edit"><i class="fa fa-fw fa-edit "></i> Continue Signup</a><br>#}
                        {#</td>#}
                    {#</tr>#}

                {#{% endfor %}#}
            {#</table>#}
            {#<Br>#}
        {#{% endif %}#}

        {% if campers %}
            {% if openfunding %}
                <div style="padding: 5px 10px; line-height: 90%; border:solid 1px #eee; background:#f7f7f7">
                    <h5>Fund My Camper Pages</h5>
                    <p>The following fund my camper pages are live.</p>
                    {% for c in campers %}
                        {% if c.f.id %}
                            {% if date(c.p.startdate ) >= date() %}
                                <a href="/fund-my-camper/{{ c.f.keyword }}" title="Funding Page link"><i class="fa fa-fw fa-link "></i> {{ c.firstname }} {{ c.lastname }} Funding Page link</a><br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <table class="camper_tbl">
                <tr>
                    <th>Registrant</th>
                    <th>Added</th>
                    <th>Camp</th>
                    <th>Status</th>
                    <th>Due</th>
                    <th></th>
                </tr>
                {% for c in campers %}
                    <tr>
                        <td nowrap="nowrap">{{ c.firstname }} {{ c.lastname }}</td>
                        <td>{{ c.added|date('m/d/Y') }}</td>
                        <td>{{ c.p.title }}</td>
                        <td>{{ c.status }}</td>
                        <td nowrap="nowrap">
                            {% if c.status != "Paid" %}
                                ${{ (c.p.price)|number_format(2, '.', ',') }}

                                {% if c.s.amount > 0 or c.pledged > 0 %}
                                    <br>
                                    {% if c.s.amount > 0 %}
                                        -${{ c.s.amount|number_format(2, '.', ',') }} <span style="font-size:9px;">(Scholarship)</span>
                                        <br>
                                    {% endif %}
                                    {% if c.pledged > 0 %}
                                        -${{ c.pledged|number_format(2, '.', ',') }} <span style="font-size:9px;">(Pledged)</span>
                                        <br>
                                    {% endif %}
                                    <b>${{ (c.p.price - c.pledged - c.s.amount)|number_format(2, '.', ',') }}</b>
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td nowrap="nowrap">
                            <a href="/edit-camper?c={{ c.id }}" title="Edit"><i class="fa fa-fw fa-edit "></i> Edit</a><br>
                            {% if c.status != "Paid" %}
                            <a href="/cp/cart-camper-pay?c={{ c.id }}" title="Make Payment"><i class="fa fa-fw fa-credit-card "></i> Make Payment</a><br>

                            {% if date(c.p.startdate ) >= date() %}
                                {% if c.s.status < 1 %}
                                    {% if c.s.id %}
                                        <a href="/request-scholarship?c={{ c.id }}" title="Edit Scholarship"><i class="fa fa-fw fa-gift "></i> Edit Scholarship Request</a><br>
                                    {% else %}
                                        <a href="/request-scholarship?c={{ c.id }}" title="Request Scholarship"><i class="fa fa-fw fa-gift "></i> Request Scholarship</a><br>
                                    {% endif %}
                                {% elseif c.s.status == 1 %}
                                    <i class="fa fa-fw fa-gift "></i> Scholarship Approved<br>
                                {% elseif c.s.status == 2 %}
                                    <i class="fa fa-fw fa-gift "></i> Scholarship Denied<br>
                                {% endif %}
                                    {% if c.f.id %}
                                        <a href="/funding-edit?c={{ c.id }}" title="Edit Funding Page"><i class="fa fa-fw fa-heart "></i> Edit Funding Page</a><br>
                                        <a href="/fund-my-camper/{{ c.f.keyword }}" title="Funding Page link"><i class="fa fa-fw fa-link "></i> Funding Page link</a><br>
                                    {% else %}
                                        <a href="/funding-edit?c={{ c.id }}" title="Create Funding Page"><i class="fa fa-fw fa-heart "></i> Create Funding Page</a><br>
                                    {% endif %}
                                {% endif %}

                                {% if c.cm.id %}
                                    <a href="/cabin-mate-request-form?c={{ c.id }}" title="Edit Cabin-mate request"><i class="fa fa-fw fa-users "></i> Edit Cabin-mate request</a><br>
                                {% else %}
                                    <a href="/cabin-mate-request-form?c={{ c.id }}" title="Request Cabin-mate"><i class="fa fa-fw fa-users "></i> Request Cabin-mate</a><br>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            </table>
            <br>
            <div style="padding: 5px 10px; line-height: 90%; border:solid 1px #eee; background:#f7f7f7">
                <h5>Need a Scholarship?</h5>
                <p>If you are interested in a scholarship for one of your campers, you simply need to click the <b>"<i class="fa fa-fw fa-gift "></i> Request Scholarship"</b> button next to the desired camper above.</p>
            </div>
        {% else %}
            <p>No Campers Registered</p>
        {% endif %}

    </div>
</div>
{% if volunteers %}
    <br>
    <hr>
<div class="row">
    <div class="col-md-12">
        <h4>Volunteer Registrations</h4>
            <table class="camper_tbl">
                <tr>
                    <th>Registrant</th>
                    <th>Added</th>
                    <th>Camp</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {% for c in volunteers %}
                    <tr>
                        <td nowrap="nowrap">{{ c.firstname }} {{ c.lastname }}</td>
                        <td>{{ c.added|date('m/d/Y') }}</td>
                        <td>{{ c.p.title }}</td>
                        <td>{{ c.status }}</td>
                        <td nowrap="nowrap">
                            {% if c.status != "Approved" %}
                                <a href="/volunteer-signup/?v={{ c.id }}" title="Edit"><i class="fa fa-fw fa-edit "></i> Edit</a><br>
                            {% endif %}
                            <a href="/tent-or-rv-form/?v={{ c.id }}" title="Edit"><i class="fa fa-fw fa-edit "></i> Tent Or RV Info</a><br>
                        </td>
                    </tr>

                {% endfor %}
            </table>

    </div>
</div>
        {% endif %}