<div class="sidebar_title">Options</div>
{% if blogstags is not empty %}
    <h2>Categories</h2>
    {% for tag in blogstags %}
        <a style="margin-bottom:5px;" {% if current.cat == tag.id %}class="currenttag"{% endif %} href="/{{ page.keyword }}?category={{ tag.id }}">{{ tag.title }} ({{ tag.count }})</a>
    {% endfor %}
{% endif %}

<h2>Date Range</h2>
<form method="get" action="/{{ page.keyword }}">
    {% if current.cat %}
        <input type="hidden" name="category" value="{{ current.cat }}" />
    {% endif %}
    <div class="reponsive-left">
        <input type="text" placeholder="start" id="datefrom" name="startd" style="width:90px" {% if current.startd %}value="{{ current.startd }}"{% endif %} />
        <span class="responsive-br"></span>
        To <input type="text" placeholder="end" id="dateto" name="endd" style="width:90px" {% if current.endd %}value="{{ current.endd }}"{% endif %} />
        <span class="responsive-br"></span>
        <input type="submit" value="Filter Articles" class="small-btn" />
    </div>
</form>
<br>

<script>
    $(function(){
        $( "#datefrom" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            dateFormat : 'yy-mm-dd',
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#dateto" ).datepicker( "option", "minDate", selectedDate );
            }
        });
        $( "#dateto" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            dateFormat : 'yy-mm-dd',
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#datefrom" ).datepicker( "option", "maxDate", selectedDate );
            }
        });
    });
</script>