<form id='scholarshipform' action="/a/cabinmate" method="post">
    <input type="hidden" name="id" value="{{ cm.id }}">
    <input type="hidden" name="cid" value="{{ c.id }}">
    {% if s.id %}
        <h2>Update cabin-mate request for <br>{{ c.firstname }} {{ c.lastname }}</h2>
    {% else %}
        <h2>Cabin-mate request for <br>{{ c.firstname }} {{ c.lastname }}</h2>
    {% endif %}
        <table class="ecom_tbl">
            <tr>
                <th colspan="2">First Cabin-Mate</th>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">Cabin-Mate's First Name<span class="reqstar">*</span>
                </td>
                <td>
                    <input type="text" name="firstname1" value="{{ cm.firstname1 }}" required />
                </td>
            </tr>
            <tr>
                <td class="labeltd">Cabin-Mate's Last Name<span class="reqstar">*</span>
                </td>
                <td>
                    <input type="text" name="lastname1" value="{{ cm.lastname1 }}" required />
                </td>
            </tr>
            <tr>
                <td class="labeltd">Cabin-Mate's Age<span class="reqstar">*</span>
                </td>
                <td>
                    <input type="text" name="age1" value="{{ cm.age1 }}" required />
                </td>
            </tr>
            <tr>
                <td class="labeltd">Cabin-Mate's Gender<span class="reqstar">*</span>
                </td>
                <td>
                    <select name="gender1" required>
                        <option value=""></option>
                        <option {% if cm.gender1 == "Male" %}selected="selected"{% endif %} value="Male">Male</option>
                        <option {% if cm.gender1 == "Female" %}selected="selected"{% endif %} value="Female">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th colspan="2">Second Cabin-Mate</th>
            </tr>
            <tr>
                <td class="labeltd">Cabin-Mate's First Name
                </td>
                <td>
                    <input type="text" name="firstname2" value="{{ cm.firstname2 }}"  />
                </td>
            </tr>
            <tr>
                <td class="labeltd">Cabin-Mate's Last Name
                </td>
                <td>
                    <input type="text" name="lastname2" value="{{ cm.lastname2 }}"  />
                </td>
            </tr>
            <tr>
                <td class="labeltd">Cabin-Mate's Age
                </td>
                <td>
                    <input type="text" name="age2" value="{{ cm.age2}}"  />
                </td>
            </tr>
            <tr>
                <td class="labeltd">Cabin-Mate's Gender
                </td>
                <td>
                    <select name="gender2">
                        <option value=""></option>
                        <option {% if cm.gender2 == "Male" %}selected="selected"{% endif %} value="Male">Male</option>
                        <option {% if cm.gender2 == "Female" %}selected="selected"{% endif %} value="Female">Female</option>
                    </select>
                </td>
            </tr>

            </table>
        <br>
        {% if s.id %}
            <input type="submit" value="Update Request" name="submit" />
        {% else %}
            <input type="submit" value="Submit Request" name="submit" />
        {% endif %}
</form>