<input type="hidden" name="pid" value="{{ camper.pid }}">
<input type="hidden" name="id" value="{{ camper.id }}">
<h3>Registration {{ title }}</h3>
<h4>{{ camper.p.title }}</h4>
<table class="ecom_tbl">
    <tr>
        <th colspan="2">Registration Information</th>
    </tr>
    <tr>
        <td style="text-align:right;">First Name</td>
        <td>
            <input type="text" name="firstname" value="{{ camper.firstname }}"/></td>
    </tr>
    <tr>
        <td style="text-align:right;">Last Name</td>
        <td>
            <input type="text" name="lastname" value="{{ camper.lastname }}"/></td>
    </tr>
</table>