<input type="hidden" name="pid" value="{{ camper.pid }}">
<input type="hidden" name="id" value="{{ camper.id }}">
<h3>Registration {{ title }}</h3>
<table class="ecom_tbl">
    <tr>
        <th colspan="2">Registration Information</th>
    </tr>
    <tr>
        <td class="labeltd" style="width: 50%;">First Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="firstname" value="{{ camper.firstname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Last Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="lastname" value="{{ camper.lastname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Date of Birth<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="bdate" class="date_single" value="{{ camper.bdate }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Gender<span class="reqstar">*</span></td>
        <td>
            <select name="gender" required>
                <option value=""></option>
                <option {% if camper.gender == "Male" %}selected="selected"{% endif %} value="Male">Male</option>
                <option {% if camper.gender == "Female" %}selected="selected"{% endif %} value="Female">Female</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">T-Shirt Size<span class="reqstar">*</span></td>
        <td>
            <select name="tshirt" id="" required>
                <option value=""></option>
                <option {% if camper.tshirt == "Youth X-Small" %}selected="selected"{% endif %} value="Youth X-Small">Youth X-Small</option>
                <option {% if camper.tshirt=="Youth Small" %}selected="selected"{% endif %} value="Youth Small">Youth Small</option>
                <option {% if camper.tshirt=="Youth Medium" %}selected="selected"{% endif %} value="Youth Medium">Youth Medium</option>
                <option {% if camper.tshirt=="Youth Large" %}selected="selected"{% endif %} value="Youth Large">Youth Large</option>
                <option {% if camper.tshirt=="Youth X-Large" %}selected="selected"{% endif %} value="Youth X-Large">Youth X-Large</option>
                <option {% if camper.tshirt=="Adult Small" %}selected="selected"{% endif %} value="Adult Small">Adult Small</option>
                <option {% if camper.tshirt=="Adult Medium" %}selected="selected"{% endif %} value="Adult Medium">Adult Medium</option>
                <option {% if camper.tshirt=="Adult Large" %}selected="selected"{% endif %} value="Adult Large">Adult Large</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">New to Camp STIX/TWIGS?<span class="reqstar">*</span></td>
        <td>
            <select name="newtocamp" required>
                <option value=""></option>
                <option {% if camper.newtocamp == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.newtocamp == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Does this camper have diabetes?</td>
        <td>
            <select name="hasdiabetes"  class="shownextonyes" rel="hasdiabetesmore" required>
                <option value=""></option>
                <option {% if camper.hasdiabetes == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.hasdiabetes == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="hasdiabetesmore" class="showmore" style="display: none;">
                Age at Diagnosis<br>
                <select name="ageofdiagnosis">
                    <option {% if camper.ageofdiagnosis == "0" %}selected="selected"{% endif %} value="0">0</option>
                    <option {% if camper.ageofdiagnosis == "1" %}selected="selected"{% endif %} value="1">1</option>
                    <option {% if camper.ageofdiagnosis == "2" %}selected="selected"{% endif %} value="2">2</option>
                    <option {% if camper.ageofdiagnosis == "3" %}selected="selected"{% endif %} value="3">3</option>
                    <option {% if camper.ageofdiagnosis == "4" %}selected="selected"{% endif %} value="4">4</option>
                    <option {% if camper.ageofdiagnosis == "5" %}selected="selected"{% endif %} value="5">5</option>
                    <option {% if camper.ageofdiagnosis == "6" %}selected="selected"{% endif %} value="6">6</option>
                    <option {% if camper.ageofdiagnosis == "7" %}selected="selected"{% endif %} value="7">7</option>
                    <option {% if camper.ageofdiagnosis == "8" %}selected="selected"{% endif %} value="8">8</option>
                    <option {% if camper.ageofdiagnosis == "9" %}selected="selected"{% endif %} value="9">9</option>
                </select>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Marital status of camper's parent(s)/guardian(s)<span class="reqstar">*</span></td>
        <td>
            <textarea name="parentstatus" required>{{ camper.parentstatus }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Who has legal custody of the camper?<span class="reqstar">*</span>
            <span class="note">Please list the first and last name of the individuals that have legal custody of this camper here</span>
        </td>
        <td>
            <textarea name="legalcustody" required>{{ camper.legalcustody }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Family History
            <span class="note">To help best serve the child, please provide any notes regarding the family (i.e. recent divorce, remarriage, death, or other pertinent event)</span>
        </td>
        <td>
            <textarea name="familyhistory">{{ camper.familyhistory }}</textarea>
        </td>
    </tr>
    <tr>
        <th colspan="2">Information Collected for Fundraising and Grant Writing</th>
    </tr>
    <tr>
        <td class="labeltd">
            Camper's Ethnicity<span class="reqstar">*</span>
        </td>
        <td>
            <select name="ethnicity" required>
                <option value=""></option>
                <option {% if camper.ethnicity == "American Indian or Alaska Native" %}selected="selected"{% endif %}
                        value="American Indian or Alaska Native">American Indian or Alaska Native
                </option>
                <option {% if camper.ethnicity == "Asian" %}selected="selected"{% endif %} value="Asian">Asian</option>
                <option {% if camper.ethnicity == "Black or African American" %}selected="selected"{% endif %} value="Black or African American">Black
                    or African American
                </option>
                <option {% if camper.ethnicity == "Hispanic or Latino" %}selected="selected"{% endif %} value="Hispanic or Latino">Hispanic or Latino
                </option>
                <option {% if camper.ethnicity == "Native Hawaiian or Other Pacific Islander" %}selected="selected"{% endif %}
                        value="Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander
                </option>
                <option {% if camper.ethnicity == "White" %}selected="selected"{% endif %} value="White">White</option>
                <option {% if camper.ethnicity == "Undisclosed" %}selected="selected"{% endif %} value="Undisclosed">Undisclosed</option>
            </select>
        </td>
    </tr>
    <tr>
        <th colspan="2">Medical and Activity Information</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
            Please provide us with as detailed information as possible regarding the medical and dietary information requested below. It is your
            responsibility to be sure any reported allergies or medically prescribed diets are also indicated on the required physician release forms.
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Insurance Group<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="insurancegroup" value="{{ camper.insurancegroup }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Policy Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="policynumber" value="{{ camper.policynumber }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Name of Diabetes Healthcare Provider<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="diabetesprovider" value="{{ camper.diabetesprovider }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Diabetes Provider's Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="providerphone" value="{{ camper.providerphone }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Name of Primary Care Provider/Pediatrician<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="primarycarename" value="{{ camper.primarycarename }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Primary Care Provider's Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="primaryproviderphone" value="{{ camper.primaryproviderphone }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Diabetes Care Opportunities
            <span class="note">With what aspect(s) of diabetes care would you like help for your child during camp? (Examples include rotating pump sites, trying new injection areas, learning to count carbs, calculating insulin , doing their pump site by themselves, etc.)</span>
        </td>
        <td>
            <textarea name="careopportunities">{{ camper.careopportunities }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Besides diabetes, does your child experience any physical, emotional, behavioral, learning, or social challenges?<span class="reqstar">*</span> </td>
        <td>
            <select name="otherchallenges" class="shownextonyes" rel="otherchallengesmore" required>
                <option value=""></option>
                <option {% if camper.otherchallenges == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.otherchallenges == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="otherchallengesmore" class="showmore" style="display: none;">
                If "Yes", please explain:<br>
                <textarea name="otherchallengesmore">{{ camper.otherchallengesmore }}</textarea>
                <span class="note">
                    Camp STIX/TWIGS volunteers strive to meet the individual needs of children with various challenges and want to make camp a positive experience for all campers. If you answered “yes” to this question we will contact you before camp to discuss your child’s individual needs and determine if they can be appropriately supported at camp. We work hard to try to accommodate children with social, emotional and behavioral difficulties, but due to the nature of camp (physical environment, staff to camper ratio, experience of volunteer staff), some challenges are not manageable in the camp environment. If you have any questions or additional information you feel we should know, please email the Camp Director at camptwigs@campstix.org.
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Are there any activities in which the camper should not participate?<span class="reqstar">*</span></td>
        <td>
            <select name="otheractivities" class="shownextonyes" rel="otheractivitiesmore" required>
                <option value=""></option>
                <option {% if camper.otheractivities == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.otheractivities == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="otheractivitiesmore" class="showmore" style="display: none;">
                If "Yes", please list the activities:<br>
                <textarea name="otheractivitiesmore" placeholder="I.E.: rope course, swimming, climbing wall, etc.">{{ camper.otheractivitiesmore }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Does your camper have any medical allergies (I.E.: medications, latex, bee stings, etc)?<span class="reqstar">*</span></td>
        <td>
            <select name="allergies" class="shownextonyes" rel="allergiesmore" required>
                <option value=""></option>
                <option {% if camper.allergies == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.allergies == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="allergiesmore" class="showmore" style="display: none;">
                If "Yes", please list all allergies and the type of reaction to them:<br>
                <textarea name="allergiesmore" placeholder="I.E.: penicillin causes rash or bee stings cause anaphylaxis">{{ camper.allergiesmore }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Is your camper allergic to any foods (I.E.: peanuts, shellfish, dairy, eggs, soy, gluten/wheat, nuts, fruit, etc.)?<span class="reqstar">*</span>
            <div class="note">
                This information is required ahead of camp to allow for the planning of the diets and ordering of the necessary specialty diet items.
            </div>
        </td>

        <td>
            <select name="allergiesfood" class="shownextonyes" rel="allergiesfoodmore" required>
                <option value=""></option>
                <option {% if camper.allergiesfood == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.allergiesfood == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="allergiesfoodmore" class="showmore" rel="req" style="display: none;">
                If "Yes", please list all food allergies and the type of reaction to them:<span class="reqstar">*</span><br>
                <textarea name="allergiesfoodmore" placeholder="">{{ camper.allergiesfoodmore }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Is your camper on a medically prescribed diet (I.E.: gluten free, dairy free)?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="medicaldiet" class="shownextonyes" rel="medicaldietmore" required>
                <option value=""></option>
                <option {% if camper.medicaldiet == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.medicaldiet == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="medicaldietmore" class="showmore" rel="req" style="display: none;">
                If "Yes", please list:<span class="reqstar">*</span><br>
                <textarea name="medicaldietmore" >{{ camper.medicaldietmore }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Is there any reason that your camper would carry, or have a need for, an Epi-Pen?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="epipen" class="shownextonyes" rel="epipenmore" required>
                <option value=""></option>
                <option {% if camper.epipen == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.epipen == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="epipenmore" class="showmore" rel="req" style="display: none;">
                If "Yes", please explain:<span class="reqstar">*</span><br>
                <textarea name="epipenmore" >{{ camper.epipenmore }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Does your camper have any history of asthma or other respiratory issues?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="asthma" class="shownextonyes" rel="asthmamore" required>
                <option value=""></option>
                <option {% if camper.asthma == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.asthma == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="asthmamore" class="showmore" rel="req" style="display: none;">
                If "Yes", please explain:<span class="reqstar">*</span><br>
                <textarea name="asthmamore" >{{ camper.asthmamore }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Is there any other medical or dietary information you feel it would be important for us to be aware of during your camper’s time at camp?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="importantmedicalinfo" class="shownextonyes" rel="importantmedicalinfomore" required>
                <option value=""></option>
                <option {% if camper.importantmedicalinfo == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.importantmedicalinfo == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="importantmedicalinfomore" class="showmore" rel="req" style="display: none;">
                If "Yes", please explain:<span class="reqstar">*</span><br>
                <textarea name="importantmedicalinfomore" >{{ camper.importantmedicalinfomore }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Are immunizations up to date for your camper?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="immunizationsuptodate" class="shownextonyes" show="We do not immunize" hide="immunizationsdate" rel="immunizationsuptodatemore" required>
                <option value=""></option>
                <option {% if camper.immunizationsuptodate == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.immunizationsuptodate == "No" %}selected="selected"{% endif %} value="No">No</option>
                <option {% if camper.immunizationsuptodate == "We do not immunize" %}selected="selected"{% endif %} value="We do not immunize">We do not immunize</option>
            </select>
            <div id="immunizationsdate" class="showmore" rel="req">
                Please enter the date of the camper's last tetanus shot:<span class="reqstar">*</span><br>
                <input type="text" name="immunizationsdate" class="date_single" value="{{ camper.immunizationsdate }}" />
            </div>
            <div id="immunizationsuptodatemore" class="showmore" rel="req" style="display: none;">
                If your family chooses NOT to immunize, we require that you state your reason in the following comments field (medical, personal/philosophical or religious reasons):<span class="reqstar">*</span><br>
                <textarea name="immunizationsuptodatemore" >{{ camper.immunizationsuptodatemore }}</textarea>
                <div class="note">
                    By stating your parental reasons for not immunizing, this statement will serve as a signed refusal/waiver, indicating that you as a parent, understand available information on the benefits and risks of immunizations and understand the medical risks of potential outbreak exposure to your camper in a camp setting. For any known outbreaks, parents would be notified and the camper may need to be sent home to avoid potential exposure. Please remember that exposure to many conditions can take several days/weeks to manifest, for example, chicken pox or measles.
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th colspan="2">Parent/Guardian Information</th>
    </tr>
    <tr>
        <td class="labeltd" style="width: 50%;">First Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parentfname" value="{{ camper.parentfname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Last Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parentlname" value="{{ camper.parentlname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Email Address<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parentemail" value="{{ camper.parentemail }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Preferred Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parentphone" value="{{ camper.parentphone }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Alternate Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parentaltphone" value="{{ camper.parentaltphone }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Address<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parentaddress" value="{{ camper.parentaddress }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">City<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parentcity" value="{{ camper.parentcity }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">State<span class="reqstar">*</span></td>
        <td>
            <select name="parentstate" required>
                <option value=""></option>
                {% for abr, full in config.us_states %}
                <option {% if camper.parentstate == abr %}selected="selected"{% endif %} value="{{ abr }}">{{ full }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Zip<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parentzip" value="{{ camper.parentzip }}" required />
        </td>
    </tr>
    <tr>
        <th colspan="2">Secondary Emergency Contact Information</th>
    </tr>
    <tr>
        <td class="labeltd" style="width: 50%;">First Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontactfname" value="{{ camper.emergencycontactfname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Last Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontactlname" value="{{ camper.emergencycontactlname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Relationship to Camper<span class="reqstar">*</span></td>
        <td>
            <select name="emergencycontactrelation" id="" required>
                <option value=""></option>
                <option {% if camper.emergencycontactrelation == "Mother" %}selected="selected"{% endif %} value="Mother">Mother</option>
                <option {% if camper.emergencycontactrelation == "Father" %}selected="selected"{% endif %} value="Father">Father</option>
                <option {% if camper.emergencycontactrelation == "Grandmother" %}selected="selected"{% endif %} value="Grandmother">Grandmother</option>
                <option {% if camper.emergencycontactrelation == "Grandfather" %}selected="selected"{% endif %} value="Grandfather">Grandfather</option>
                <option {% if camper.emergencycontactrelation == "Stepfather" %}selected="selected"{% endif %} value="Stepfather">Stepfather</option>
                <option {% if camper.emergencycontactrelation == "Stepmother" %}selected="selected"{% endif %} value="Stepmother">Stepmother</option>
                <option {% if camper.emergencycontactrelation == "Other" %}selected="selected"{% endif %} value="Other">Other</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Preferred Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontactphone" value="{{ camper.emergencycontactphone }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Alternate Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontactaltphone" value="{{ camper.emergencycontactaltphone }}" required />
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        $(".date_single").datepicker({
            defaultDate: "d",
            changeMonth: true,
            changeYear: true,
            yearRange : 'yy-50:yy+1',
            dateFormat: "yy-mm-dd"
        });
        $(".shownextonyes").change(function(){
            checkformore(this);
        });
        $(".shownextonyes").each(function(){
            checkformore(this);
        });
    });
</script>