<div class="row">
    <div class=" col-md-12">
        <form action="checkout_process.php?a=edit-camper" id="camperform" method="post">
            <input type="hidden" name="redirect" value="/account">
            {% if camper.p.signuptype == 1 %}
                {% include 'camper_edit_form_stix.twig' with {camper: camper, title: "Edit"} %}
            {% elseif camper.p.signuptype == 2 %}
                {% include 'camper_edit_form_twigs.twig' with {camper: camper, title: "Edit"} %}
            {% else %}
                {% include 'camper_edit_form_simple.twig' with {camper: camper, title: "Edit"} %}
            {% endif %}
            <br>
            <div style="text-align:center;"><input type="submit" value="Save Camper" class="prm-btn"/></div>
        </form>
    </div>
</div>
<br>
