<input type="hidden" name="pid" value="{{ camper.pid }}">
<input type="hidden" name="id" value="{{ camper.id }}">
<h3>Registration {{ title }}</h3>
<h4>{{ camper.p.title }}</h4>
<table class="ecom_tbl">
    <tr>
        <th colspan="2">Camper Information</th>
    </tr>
    <tr>
        <td class="labeltd" style="width: 50%;">First Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="firstname" value="{{ camper.firstname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Last Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="lastname" value="{{ camper.lastname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Date of Birth<span class="reqstar">*</span><span class="note">Must be 9 or older</span></td>
        <td>
            <input type="text" name="bdate" class="date_dob" value="{{ camper.bdate }}" placeholder="YYYY-MM-DD"  required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Gender<span class="reqstar">*</span></td>
        <td>
            <select name="gender" required>
                <option value=""></option>
                <option {% if camper.gender == "Male" %}selected="selected"{% endif %} value="Male">Male</option>
                <option {% if camper.gender == "Female" %}selected="selected"{% endif %} value="Female">Female</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">T-Shirt Size<span class="reqstar">*</span></td>
        <td>
            <select name="tshirt" id="" required>
                <option value=""></option>
                <option {% if camper.tshirt == "Youth X-Small" %}selected="selected"{% endif %} value="Youth X-Small">Youth X-Small</option>
                <option {% if camper.tshirt=="Youth Small" %}selected="selected"{% endif %} value="Youth Small">Youth Small</option>
                <option {% if camper.tshirt=="Youth Medium" %}selected="selected"{% endif %} value="Youth Medium">Youth Medium</option>
                <option {% if camper.tshirt=="Youth Large" %}selected="selected"{% endif %} value="Youth Large">Youth Large</option>
                <option {% if camper.tshirt=="Youth X-Large" %}selected="selected"{% endif %} value="Youth X-Large">Youth X-Large</option>
                <option {% if camper.tshirt=="Adult Small" %}selected="selected"{% endif %} value="Adult Small">Adult Small</option>
                <option {% if camper.tshirt=="Adult Medium" %}selected="selected"{% endif %} value="Adult Medium">Adult Medium</option>
                <option {% if camper.tshirt=="Adult Large" %}selected="selected"{% endif %} value="Adult Large">Adult Large</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">New to Camp STIX?<span class="reqstar">*</span></td>
        <td>
            <select name="new_to_camp" class="shownextonyes" show="Yes" rel="heard_about_from" required>
                <option value=""></option>
                <option {% if camper.new_to_camp == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.new_to_camp == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="heard_about_from" class="showmore" rel="req" style="display: none;">
                If the camper has not attended previously, how did you hear about camp?
                <input type="text" name="heard_about_from" value="{{ camper.heard_about_from }}" placeholder="I.E.: Friend, Medical Provider, Facebook, Camp STIX website, etc." />
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Does this camper have diabetes?</td>
        <td>
            <select name="has_diabetes"  class="shownextonyes" rel="has_diabetesmore" required>
                <option value=""></option>
                <option {% if camper.has_diabetes == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.has_diabetes == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="has_diabetesmore" class="showmore" style="display: none;">
                Age at Diagnosis<br>
                <select name="age_of_diagnosis">
                    <option {% if camper.age_of_diagnosis == "0" %}selected="selected"{% endif %} value="0">0</option>
                    <option {% if camper.age_of_diagnosis == "1" %}selected="selected"{% endif %} value="1">1</option>
                    <option {% if camper.age_of_diagnosis == "2" %}selected="selected"{% endif %} value="2">2</option>
                    <option {% if camper.age_of_diagnosis == "3" %}selected="selected"{% endif %} value="3">3</option>
                    <option {% if camper.age_of_diagnosis == "4" %}selected="selected"{% endif %} value="4">4</option>
                    <option {% if camper.age_of_diagnosis == "5" %}selected="selected"{% endif %} value="5">5</option>
                    <option {% if camper.age_of_diagnosis == "6" %}selected="selected"{% endif %} value="6">6</option>
                    <option {% if camper.age_of_diagnosis == "7" %}selected="selected"{% endif %} value="7">7</option>
                    <option {% if camper.age_of_diagnosis == "8" %}selected="selected"{% endif %} value="8">8</option>
                    <option {% if camper.age_of_diagnosis == "9" %}selected="selected"{% endif %} value="9">9</option>
                    <option {% if camper.age_of_diagnosis == "10" %}selected="selected"{% endif %} value="10">10</option>
                    <option {% if camper.age_of_diagnosis == "11" %}selected="selected"{% endif %} value="11">11</option>
                    <option {% if camper.age_of_diagnosis == "12" %}selected="selected"{% endif %} value="12">12</option>
                    <option {% if camper.age_of_diagnosis == "13" %}selected="selected"{% endif %} value="13">13</option>
                    <option {% if camper.age_of_diagnosis == "14" %}selected="selected"{% endif %} value="14">14</option>
                    <option {% if camper.age_of_diagnosis == "15" %}selected="selected"{% endif %} value="15">15</option>
                    <option {% if camper.age_of_diagnosis == "16" %}selected="selected"{% endif %} value="16">16</option>
                    <option {% if camper.age_of_diagnosis == "17" %}selected="selected"{% endif %} value="17">17</option>
                    <option {% if camper.age_of_diagnosis == "18" %}selected="selected"{% endif %} value="18">18</option>
                </select>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Marital status of camper's parent(s)/guardian(s)<span class="reqstar">*</span></td>
        <td>
            <textarea name="parent_status" required>{{ camper.parent_status }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Who has legal custody of the camper?<span class="reqstar">*</span>
            <span class="note">Please list the first and last name of the individuals that have legal custody of this camper here</span>
        </td>
        <td>
            <textarea name="legal_custody" required>{{ camper.legal_custody }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Family History
            <span class="note">To help best serve the child, please provide any notes regarding the family (i.e. recent divorce, remarriage, death, or other pertinent event)</span>
        </td>
        <td>
            <textarea name="family_history">{{ camper.family_history }}</textarea>
        </td>
    </tr>
    <tr>
        <th colspan="2">Information Collected for Fundraising and Grant Writing</th>
    </tr>
    <tr>
        <td class="labeltd">
            Camper's Ethnicity<span class="reqstar">*</span>
        </td>
        <td>
            <select name="ethnicity" required>
                <option value=""></option>
                <option {% if camper.ethnicity == "American Indian or Alaska Native" %}selected="selected"{% endif %}
                        value="American Indian or Alaska Native">American Indian or Alaska Native
                </option>
                <option {% if camper.ethnicity == "Asian" %}selected="selected"{% endif %} value="Asian">Asian</option>
                <option {% if camper.ethnicity == "Black or African American" %}selected="selected"{% endif %} value="Black or African American">Black
                    or African American
                </option>
                <option {% if camper.ethnicity == "Hispanic or Latino" %}selected="selected"{% endif %} value="Hispanic or Latino">Hispanic or Latino
                </option>
                <option {% if camper.ethnicity == "Native Hawaiian or Other Pacific Islander" %}selected="selected"{% endif %}
                        value="Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander
                </option>
                <option {% if camper.ethnicity == "White" %}selected="selected"{% endif %} value="White">White</option>
                <option {% if camper.ethnicity == "Undisclosed" %}selected="selected"{% endif %} value="Undisclosed">Undisclosed</option>
            </select>
        </td>
    </tr>
    <tr>
        <th colspan="2">Medical and Activity Information</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
            Please provide us with as detailed information as possible regarding the medical and dietary information requested below. It is your
            responsibility to be sure any reported allergies or medically prescribed diets are also indicated on the required physician release forms.
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Insurance Group<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="insurance_group" value="{{ camper.insurance_group }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Policy Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="policy_number" value="{{ camper.policy_number }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Name of Diabetes Healthcare Provider<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="diabetes_provider" value="{{ camper.diabetes_provider }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Diabetes Provider's Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="provider_phone" value="{{ camper.provider_phone }}" placeholder="888 888 8888" onkeyup="this.value=addSpaces(this.value);" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Name of Primary Care Provider/Pediatrician<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="primary_care_name" value="{{ camper.primary_care_name }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Primary Care Provider's Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="primary_provider_phone" value="{{ camper.primary_provider_phone }}" placeholder="888 888 8888" onkeyup="this.value=addSpaces(this.value);" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Diabetes Care Opportunities
            <span class="note">With what aspect(s) of diabetes care would you like help for your child during camp? (Examples include rotating pump sites, trying new injection areas, learning to count carbs, calculating insulin , doing their pump site by themselves, etc.)</span>
        </td>
        <td>
            <textarea name="care_opportunities">{{ camper.care_opportunities }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Besides diabetes, does your child experience any physical, emotional, behavioral, learning, or social challenges?<span class="reqstar">*</span> </td>
        <td>
            <select name="other_challenges" class="shownextonyes" rel="other_challenges_more" required>
                <option value=""></option>
                <option {% if camper.other_challenges == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.other_challenges == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="other_challenges_more" class="showmore" style="display: none;">
                If "Yes", please explain:<br>
                <textarea name="other_challenges_more">{{ camper.other_challenges_more }}</textarea>
                <span class="note">
                    Camp TWIGS volunteers strive to meet the individual needs of children with various challenges and want to make camp a positive experience for all campers. If you answered “yes” to this question we will contact you before camp to discuss your child’s individual needs and determine if they can be appropriately supported at camp. We work hard to try to accommodate children with social, emotional and behavioral difficulties, but due to the nature of camp (physical environment, staff to camper ratio, experience of volunteer staff), some challenges are not manageable in the camp environment. If you have any questions or additional information you feel we should know, please email the Camp Director at camptwigs@campstix.org.
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Are there any activities in which the camper should not participate?<span class="reqstar">*</span></td>
        <td>
            <select name="other_activities" class="shownextonyes" rel="other_activities_more" required>
                <option value=""></option>
                <option {% if camper.other_activities == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.other_activities == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="other_activities_more" class="showmore" style="display: none;">
                If "Yes", please list the activities:<br>
                <textarea name="other_activities_more" placeholder="I.E.: rope course, swimming, climbing wall, etc.">{{ camper.other_activities_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Does your camper have any medical allergies (I.E.: medications, latex, bee stings, etc)?<span class="reqstar">*</span></td>
        <td>
            <select name="allergies" class="shownextonyes" rel="allergies_more" required>
                <option value=""></option>
                <option {% if camper.allergies == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.allergies == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="allergies_more" class="showmore" style="display: none;">
                Please check all that apply<br>
                <label class="ch-label"><input type="checkbox" name="allergy_bees" value="Yes" {% if camper.allergy_bees == "Yes" %}checked="checked"{% endif %}> Bees</label>
                <label class="ch-label"><input type="checkbox" name="allergy_latex" value="Yes" {% if camper.allergy_latex == "Yes" %}checked="checked"{% endif %}> Latex</label>
                <label class="ch-label"><input type="checkbox" name="allergy_penicillin" value="Yes" {% if camper.allergy_penicillin == "Yes" %}checked="checked"{% endif %}> Penicillin/Amoxicillin</label>
                <label class="ch-label"><input type="checkbox" name="allergy_seasonal" value="Yes" {% if camper.allergy_seasonal == "Yes" %}checked="checked"{% endif %}> Seasonal</label>
                <br>
                Other:<br>
                <input type="text" name="allergies_more" class="" value="{{ camper.allergies_more }}" />

                <label class="ch-label"><input type="checkbox" name="allergy_epipen" value="Yes" {% if v.allergy_epipen == "Yes" %}checked="checked"{% endif %}> Epi-pen required</label>
                <br>
                Please list reactions here:<br>
                <textarea name="allergy_med_reactions" placeholder="I.E.: penicillin causes rash or bee stings cause anaphylaxis">{{ camper.allergy_med_reactions }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Is your camper allergic to any foods (I.E.: peanuts, shellfish, dairy, eggs, soy, gluten/wheat, nuts, fruit, etc.)?<span class="reqstar">*</span>
            <div class="note">
                This information is required ahead of camp to allow for the planning of the diets and ordering of the necessary specialty diet items.
            </div>
        </td>

        <td>
            <select name="allergies_food" class="shownextonyes" rel="allergies_food_more" required>
                <option value=""></option>
                <option {% if camper.allergies_food == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.allergies_food == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="allergies_food_more" class="showmore" style="display: none;">
                Please check all that apply<br>
                <label class="ch-label"><input type="checkbox" name="allergy_peanuts" value="Yes" {% if camper.allergy_peanuts == "Yes" %}checked="checked"{% endif %}> Peanuts</label>
                <label class="ch-label"><input type="checkbox" name="allergy_shellfish" value="Yes" {% if camper.allergy_shellfish == "Yes" %}checked="checked"{% endif %}> Shellfish</label>
                <label class="ch-label"><input type="checkbox" name="allergy_dairy" value="Yes" {% if camper.allergy_dairy == "Yes" %}checked="checked"{% endif %}> Dairy/Lactose</label>
                <label class="ch-label"><input type="checkbox" name="allergy_eggs" value="Yes" {% if camper.allergy_eggs == "Yes" %}checked="checked"{% endif %}> Eggs</label>
                <label class="ch-label"><input type="checkbox" name="allergy_soy" value="Yes" {% if camper.allergy_soy == "Yes" %}checked="checked"{% endif %}> Soy</label>
                <label class="ch-label"><input type="checkbox" name="allergy_gluten" value="Yes" {% if camper.allergy_gluten == "Yes" %}checked="checked"{% endif %}> Gluten/Wheat</label>
                <label class="ch-label"><input type="checkbox" name="allergy_nuts" value="Yes" {% if camper.allergy_nuts == "Yes" %}checked="checked"{% endif %}> Nuts</label>
                <br>
                Fruit:<br>
                <input type="text" name="allergy_fruit" class="" placeholder="Specify" value="{{ camper.allergy_fruit }}" />
                Other:<br>
                <input type="text" name="allergies_food_more" class="" value="{{ camper.allergies_food_more }}" />

                <label class="ch-label"><input type="checkbox" name="allergy_food_epipen" value="Yes" {% if v.allergy_food_epipen == "Yes" %}checked="checked"{% endif %}> Epi-pen required</label>
                <br>
                Please list reactions here:<br>
                <textarea name="allergy_food_reactions" placeholder="">{{ camper.allergy_food_reactions }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Is your camper on a medically prescribed diet (I.E.: gluten free, dairy free)?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="medical_diet" class="shownextonyes" rel="medical_diet_more" required>
                <option value=""></option>
                <option {% if camper.medical_diet == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.medical_diet == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="medical_diet_more" class="showmore" style="display: none;">
                Please check all that apply<br>
                <label class="ch-label"><input type="checkbox" name="gluten_free" value="Yes" {% if camper.gluten_free == "Yes" %}checked="checked"{% endif %}> Gluten Free</label>
                <label class="ch-label"><input type="checkbox" name="dairy_free" value="Yes" {% if camper.dairy_free == "Yes" %}checked="checked"{% endif %}> Dairy Free</label>
                <br>
                Other:<br>
                <textarea name="medical_diet_more" >{{ camper.medical_diet_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Does your camper have any history of asthma or other respiratory issues?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="asthma" class="shownextonyes" rel="asthma_more" required>
                <option value=""></option>
                <option {% if camper.asthma == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.asthma == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="asthma_more" class="showmore" rel="req" style="display: none;">
                If "Yes", please explain:<span class="reqstar">*</span><br>
                <textarea name="asthma_more" >{{ camper.asthma_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Is there any other allergy-related information that you feel would be important for us to be aware of? <span class="reqstar">*</span>
            <div class="note">(i.e. reason--not already listed or indicated above--that your camper would carry, or have a need for, an epi-pen?)
            </div>
        </td>
        <td>
            <select name="other_allergyinfo" class="shownextonyes" rel="other_allergyinfo_more" required>
                <option value=""></option>
                <option {% if camper.other_allergyinfo == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.other_allergyinfo == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="other_allergyinfo_more" class="showmore" rel="req" style="display: none;">
                If "Yes", please explain:<span class="reqstar">*</span><br>
                <textarea name="other_allergyinfo_more" >{{ camper.other_allergyinfo_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Is there any other medical or dietary information you feel it would be important for us to be aware of during your camper’s time at camp?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="important_medical_info" class="shownextonyes" rel="important_medical_info_more" required>
                <option value=""></option>
                <option {% if camper.important_medical_info == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.important_medical_info == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="important_medical_info_more" class="showmore" rel="req" style="display: none;">
                If "Yes", please explain:<span class="reqstar">*</span><br>
                <textarea name="important_medical_info_more" >{{ camper.important_medical_info_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Are immunizations up to date for your camper?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="immunizations_up_to_date" class="shownextonyes" show="We do not immunize" hide="immunizations_date" rel="immunizations_up_to_date_more" required>
                <option value=""></option>
                <option {% if camper.immunizations_up_to_date == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.immunizations_up_to_date == "No" %}selected="selected"{% endif %} value="No">No</option>
                <option {% if camper.immunizations_up_to_date == "We do not immunize" %}selected="selected"{% endif %} value="We do not immunize">We do not immunize</option>
            </select>
            <div id="immunizations_date" class="showmore" rel="req">
                Please enter the date of the camper's last tetanus shot:<span class="reqstar">*</span><br>
                <input type="text" name="immunizations_date" class="date_single" value="{{ camper.immunizations_date }}" />
            </div>
            <div id="immunizations_up_to_date_more" class="showmore" rel="req" style="display: none;">
                If your family chooses NOT to immunize, we require that you state your reason in the following comments field (medical, personal/philosophical or religious reasons):<span class="reqstar">*</span><br>
                <textarea name="immunizations_up_to_date_more" >{{ camper.immunizations_up_to_date_more }}</textarea>
                <div class="note">
                    By stating your parental reasons for not immunizing, this statement will serve as a signed refusal/waiver, indicating that you as a parent, understand available information on the benefits and risks of immunizations and understand the medical risks of potential outbreak exposure to your camper in a camp setting. For any known outbreaks, parents would be notified and the camper may need to be sent home to avoid potential exposure. Please remember that exposure to many conditions can take several days/weeks to manifest, for example, chicken pox or measles.
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th colspan="2">Parent/Guardian Information (Primary Contact)</th>
    </tr>
    <tr>
        <td class="labeltd" style="width: 50%;">First Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parent_fname" value="{{ camper.parent_fname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Last Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parent_lname" value="{{ camper.parent_lname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Relationship to Camper<span class="reqstar">*</span></td>
        <td>
            <select name="guardian_relation" id="" required>
                <option value=""></option>
                <option {% if camper.guardian_relation == "Mother" %}selected="selected"{% endif %} value="Mother">Mother</option>
                <option {% if camper.guardian_relation == "Father" %}selected="selected"{% endif %} value="Father">Father</option>
                <option {% if camper.guardian_relation == "Grandmother" %}selected="selected"{% endif %} value="Grandmother">Grandmother</option>
                <option {% if camper.guardian_relation == "Grandfather" %}selected="selected"{% endif %} value="Grandfather">Grandfather</option>
                <option {% if camper.guardian_relation == "Stepfather" %}selected="selected"{% endif %} value="Stepfather">Stepfather</option>
                <option {% if camper.guardian_relation == "Stepmother" %}selected="selected"{% endif %} value="Stepmother">Stepmother</option>
                <option {% if camper.guardian_relation == "Other" %}selected="selected"{% endif %} value="Other">Other</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Email Address<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parent_email" value="{{ camper.parent_email }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Alternate Contact Name</td>
        <td>
            <input type="text" name="parent_alt_name" value="{{ camper.parent_alt_name }}" />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Alternate Email Address</td>
        <td>
            <input type="text" name="parent_alt_email" value="{{ camper.parent_alt_email }}" />
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Would you like to receive updates from Camp TWIGS about camper registration announcements and important dates?<span class="reqstar">*</span>
            <div class="note">You will be able to unsubscribe at any time if you no longer wish to receive our email announcements.</div>
        </td>
        <td>
            <select name="newsletter_signup" required>
                <option value=""></option>
                <option {% if camper.newsletter_signup == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.newsletter_signup == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Cell Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parent_phone" value="{{ camper.parent_phone }}" placeholder="888 888 8888" onkeyup="this.value=addSpaces(this.value);" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            May we send text messages to the number above to contact you regarding your camper?<span class="reqstar">*</span>
            <div class="note">We use a mass texting application to contact all parents/guardians in the event of an emergency.</div>
        </td>
        <td>
            <select name="can_we_text_you" required>
                <option value=""></option>
                <option {% if camper.can_we_text_you == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if camper.can_we_text_you == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Alternate Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parent_alt_phone" value="{{ camper.parent_alt_phone }}" placeholder="888 888 8888" onkeyup="this.value=addSpaces(this.value);" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Address<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parent_address" value="{{ camper.parent_address }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">City<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parent_city" value="{{ camper.parent_city }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">State<span class="reqstar">*</span></td>
        <td>
            <select name="parent_state" required>
                <option value=""></option>
                {% for abr, full in config.us_states %}
                <option {% if camper.parent_state == abr %}selected="selected"{% endif %} value="{{ abr }}">{{ full }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Zip<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="parent_zip" value="{{ camper.parent_zip }}" required />
        </td>
    </tr>
    <tr>
        <th colspan="2">Secondary Emergency Contact Information (Other than Parent/Guardian listed above)</th>
    </tr>
    <tr>
        <td class="labeltd" style="width: 50%;">First Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontact_fname" value="{{ camper.emergencycontact_fname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Last Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontact_lname" value="{{ camper.emergencycontact_lname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Relationship to Camper<span class="reqstar">*</span></td>
        <td>
            <select name="emergencycontact_relation" id="" required>
                <option value=""></option>
                <option {% if camper.emergencycontact_relation == "Mother" %}selected="selected"{% endif %} value="Mother">Mother</option>
                <option {% if camper.emergencycontact_relation == "Father" %}selected="selected"{% endif %} value="Father">Father</option>
                <option {% if camper.emergencycontact_relation == "Grandmother" %}selected="selected"{% endif %} value="Grandmother">Grandmother</option>
                <option {% if camper.emergencycontact_relation == "Grandfather" %}selected="selected"{% endif %} value="Grandfather">Grandfather</option>
                <option {% if camper.emergencycontact_relation == "Stepfather" %}selected="selected"{% endif %} value="Stepfather">Stepfather</option>
                <option {% if camper.emergencycontact_relation == "Stepmother" %}selected="selected"{% endif %} value="Stepmother">Stepmother</option>
                <option {% if camper.emergencycontact_relation == "Other" %}selected="selected"{% endif %} value="Other">Other</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Preferred Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontact_phone" value="{{ camper.emergencycontact_phone }}" placeholder="888 888 8888" onkeyup="this.value=addSpaces(this.value);" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Alternate Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontact_alt_phone" value="{{ camper.emergencycontact_alt_phone }}" placeholder="888 888 8888" onkeyup="this.value=addSpaces(this.value);" required />
        </td>
    </tr>
    {% if not camper.id %}
        <tr>
            <th colspan="2">Cabin-mate request</th>
        </tr>
        <tr>
            <td class="labeltd" style="width: 50%;">
                Do you want to request a specific Cabin-Mate?<span class="reqstar">*</span>
                <div class="note">If "Yes" you will be taken to a separate form after you finish your registration.</div>
            </td>
            <td>
                <select name="want_cabin_mate" required>
                    <option value=""></option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </td>
        </tr>
    {% endif %}
</table>

<script>
    $(document).ready(function () {
        $(".date_single").datepicker({
            defaultDate: "d",
            changeMonth: true,
            changeYear: true,
            yearRange : '-40:+0',
            dateFormat: "yy-mm-dd"
        });
        $(".date_dob").datepicker({
            defaultDate: new Date(1998, 00, 01),
            changeMonth: true,
            changeYear: true,
            yearRange : '-30:-5',
            dateFormat: "yy-mm-dd"
        });
        $(".shownextonyes").change(function(){
            checkformore(this);
        });
        $(".shownextonyes").each(function(){
            checkformore(this);
        });
    });
</script>