<h1>Review and Payment</h1><br/>

<script type="text/javascript">
    Stripe.setPublishableKey('{{ stripe_publishable_key }}');
    $(function(){
        $('#payment-form').submit(function(event){
            event.preventDefault();
            $('.submit-button').attr("disabled", "disabled");
            Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val()
            }, stripeResponseHandler);
        });

        function stripeResponseHandler(status, response) {
            if (response.error) {
                // show the errors on the form
                noty({text: response.error.message, type: 'error', dismissQueue: true});
                $(".submit-button").removeAttr("disabled");
            } else {
                var form$ = $("#payment-form");
                // token contains id, last4, and card type
                var token = response['id'];
                // insert the token into the form so it gets submitted to the server
                form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
                // and submit
                form$.get(0).submit();
            }
        }

    });


</script>
<div class="payment-errors" style="color: red;"></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="checkout_process.php?a=cart-stripe-checkout" method="post" id="payment-form"  autocomplete="off">

            <h4>Checkout</h4>
            <table class="ecom_tbl cc_tbl">
                <tr>
                    <th colspan="2">Payment Information</th>
                </tr>
                <tr>
                    <td style="text-align:right;">Card Number</td>
                    <td>
                        <input type="text" name="cc_number" class="card-number required creditcard"
                               value="{{ cc.cc_number }}" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">Card Security Code</td>
                    <td>
                        <input type="text" name="cc_code" class="card-cvc required digits"
                               value="{{ cc.cc_code }}" autocomplete="off" size="4"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">Card Expiration</td>
                    <td style="text-align:left;">{{ ccdate|raw }}</td>
                </tr>
                <tr>
                    <td>Amount:</td>
                    <td>${{ amount|number_format(2,'.') }}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;"><input id="payment-form-submit" type="submit" value="Submit Payment"
                                                                      class="submit-button prm-btn"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<br>
<p style="line-height: 125%;font-size: 12px;">There is a $25 registration fee per camper.  This fee will be applied toward your camper's tuition. This fee is refundable if we are unable to have your camper attend camp for capacity reasons.  If you cancel or withdraw your registration, this fee will not be refunded.  If you cannot afford the $25 fee at this time, please contact us for financial assistance.</p>

<br/>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Billing Info <a href="/cart-address" class="cart-edit-btn">Edit</a></h4>
        <table class="ecom_tbl tbl_left twocol">
            <tr>
                <th colspan="2">Billing</th>
            </tr>
            <tr>
                <td><b>First Name</b></td>
                <td>{{ r.bi_firstname }}</b></td>
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>{{ r.bi_lastname }}</td>
            </tr>
            <tr>
                <td><b>Country</b></td>
                <td>{{ r.bi_country }}</td>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td>{{ r.bi_address }}</td>
            </tr>
            <tr>
                <td><b>City</b></td>
                <td>{{ r.bi_city }}</td>
            </tr>
            <tr>
                <td><b>State/Province</b></td>
                <td>{{ r.bi_state }}</td>
            </tr>
            <tr>
                <td><b>Zip/Postal Code</b></td>
                <td>{{ r.bi_zip }}</td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>{{ r.bi_email }}</td>
            </tr>
            <tr>
                <td><b>Phone</b></td>
                <td>{{ r.bi_phone }}</td>
            </tr>
        </table>
    </div>
</div>
<br/>



<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% if campers %}
        <h4>Campers</h4>
        <table class="ecom_tbl tbl_left twocol">
            <tr>
                <th colspan="2">Campers</th>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left">
                    {% for camper in campers %}
                        <p>
                            <b>{{ camper.firstname }} {{ camper.lastname }}</b>
                            <a href="/cart-campers?c={{ camper.id }}">Edit</a>
                        </p>
                    {% endfor %}
                </td>
            </tr>
        </table>
        {% endif %}
    </div>
</div>
<br/>
