<h1>Shopping Cart</h1><br><br>

{% if not c %}
    <p>(Your cart is empty)</p>
{% else %}
    <table class="ecom_tbl readability-bkg">
        {{ carthtml|raw }}

        <tr>
            <td style="text-align:right;" colspan="6">
                <form action="/checkout_process.php?a=couponcode" method="post" style="display: inline ;">
                    <input type="text" name="code" value="" placeholder="Coupon Code" style="width: 110px;"/>
                    <input type="submit" value="Apply Coupon" class="prm-btn" style="padding: 0px 5px; font-size:80%" />
                </form>
            </td>
        </tr>
        <tr>
            <td style="" colspan="3">
                <button class="prm-btn" href="#" onclick="goBack()">Continue Shopping</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
            </td>
            <td style="text-align:right;" colspan="3">
                <form action="/cart-address" method="post" style="display: inline ;">
                    <input type="submit" value="Checkout" class="prm-btn"/>
                </form>
            </td>
        </tr>
    </table>
{% endif %}
<br><br>
{% if related %}
    <div class="related-products cf">
        <h5>Suggested Accessories</h5>
        <div id="patterns-grid" class="product-use">
            {% for p in related %}
                <div class="pattern-item" data-id="{{ p.id }}">
                    <div class="pattern-title">
                        <a class="panel-link" href="/product?id={{ p.id }}">
                            {{ p.title }}
                        </a>
                    </div>
                    <div class="pattern-image">
                        {% if p.image %}
                            <a class="panel-link" href="/product?id={{ p.id }}">
                                <img src="/upload/photos/400/{{ p.image }}" alt="" />
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
