<h1>Select a Service Provider</h1><br/><br/>

<div class="row">
    <div class=" col-md-6">
        <h6>Select your zip code</h6>
        <form action="" method="post">
            <input type="text" name="zip" value="{{ zipsearch.zip }}"/>
            <input type="submit" class="small-btn" value="Search Zip">
        </form>
    </div>
    <div class=" col-md-6">
        <form action="checkout_process.php?a=cart-provider" method="post">
            <div class="provider-list plist5">
                <h6>Provider's within 120 miles</h6>
                <div class="provider-list-box">
                {% for p in provider %}
                    {% if p.keyword %}
                        {% set link = "/directory/#{p.keyword}/" %}
                    {% else %}
                        {% set link = "/directory/#{p.id}/" %}
                    {% endif %}
                    <div class="row provideroption">
                        <div class="col-sm-1">
                            <input type="radio" name="provider" {% if r.provider == p.id %}checked="checked"{% endif %} id="provider{{ p.id }}"
                                   value="{{ p.id }}">
                        </div>
                        <div class="col-sm-11">
                            <label for="provider{{ p.id }}">
                                <b>{{ p.name }}</b> &nbsp;
                                <a href="/directory/{{ p.keyword }}" target="_blank"><i class="fa fa-info-circle"></i></a>
                                <div class="provider-address">
                                    <p class="maroon-text">
                                        Distance: <b> {{ p.distance|number_format(2, '.', ',') }} Miles</b>
                                    </p>
                                    {% if p.address %}
                                        {{ p.address }}<br>
                                    {% endif %}
                                    {% if p['address_2'] %}
                                        {{ p['address_2'] }}<br>
                                    {% endif %}
                                    {% if p.city %}
                                        {{ p.city }}
                                    {% endif %}
                                    {% if p.state %}
                                        {{ p.state }}
                                    {% endif %}
                                    {% if p.zip %}
                                        {{ p.zip }}
                                    {% endif %}
                                </div>
                            </label>
                        </div>
                    </div>
                {% endfor %}
                <a href="" id="loadmore">...load more</a>
                <script>
                    $(document).ready(function () {
                        var count = 5;
                        {% if r.provider %}
                        $('#provider{{ r.provider }}').prop('checked', true);
                        {% endif %}
                        $('#loadmore').click(function (e) {
                            e.preventDefault();
                            $('.provider-list').removeClass('plist' + count);
                            if (count == 5) {
                                count = count + 5;
                            } else {
                                count = count + 10;
                            }
                            $('.provider-list').addClass('plist' + count);
                        });
                        $("#provideassistance").click(function(){
                           if($(this).is(":checked")){
                               $('input[name="provider"]').prop('checked', false);
                           }else{

                           }
                        });
                    });
                </script>
                </div>
                <br>
                <p>Your selected Service Provider will be your primary contact for installation, repair and any warranty services.</p>
                <p>Don't see an espresso service provider? Try revising your search by using a Zip Code of a nearby city.</p>
                <label style="padding:10px 0;"><input style="float:left;" type="checkbox" value="1" id="provideassistance" name="provideassistance">
                    <div style="margin-left:25px; display: inline-block; margin-top: -20px;"><b>
                        If you still can't find your service provider and would like additional assistance, select here and a representative will
                        contact you after the checkout process.</b>
                    </div>
                </label>
                <p><em>The Espresso Service Network does not make Service Provider Recommendations.</em></p>

            </div>
            <br>
            <div style="text-align:center;"><input type="submit" value="Continue Checkout" class="prm-btn"/></div>
        </form>
    </div>
</div>
<br>
