<h1>Thank You</h1><br>

<p>Your order is complete.</p>
<p>A copy of your receipt has been sent to the email address you provided.</p>
<p>If you do not see your receipt, please check your spam or junk folder for messages from <a
            href="mailto:{{ config.receipt_contact }}">{{ config.receipt_contact }}</a></p>
<br><br>
<p>
You have ordered a custom product that will take some time to be manufactured and shipped. 
Plan on receiving your purchase within 4-6 weeks. We will update you with tracking information for your product prior to being shipped. 
You are always welcome to inquire about the status of your order via phone or email. We are open 8am - 5pm PST, Mon-Fri. 
Our phone number is 509-919-0460 and email is <a href="mailto:revamp@revamppanels.com">revamp@revamppanels.com</a>
</p>