<h1>Camper Details</h1><br/><br/>

<div class="row">
    <div class=" col-md-12">
        <form action="checkout_process.php?a=edit-camper" method="post">
            {% if p.signuptype == 1 %}
                {% include 'camper_edit_form_stix.twig' with {camper: camper, title: title} %}
            {% elseif p.signuptype == 2 %}
                {% include 'camper_edit_form_twigs.twig' with {camper: camper, title: title} %}
            {% else %}
                {% include 'camper_edit_form_simple.twig' with {camper: camper, title: title} %}
            {% endif %}

            <br>
            <div style="text-align:center;"><input type="submit" value="Continue Registration" class="prm-btn"/></div>
        </form>
    </div>
</div>
<br>
