<h1>Billing Info</h1><br/><br/>

<form action="checkout_process.php?a=cart-shipping" method="post">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <input type="hidden" name="bi_country" value="US">
            <table class="ecom_tbl">
                <tr>
                    <th colspan="2">Billing</th>
                </tr>
                <tr>
                    <td style="text-align:right;">First Name</td>
                    <td>
                        <input type="text" name="bi_firstname" value="{{ r.bi_firstname }}"/></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Last Name</td>
                    <td>
                        <input type="text" name="bi_lastname" value="{{ r.bi_lastname }}"/></td>
                </tr>
                {#<tr>#}
                    {#<td style="text-align:right;">Country</td>#}
                    {#<td class="text-left">{{ bi_country|raw }}</td>#}
                {#</tr>#}
                <tr>
                    <td style="text-align:right;">Address</td>
                    <td>
                        <input type="text" name="bi_address" value="{{ r.bi_address }}"/></td>
                </tr>
                <tr>
                    <td style="text-align:right;">City</td>
                    <td>
                        <input type="text" name="bi_city" value="{{ r.bi_city }}"/></td>
                </tr>
                <tr>
                    <td style="text-align:right;">State</td>
                    <td class="text-left">{{ bi_state|raw }}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">Zip/Postal Code</td>
                    <td class="text-left">
                        <input type="text" name="bi_zip" value="{{ r.bi_zip }}" style="width: 80px ;"/></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Email</td>
                    <td>
                        <input type="text" name="bi_email" value="{{ r.bi_email }}"/></td>
                </tr>
                <tr>
                    <td style=" text-align:right;">Phone
                    </td>
                    <td>
                        <input type="text" name="bi_phone" value="{{ r.bi_phone }}"/></td>
                </tr>
            </table>
            {#<br>#}
            {#<table class="ecom_tbl">#}

                {#<tr>#}
                    {#<th colspan="2" style="font-size:11pt;">Is there anything you would like us to know about your registration?</th>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td colspan="2">#}
                        {#<textarea name="comments" style="width:100%;height: 110px;">{{ r.comments }}</textarea>#}
                    {#</td>#}
                {#</tr>#}
            {#</table>#}
        </div>
        {#<div class=" col-md-6">#}
            {#<table class="ecom_tbl">#}
                {#<tr>#}
                    {#<th colspan="2">Shipping#}
                        {#<label>#}
                            {#<input type="checkbox" {% if r.si_same %} checked="checked" {% endif %}#}
                            {#onchange="update_shipping_fields();" name="si_same"/>#}
                            {#<span style="font-weight: normal ;">Same as billing.</span>#}
                        {#</label>#}
                    {#</th>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td style="text-align:right;">First Name</td>#}
                    {#<td>#}
                        {#<input type="text" name="si_firstname" value="{{ r.si_firstname }}"/></td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td style="text-align:right;">Last Name</td>#}
                    {#<td>#}
                        {#<input type="text" name="si_lastname" value="{{ r.si_lastname }}"/></td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td style="text-align:right;">Country</td>#}
                    {#<td>{{ si_country|raw }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td style="text-align:right;">Address</td>#}
                    {#<td>#}
                        {#<input type="text" name="si_address" value="{{ r.si_address }}"/></td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td style="text-align:right;">City</td>#}
                    {#<td>#}
                        {#<input type="text" name="si_city" value="{{ r.si_city }}"/></td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td style="text-align:right;">State/Province</td>#}
                    {#<td>{{ si_state|raw }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td style="text-align:right;">Zip/Postal Code<br><br></td>#}
                    {#<td>#}
                        {#<input type="text" name="si_zip" value="{{ r.si_zip }}" style="width: 80px ;"/></td>#}
                {#</tr>#}
            {#</table>#}
        {#</div>#}
    </div>
    <br>
    <div style="text-align:center;"><input type="submit" value="Continue Registration" class="prm-btn" /></div>
</form>

<script type="text/javascript">
//    function update_shipping_fields() {
//        var fields = ['firstname', 'lastname', 'address', 'city', 'state', 'zip', 'country'];
//        if (document.getElementsByName('si_same')[0].checked) {
//            for (var i = 0, l = fields.length; i < l; i++) {
//                document.getElementsByName('si_' + fields[i])[0].value = document.getElementsByName('bi_' + fields[i])[0].value;
//                document.getElementsByName('si_' + fields[i])[0].disabled = true;
//            }
//        } else {
//            for (var i = 0, l = fields.length; i < l; i++) {
//                document.getElementsByName('si_' + fields[i])[0].disabled = false;
//            }
//        }
//    }
//    update_shipping_fields();
</script>