<h1>Camper Saved</h1><br/>
{% if campers %}
    <h4>Camper</h4>
    <table class="camper_tbl">
        <tr>
            <th>Camper</th>
            <th>Edit</th>
        </tr>
        {% for id,c in campers %}
            <tr>
                <td>{{ c.firstname }} {{ c.lastname }}</td>
                <td>
                    <a href="/cart-campers?c={{ id }}" title="Edit">Edit <i class="fa fa-fw fa-edit"></i></a>
                </td>
            </tr>

        {% endfor %}
    </table><br>
{% endif %}
<h2>Pay Now</h2>

<form action="checkout_process.php?a=registration-set-amount" method="post">

    <table class="ecom_tbl">
        <tr>
            <th colspan="2" class="text-center">Payment Amount</th>
        </tr>
        <tr>
            <td style="text-align:right; width:50%">${{ min|number_format(2, '.') }} to ${{ max|number_format(2, '.') }}</td>
            <td>
                <input type="number" name="paymentamount" max="{{ max }}"
                       value="{% if r.payment %}{{ r.paymentamount }}{% else %}{{ max }}{% endif %}"/></td>
        </tr>
        {% if c.pledged < 1 %}
        <tr>
            <th colspan="2" class="text-center">Enter Code To Skip Payment</th>
        </tr>
        <tr>
            <td style="text-align:right;">
                Financial Need Code
                <div class="note">
                    If you are unable to pay the ${{ min|number_format(2, '.') }} registration fee at this time,
                    please contact <a href="mailto:campstix@campstix.org">campstix@campstix.org</a> before registering and
                    we can provide you with a Code.
                </div>
            </td>
            <td>
                <input type="text" name="financialcode" value="{{ r.financialcode }}"/>
            </td>
        </tr>
        {% endif %}
    </table>
    <br>
    <div style="text-align:center;"><input type="submit"  value="Continue" class="prm-btn"/></div>
    <br>
    <b>Need a Scholarship?</b>
    <p>Scholarship requests can be submitted at the end of the registration process.</p>
</form>