<div class=" contact-form" id="contact-form">
        <h4>Do you have a question or comment?  Please fill out the form below</h4>
        <form action="#contact-form" method="post">
            {% if error %}
                <h4 class="center" style="#f00; font-weight: bold;">{{ error|raw }}</h4>
            {% endif %}
            <div class="row">
                <div class="col-md-3">

                    <div class="form-element">
                        <input id="reg-displayname" type="text"  value="{{ post.name }}" name="name" />
                        <label for="reg-displayname">Your Name</label>
                    </div>
                </div>
                    <div class="col-md-3">
                        <div class="form-element">
                            <input id="reg-email" type="email"  value="{{ post.email }}" name="email" />
                            <label for="reg-email">Your Email Address</label>
                        </div>
                    </div>
                <div class="col-md-3">
                    <div class="form-element">
                        <input id="reg-phone" type="text"  value="{{ post.phone }}" name="phone" />
                        <label for="reg-phone">Your Phone Number</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-element">
                        <textarea name="comment" id="comment" style="height:130px;" {% if post.comment %}class="hasvalue" {% endif %}>{{ post.comment }}</textarea>
                        <label for="comment">Comments</label>
                    </div>
                    <h6>Anti-Spam Security Question:<br> &nbsp;{{ a }} + {{ b }} =
                    <input type="text" name="captcha_answer" style="width:40px; padding:6px" /> ?</h6>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <input type="submit" value="Send Your Message" name="submit" class="btn" />
                </div>
            </div>
        </form>
</div>