
<div class="box-lightblue ">
    <div class="row">
        <div class=" col-md-6 col-md-offset-3 text-center">
            <div class="fund-form">
                <h1>Donate Today!</h1>
                <div class="hrsmall-white"></div>
                <p>Enter the amount you want to donate below.</p>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                <form action="/cp/donation" method="POST" id="paymentform">
                    <div id="error_explanation"></div>
                    <input type="hidden" name="amount" id="amount" value="0">
                    <input type="hidden" id="stripeToken" name="stripeToken"/>
                    <input type="hidden" id="stripeEmail" name="stripeEmail"/>
                    <input type="hidden" id="stripeBillingName" name="stripeBillingName"/>
                    <input type="hidden" id="stripeBillingAddressLine1" name="stripeBillingAddressLine1"/>
                    <input type="hidden" id="stripeBillingAddressZip" name="stripeBillingAddressZip"/>
                    <input type="hidden" id="stripeBillingAddressCity" name="stripeBillingAddressCity"/>
                    <input type="hidden" id="stripeBillingAddressState" name="stripeBillingAddressState"/>
                    <input type="hidden" id="stripeBillingAddressCountry" name="stripeBillingAddressCountry"/>

                    <div class="form-element">
                        <input id="reg-pledge" type="number" min="1" max="2000" name="pledge"/>
                        <label for="reg-pledge">Donation Amount*</label>
                    </div>

                    <div class="form-element">
                        <textarea id="reg-comment" style="height:150px;" name="comment"></textarea>
                        <label for="reg-comment">Comments</label>
                    </div>

                    <button id='purchaseButton' class="btn prm-btn">Submit Payment</button>
                    <br>
                    <script src="https://checkout.stripe.com/checkout.js"></script>
                    <script>
                        var handler = StripeCheckout.configure({
                        {% if test_mode %}
                            key: '{{ config.stripe.test_publishable_key }}',
                        {% else %}
                            key: '{{ config.stripe.live_publishable_key }}',
                        {% endif %}
                            locale: 'auto',
                            name: 'Camp STIX',
                            description: 'Donation',
                            billingAddress: true,
                            token: function (token, args) {
                                $('input#stripeToken').val(token.id);
                                $('input#stripeEmail').val(token.email);
                                $('input#stripeBillingName').val(args.billing_name);
                                $('input#stripeBillingAddressLine1').val(args.billing_address_line1);
                                $('input#stripeBillingAddressZip').val(args.billing_address_zip);
                                $('input#stripeBillingAddressCity').val(args.billing_address_city);
                                $('input#stripeBillingAddressState').val(args.billing_address_state);
                                $('input#stripeBillingAddressCountry').val(args.billing_address_country);
                                $('#paymentform').submit();
                                return false;
                            }
                        });

                        $("#reg-pledge").change(function () {
                            var total = $("#reg-pledge").val();

                            $("#amount").val(total);
                        });

                        $('#purchaseButton').on('click', function (e) {
                            e.preventDefault();

                            $('#error_explanation').html('');

                            var total = $("#reg-pledge").val();
                            $("#amount").val(total);

                            var amount = $('input#amount').val();
                            amount = amount.replace(/\$/g, '').replace(/\,/g, '');

                            amount = parseFloat(amount);

                            if (isNaN(amount)) {
                                $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
                            }
                            else {
                                amount = amount * 100; // Needs to be an integer!
                                handler.open({
                                    amount: Math.round(amount)
                                })
                            }
                        });
                        $(window).on('popstate', function () {
                            handler.close();
                        });
                    </script>
                </form>
                <br>
                <script>

                    $(function () {
                        $('#amount').change(function () {
                            // Stripe accepts payment amounts in cents so we have to convert dollars to cents by multiplying by 100
                            var amount = parseInt($(this).val() * 100);
                            console.log(amount);
                            $(".stripe-button").attr("data-amount", amount);
                        });
                    });
                </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
