<form action="/a.php?a=register" method="post" class="readability-bkg">
    <div class="col-md-6">
        <h2>Account Details</h2>
        <b>&nbsp;</b>
        <div class="form-element">
            <input id="reg-displayname" type="text" name="display_name" value="{{ f.display_name }}" required {% if f.display_name %}class="hasvalue" {% endif %} />
            <label for="reg-displayname">Your Name*</label>
        </div>
        <div class="form-element">
            <input id="reg-email" type="email" name="user_email" value="{{ f.user_email }}" required {% if f.user_email %}class="hasvalue" {% endif %} />
            <label for="reg-email">Email*</label>
        </div>
        <br>
        <input type="submit" value="Save" name="save" />
        <hr />
    </div>
    <div class="col-md-6">
        <h2>Change Password</h2>
        <b>Leave blank to keep current password</b>
        <div class="form-element">
            <input id="reg-pass" type="password" name="password_new" autocomplete="off" />
            <label for="reg-pass">Password*</label>
        </div>
        <div class="form-element">
            <input id="reg-pass2" type="password" name="password2"  autocomplete="off" />
            <label for="reg-pass2">Re-Type Password*</label>
        </div>
    </div>
</form>