
{% if not events %}
    <h2>Event Not Found</h2>
{% else %}
    {% for e in events %}
    <div class="row event-page">
        <div class="col-md-2" style="margin-top: 40px;">
            <div class="diagonal-date-wrap">
                <svg class="diagonal-date" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#diagonalclip100" fill="#{{ e.color }}"></use>
                </svg>
                <div class="svgtext">{{ e.date|raw }}</div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="text-left">
                <h2>{{ e.title }}</h2>
                <p><b>{{ e.timetext }}</b></p>
                {{ e.content|raw }}
                <a href="/events/" class="btn">Back</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}