
{% if not events %}
    <h2>No Events Found</h2>
{% else %}
    <div class="row equalheights">
        {% for e in events %}
            <div class="col-md-4">
                <div class="solid-event-contain">
                    <a href="/events/{{ e.id }}/">
                    <div class="diagonal-date-wrap">
                        <svg class="diagonal-date" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#diagonalclip100" fill="#{{ e.color }}"></use>
                        </svg>
                        <div class="svgtext">{{ e.date|raw }}</div>
                    </div>
                    </a>
                    <p><a class="bold" href="/events/{{ e.id }}/">{{ e.title }}</a></p>
                    {{ e.synopsis|nl2br }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}