<div class="wavy-bottom-white">
    <div class="container pad">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1>Help send {{ c.firstname }} {{ c.lastname }} to camp!</h1><br/>
            </div>
        </div>
        <div class="row">
            {% if f.image %}
                <div class="col-md-5 col-md-offset-2 text-left">
                    {{ f.content|nl2br }}
                </div>
                <div class="col-md-3">
                    <img src="/upload/funding/400/{{ f.image }}" alt="">
                </div>
            {% else %}
                <div class="col-md-8 col-md-offset-2">
                    {{ f.content }}
                </div>
            {% endif %}
        </div>
        <br>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="fund-status-bar {% if c.pledged == f.goal %}fund-full{% endif %}">
                    <div class="fund-status" style=" width: {{ c.pledged / f.goal * 100 }}%;">
                        <div class="fund-subtitle">Current Funding</div>
                        <b>${{ c.pledged }}</b>
                    </div>
                    <div class="fund-goal">
                        <div class="fund-subtitle">Goal</div>
                        <b>${{ f.goal }}</b>
                    </div>
                </div>
                <br>
                <b>Share with your friends</b><br>
                <a href="https://twitter.com/intent/tweet?text=Help send {{ c.firstname }} {{ c.lastname }} to camp&amp;url={{ current_path }}" target="_blank">
                    <span class="fa fa-2x fa-fw fa-twitter"></span></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_path }}" target="_blank">
                    <span class="fa fa-2x fa-fw fa-facebook"></span></a>
                <a href="mailto:?subject=Help us send {{ c.firstname }} {{ c.lastname }} to camp&amp;body=Help us meet our fundraising goal at {{ current_path }}" target="_blank">
                    <span class="fa fa-2x fa-fw fa-envelope"></span></a>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="box-lightblue ">
    <div class="row">
        <div class=" col-md-6 col-md-offset-3 text-center">
            <div class="fund-form">
                <h1>Fund Camper</h1>
                <div class="hrsmall-white"></div>
                {% if c.pledged == f.goal %}
                    <p>{{ c.firstname }}'s camp has been completely funded.<br>Thank you for helping to send them to camp!</p>
                {% else %}
                    {{ c.firstname }} needs ${{ (f.goal - c.pledged)|number_format(2, '.', ',') }} in order to go to camp. Please fill donate below to
                    help us reach that goal.
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                    <form action="/cp/fund-my-camper" method="POST" id="paymentform">
                        <div id="error_explanation"></div>
                        <input type="hidden" name="amount" id="amount" value="0">
                        <input type="hidden" name="cid" value="{{ c.id }}">
                        <input type="hidden" id="stripeToken" name="stripeToken"/>
                        <input type="hidden" id="stripeEmail" name="stripeEmail"/>
                        <input type="hidden" id="stripeBillingName" name="stripeBillingName"/>
                        <input type="hidden" id="stripeBillingAddressLine1" name="stripeBillingAddressLine1"/>
                        <input type="hidden" id="stripeBillingAddressZip" name="stripeBillingAddressZip"/>
                        <input type="hidden" id="stripeBillingAddressCity" name="stripeBillingAddressCity"/>
                        <input type="hidden" id="stripeBillingAddressState" name="stripeBillingAddressState"/>
                        <input type="hidden" id="stripeBillingAddressCountry" name="stripeBillingAddressCountry"/>

                        <div class="form-element">
                            <input id="reg-pledge" type="number" min="1" max="{{ f.goal - c.pledged }}" name="pledge"/>
                            <label for="reg-pledge">Payment Amount* - $1.00 to ${{ (f.goal - c.pledged)|number_format(2, '.', ',') }}</label>
                        </div>

                        <button id='purchaseButton' class="btn prm-btn">Make Payment</button>
                        <br>
                        <script src="https://checkout.stripe.com/checkout.js"></script>
                        <script>
                            var handler = StripeCheckout.configure({
                                {% if test_mode %}
                                key: '{{ config.stripe.test_publishable_key }}',
                                {% else %}
                                key: '{{ config.stripe.live_publishable_key }}',
                                {% endif %}
                                locale: 'auto',
                                name: 'Camp STIX',
                                description: '{{ c.firstname }} {{ c.lastname }} Funding',
                                billingAddress: true,
                                token: function (token, args) {
                                    $('input#stripeToken').val(token.id);
                                    $('input#stripeEmail').val(token.email);
                                    $('input#stripeBillingName').val(args.billing_name);
                                    $('input#stripeBillingAddressLine1').val(args.billing_address_line1);
                                    $('input#stripeBillingAddressZip').val(args.billing_address_zip);
                                    $('input#stripeBillingAddressCity').val(args.billing_address_city);
                                    $('input#stripeBillingAddressState').val(args.billing_address_state);
                                    $('input#stripeBillingAddressCountry').val(args.billing_address_country);
                                    $('#paymentform').submit();
                                    return false;
                                }
                            });

                            $("#reg-pledge").change(function () {
                                var total = $("#reg-pledge").val();

                                $("#amount").val(total);
                            });

                            $('#purchaseButton').on('click', function (e) {
                                e.preventDefault();

                                $('#error_explanation').html('');

                                var total = $("#reg-pledge").val();
                                $("#amount").val(total);

                                var amount = $('input#amount').val();
                                amount = amount.replace(/\$/g, '').replace(/\,/g, '');

                                amount = parseFloat(amount);

                                if (isNaN(amount)) {
                                    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
                                }
                                else {
                                    amount = amount * 100; // Needs to be an integer!
                                    handler.open({
                                        amount: Math.round(amount)
                                    })
                                }
                            });
                            $(window).on('popstate', function () {
                                handler.close();
                            });
                        </script>
                    </form>
                    <br>
                    <script>

                        $(function () {
                            $('#amount').change(function () {
                                // Stripe accepts payment amounts in cents so we have to convert dollars to cents by multiplying by 100
                                var amount = parseInt($(this).val() * 100);
                                $(".stripe-button").attr("data-amount", amount);
                            });
                        });
                    </script>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
