<form action="/a/funding" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ f.id }}">
    <input type="hidden" name="cid" value="{{ c.id }}">
    {% if f.id %}
        <h2>Update funding page for <br>{{ c.firstname }} {{ c.lastname }}</h2>
    {% else %}
        <h2>Funding page for <br>{{ c.firstname }} {{ c.lastname }}</h2>
    {% endif %}
    <div class="col-md-12">
        <div class="form-element">
            <input id="reg-request" type="number" min="1" max="{{ p.price - s.amount }}" name="goal" value="{{ f.goal }}" required {% if f.goal %}class="hasvalue" {% endif %} />
            <label for="reg-request">Funding Goal* - $1.00 to ${{ p.price - s.amount }}</label>
        </div>
        <div class="form-element">
            <textarea id="reg-content" style="height:400px;" name="content" {% if s.content %}class="hasvalue" {% endif %} >{{ s.content }}</textarea>
            <label for="reg-content">Please describe why you would like this funding</label>
        </div>
        <div class="text-left">
            {{ imagefield|raw }}
        </div>


        <br>
        <input type="submit" value="Save Funding Details" name="submit" />
        <hr />
    </div>
</form>