{% if products %}
    {% for p in products %}
            <div>
                <h4>{{ p.title }}</h4>
                <form class="product-item" rel="{{ p.title }}" method="get" action="/checkout_process.php">
                    <input type="hidden" name="a" value="cart-add" />
                    <input name="id" type="hidden" value="{{ p.id }}"/>
                    <input name="qty" type="hidden" value="1"/>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 text-right"><b style="font-size:18pt;">Price:</b></div>
                        <div class="col-xs-6 text-left"><span class="price">${{ p.price|number_format }}</span></div>
                    </div>
                    {% if p.minimumdown > 0 and p.minimumdown != p.price %}
                    <div class="row">
                        <div class="col-xs-6 text-right"><b style="font-size:18pt;">Minimum Down:</b></div>
                        <div class="col-xs-6 text-left"><span class="price">${{ p.minimumdown|number_format }}</span></div>
                    </div>
                    {% endif %}
                    <br>
                    <input type="submit" class="prm-btn" value="Register" />
                </form>
            </div>
        <br>
        <br>
        <br>
    {% endfor %}
{% else %}
    <h4>No Camps are available at this time.<br>
        Please check back later or <a href="/contact">contact us</a> for more details.</h4>
    <br>
    <br>
{% endif %}
<br>
<p>Already registered? <a href="/account">Check your account here!</a></p>