<form id="product-form" class="product-item" method="get" action="/checkout_process.php">
    <input type="hidden" name="a" value="cart-add" />
    <input name="id" type="hidden" value="{{ p.id }}"/>

    <div class="productoptions row">
        <div class="col-xs-6 text-right"><label for="qty">Number Of Campers:</label></div>
        <div class="col-xs-6 text-left"><input step="1" name="qty" value="1" title="Qty" class="input-text qty text" min="1" max="50" type="number"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-right"><b>Per Camper:</b></div>
        <div class="col-xs-6 text-left subtotal">${{ p.price|number_format }}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6 text-right"><b style="font-size:18pt;">Total:</b></div>
        <div class="col-xs-6 text-left"><span class="price">${{ p.price|number_format }}</span></div>
    </div>
    <br>
    <input type="submit" class="prm-btn" value="Checkout" />
</form>
<script>
    $(function () {
        change_product_price($("#product-form"));
        $("#product-form").change(function () {
            change_product_price(this);
        });
    });
</script>