<form id='scholarshipform' action="/a/scholarship" method="post">
    <input type="hidden" name="id" value="{{ s.id }}">
    <input type="hidden" name="cid" value="{{ c.id }}">
    {% if s.id %}
        <h2>Update campership request for <br>{{ c.firstname }} {{ c.lastname }}</h2>
    {% else %}
        <h2>Campership request for <br>{{ c.firstname }} {{ c.lastname }}</h2>
    {% endif %}
        <table class="ecom_tbl">
            <tr>
                <th colspan="2">Parent or Guardian's Contact Information</th>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">Name<span class="reqstar">*</span>
                </td>
                <td>
                    <input type="text" name="parent_name" value="{{ s.parent_name }}" required />
                </td>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">Email<span class="reqstar">*</span>
                </td>
                <td>
                    <input type="text" name="parent_email" value="{{ s.parent_email }}" required />
                </td>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">Address<span class="reqstar">*</span>
                </td>
                <td>
                    <input type="text" name="parent_address" value="{{ s.parent_address }}" required />
                </td>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">City<span class="reqstar">*</span>
                </td>
                <td>
                    <input type="text" name="parent_city" value="{{ s.parent_city }}" required />
                </td>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">State<span class="reqstar">*</span>
                </td>
                <td>
                    <input type="text" name="parent_state" value="{{ s.parent_state }}" required />
                </td>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">Zip<span class="reqstar">*</span>
                </td>
                <td>
                    <input type="text" name="parent_zip" value="{{ s.parent_zip }}" required />
                </td>
            </tr>
            <tr>
                <th colspan="2">Household Information</th>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">How Many Adults Are In Your Family<span class="reqstar">*</span>
                    <div class="note">Please include yourself</div>
                </td>
                <td>
                    <select name="how_many_adults" required>
                        <option value=""></option>
                        {% for i in 0..25 %}
                            <option {% if s.how_many_adults == i %}selected="selected"{% endif %} value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">How Many Children Are In Your Family<span class="reqstar">*</span>
                    <div class="note">Please include your camper</div>
                </td>
                <td>
                    <select name="how_many_children" required>
                        <option value=""></option>
                        {% for i in 0..25 %}
                            <option {% if s.how_many_children == i %}selected="selected"{% endif %} value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">What are the ages of the children in your family?<span class="reqstar">*</span>
                    <div class="note">example: 1, 5, 12</div>
                </td>
                <td>
                    <input type="text" name="ages_of_children" value="{{ s.ages_of_children }}" required />
                </td>
            </tr>
            <tr>
                <th colspan="2">Financial Information</th>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">School Lunch Eligibility<span class="reqstar">*</span>
                </td>
                <td>
                    <select name="school_lunch" class="shownextonyes" show="Other" alt="Camper does not qualify for reduced or free lunch" rel="school_lunch_other" required>
                        <option value=""></option>
                        <option value="Camper qualifies for free school lunch" {% if s.school_lunch == "Camper qualifies for free school lunch" %}selected="selected"{% endif %}>Camper qualifies for free school lunch</option>
                        <option value="Camper qualifies for reduced school lunch" {% if s.school_lunch == "Camper qualifies for reduced school lunch" %}selected="selected"{% endif %}>Camper qualifies for reduced school lunch</option>
                        <option value="Camper does not qualify for reduced or free lunch" {% if s.school_lunch == "Camper does not qualify for reduced or free lunch" %}selected="selected"{% endif %}>Camper does not qualify for reduced or free lunch</option>
                        <option value="Other" {% if s.school_lunch == "Other" %}selected="selected"{% endif %}>Other</option>
                    </select>
                    <div id="school_lunch_other" class="showmore" rel="req" style="display: none;">
                        Additional information is required to help us understand your request for a campership. If you qualify for free or reduced lunch enter N/A:
                        <textarea name="school_lunch_other" >{{ s.school_lunch_other }}</textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">What is your Annual Household Income<span class="reqstar">*</span>
                <div class="note">Please include all sources of income including wages and salary, government assistance, child support, etc. Documentation of income may be requested.</div>
                </td>
                <td>
                    <input type="text" class="numberonly" name="annual_income" value="{{ s.annual_income }}" required />
                </td>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">Requested Scholarship Amount<span class="reqstar">*</span></td>
                <td>
                    <input type="number" class="numberonly" name="request" value="{{ s.request }}" min="10" required />
                </td>
            </tr>

            <tr>
                <th colspan="2">Additional Comments</th>
            </tr>
            <tr>
                <td class="labeltd" style="width: 50%;">If you have any additional comments please put them here:
                </td>
                <td>
                        <textarea name="content" >{{ s.content }}</textarea>
                </td>
            </tr>
            </table>
        <br>
        {% if s.id %}
            <input type="submit" value="Update Request" name="submit" />
        {% else %}
            <input type="submit" value="Submit Request" name="submit" />
        {% endif %}
</form>

<script>
    $(document).ready(function () {
        $(".date_single").datepicker({
            defaultDate: "d",
            changeMonth: true,
            changeYear: true,
            yearRange : 'yy-50:yy+1',
            dateFormat: "yy-mm-dd"
        });
        $(".shownextonyes").change(function(){
            checkformore(this);
        });
        $(".shownextonyes").each(function(){
            checkformore(this);
        });
    });
</script>