<form action="/a/tentorrv" method="post">
    <input type="hidden" name="id" value="{{ tr.id }}">
    <input type="hidden" name="vid" value="{{ v.id }}">
    {% if s.id %}
        <h2>Update Tent or RV Info for <br>{{ c.firstname }} {{ c.lastname }}</h2>
    {% else %}
        <h2>Tent or RV Info for <br>{{ c.firstname }} {{ c.lastname }}</h2>
    {% endif %}
        <table class="ecom_tbl">
            <tr>
                <td class="labeltd" style="width:50%">Are you planning to stay in a tent or an RV while at camp?<span class="reqstar">*</span>
                </td>
                <td>
                    <select name="lodging" class="shownextonyes" show="Other" rel="lodging_other" required>
                        <option value=""></option>
                        <option {% if tr.lodging == "Tent" %}selected="selected"{% endif %} value="Tent">Tent</option>
                        <option {% if tr.lodging == "RV" %}selected="selected"{% endif %} value="RV">RV</option>
                        <option {% if tr.lodging == "Van/Car" %}selected="selected"{% endif %} value="Van/Car">Van/Car</option>
                        <option {% if tr.lodging == "Other" %}selected="selected"{% endif %} value="Other">Other</option>
                    </select>
                    <div id="lodging_other" class="showmore" rel="req" style="display: none;">
                        If Other:
                        <input type="text" name="lodging_other" value="{{ tr.lodging_other }}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="labeltd">Who is the owner of the Tent/RV?<span class="reqstar">*</span>
                </td>
                <td>
                    <select name="owner" class="shownextonyes" show="Other" rel="owner_other" required>
                        <option value=""></option>
                        <option {% if tr.owner == "I am the owner" %}selected="selected"{% endif %} value="I am the owner">I am the owner</option>
                        <option {% if tr.owner == "Other" %}selected="selected"{% endif %} value="Other">Other</option>
                    </select>
                    <div id="owner_other" class="showmore" rel="req" style="display: none;">
                        If Other:
                        <input type="text" name="owner_other" value="{{ tr.owner_other }}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="labeltd">List anyone that is staying with you.<span class="reqstar">*</span>
                    <div class="note">Please use full names with camp names so that we can locate the proper people. If none, write "none"</div>
                </td>
                <td>
                    <input type="text" name="stayingwith" value="{{ tr.stayingwith }}"  required />
                </td>
            </tr>
            <tr>
                <td class="labeltd">If you are the owner of the RV being used, will you require any water or electric hook ups?<span class="reqstar">*</span>
                </td>
                <td>
                    <select name="rvhookups" class="shownextonyes" show="Other" rel="rvhookups_other">
                        <option value=""></option>
                        <option {% if tr.rvhookups == "None" %}selected="selected"{% endif %} value="None">None</option>
                        <option {% if tr.rvhookups == "Water" %}selected="selected"{% endif %} value="Water">Water</option>
                        <option {% if tr.rvhookups == "Electric" %}selected="selected"{% endif %} value="Electric">Electric</option>
                        <option {% if tr.rvhookups == "Water and Electric" %}selected="selected"{% endif %} value="Water and Electric">Water and Electric</option>
                        <option {% if tr.rvhookups == "Other" %}selected="selected"{% endif %} value="Other">Other</option>
                    </select>
                    <div id="rvhookups_other" class="showmore" rel="req" style="display: none;">
                        If Other:
                        <input type="text" name="rvhookups_other" value="{{ tr.rvhookups_other }}" />
                    </div>
                </td>
            </tr>

            </table>
        <br>
        {% if s.id %}
            <input type="submit" value="Update Request" name="submit" />
        {% else %}
            <input type="submit" value="Submit Request" name="submit" />
        {% endif %}
</form>

<script>
    $(document).ready(function () {
        $(".shownextonyes").change(function(){
            checkformore(this);
        });
        $(".shownextonyes").each(function(){
            checkformore(this);
        });
    });
</script>