<input type="hidden" name="pid" value="{% if v.pid %}{{ v.pid }}{% else %}{{ p.id }}{% endif %}">
<input type="hidden" name="id" value="{{ v.id }}">
<h3>Volunteer Registration {{ title }}</h3>
<h4>{{ p.title }}</h4>
<div id="loadingscreen">LOADING FORM</div>
<table class="ecom_tbl">
    <tr>
        <th colspan="2">Registration Information</th>
    </tr>
    <tr>
        <td class="labeltd" style="width: 50%;">First Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="firstname" value="{{ v.firstname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Last Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="lastname" value="{{ v.lastname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Date of Birth<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="bdate" class="date_dob" value="{{ v.bdate }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Gender<span class="reqstar">*</span></td>
        <td>
            <select name="gender" required>
                <option value=""></option>
                <option {% if v.gender == "Male" %}selected="selected"{% endif %} value="Male">Male</option>
                <option {% if v.gender == "Female" %}selected="selected"{% endif %} value="Female">Female</option>
                <option {% if v.gender == "Other" %}selected="selected"{% endif %} value="Other">Other</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">T-Shirt Size<span class="reqstar">*</span></td>
        <td>
            <select name="tshirt" id="" required>
                <option value=""></option>
                <option {% if v.tshirt=="Adult XS" %}selected="selected"{% endif %} value="Adult XS">Adult XS</option>
                <option {% if v.tshirt=="Adult Small" %}selected="selected"{% endif %} value="Adult Small">Adult Small</option>
                <option {% if v.tshirt=="Adult Medium" %}selected="selected"{% endif %} value="Adult Medium">Adult Medium</option>
                <option {% if v.tshirt=="Adult Large" %}selected="selected"{% endif %} value="Adult Large">Adult Large</option>
                <option {% if v.tshirt=="Adult XL" %}selected="selected"{% endif %} value="Adult XL">Adult XL</option>
                <option {% if v.tshirt=="Adult 2XL" %}selected="selected"{% endif %} value="Adult 2XL">Adult 2XL</option>
                <option {% if v.tshirt=="Adult 3XL" %}selected="selected"{% endif %} value="Adult 3XL">Adult 3XL</option>
                <option {% if v.tshirt=="Adult 4XL" %}selected="selected"{% endif %} value="Adult 4XL">Adult 4XL</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Is this your first year at Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %}?<span class="reqstar">*</span></td>
        <td>
            <select name="newtocamp" class="shownextonyes" show="Yes" hide="returncamp" rel="newcamp" required>
                <option value=""></option>
                <option {% if v.newtocamp == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.newtocamp == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>

            <div id="returncamp" class="showmore" rel="req" style="display: none;">
                Camp Name?:<span class="reqstar">*</span><br>
                <input type="text" name="campname_return" value="{{ v.campname_return }}" />
                Which team were you on the last time you volunteered at Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %}?:<span class="reqstar">*</span><br>
                <select name="last_volunteer_team">
                    <option value=""></option>
                    <option {% if v.last_volunteer_team == "DISH" %}selected="selected"{% endif %} value="DISH">DISH</option>
                    <option {% if v.last_volunteer_team == "MASH" %}selected="selected"{% endif %} value="MASH">MASH</option>
                    <option {% if v.last_volunteer_team == "Program" %}selected="selected"{% endif %} value="Program">Program</option>
                    <option {% if v.last_volunteer_team == "Support" %}selected="selected"{% endif %} value="Support">Support</option>
                </select>
                What year was the last time you volunteered at Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %}?:<span class="reqstar">*</span><br>
                <input type="text" name="last_volunteer_year" value="{{ v.last_volunteer_year }}" />
            </div>
            <div id="newcamp" class="showmore" rel="req" style="display: none;">
                Have you ever been a camper at Camp Stix:<span class="reqstar">*</span><br>
                <select name="previouscamper">
                    <option value=""></option>
                    <option {% if v.previouscamper == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                    <option {% if v.previouscamper == "No" %}selected="selected"{% endif %} value="No">No</option>
                </select>
                How did you hear about Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %}?:<span class="reqstar">*</span><br>
                <div class="note">
                    Please list the camp volunteer who referred you. If you don't have a camp volunteer as a reference, please provide one professional reference.<Br>
                    If you are a returning volunteer, please enter the department you were a member of last year.
                </div>
                <input type="text" name="heardfrom" value="{{ v.heardfrom }}" />
                Do you have a Camp Name?:<br>
                <div class="note">
                    If you have volunteered at a summer camp before and received a camp name, please enter it here. If not, no worries! You will receive a name at camp! Just remember, you don't get to name yourself!
                </div>
                <input type="text" name="campname_new" class="neverreq" value="{{ v.campname_new }}" />
            </div>

        </td>
    </tr>

    <tr>
        <td class="labeltd">Are you available the entire week of camp?<span class="reqstar">*</span></td>
        <td>
            <select name="availableallweek" class="shownextonyes" show="No"  rel="availableallweek_more">
                <option value=""></option>
                <option {% if v.availableallweek == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.availableallweek == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="availableallweek_more" class="showmore" style="display: none;">
                Available Arrival Time
                <input type="text" class="datetime_single" name="available_start" value="{{ v.available_start }}" />
                Available Departure Time
                <input type="text" class="datetime_single" name="available_departure" value="{{ v.available_departure }}" />
            </div>
        </td>
    </tr>
    <tr>
        <th colspan="2">Your Contact Information</th>
    </tr>
    <tr>
        <td class="labeltd">Email Address<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="contact_email" value="{{ v.contact_email }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Confirm Email Address<span class="reqstar">*</span>
        <div class="note">Please confirm your email address as this is our primary method of communication.</div>
        </td>
        <td>
            <input type="text" name="confirm_contact_email" value="{{ v.confirm_contact_email }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="contact_phone" value="{{ v.contact_phone }}" placeholder="888 888 8888" onkeyup="this.value=addSpaces(this.value);" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Can you receive texts at this number?<span class="reqstar">*</span>
            <div class="note">If possible, please put a number that we can text for your phone number.</div>
        </td>
        <td>
            <select name="can_we_text_you" required>
                <option value=""></option>
                <option {% if v.can_we_text_you == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.can_we_text_you == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Current Address<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="contact_address" value="{{ v.contact_address }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">City<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="contact_city" value="{{ v.contact_city }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">State<span class="reqstar">*</span></td>
        <td>
            <select name="contact_state" required>
                <option value=""></option>
                {% for abr, full in config.us_states %}
                    <option {% if v.contact_state == abr %}selected="selected"{% endif %} value="{{ abr }}">{{ full }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Zip<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="contact_zip" value="{{ v.contact_zip }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Mailing Address <div class="note">If different from current address</div></td>
        <td>
            <input type="text" name="mailing_address" value="{{ v.mailing_address }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">City<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="mailing_city" value="{{ v.mailing_city }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">State<span class="reqstar">*</span></td>
        <td>
            <select name="mailing_state" required>
                <option value=""></option>
                {% for abr, full in config.us_states %}
                    <option {% if v.mailing_state == abr %}selected="selected"{% endif %} value="{{ abr }}">{{ full }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Zip<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="mailing_zip" value="{{ v.mailing_zip }}" required />
        </td>
    </tr>

    <tr>
        <th colspan="2">Emergency Contact Information</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
                In case of an emergency involving you, who should we contact?
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd" style="width: 50%;">First Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontact_fname" value="{{ v.emergencycontact_fname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Last Name<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontact_lname" value="{{ v.emergencycontact_lname }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Relationship to You<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontact_relation" value="{{ v.emergencycontact_relation }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Phone Number<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="emergencycontact_phone" value="{{ v.emergencycontact_phone }}" placeholder="888 888 8888" onkeyup="this.value=addSpaces(this.value);" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required />
        </td>
    </tr>
    <tr>
        <th colspan="2">Medical Information</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
                This information is to help us provide a great camp experience for you! All of your information will remain confidential.
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Do you have Type 1 diabetes?</td>
        <td>
            <select name="hasdiabetes" required>
                <option value=""></option>
                <option {% if v.hasdiabetes == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.hasdiabetes == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Do you have any medical allergies?<span class="reqstar">*</span>
            <div class="note">(Medications, latex, bee stings, etc)</div>
        </td>
        <td>
            <select name="allergies" class="shownextonyes" rel="allergies_more" required>
                <option value=""></option>
                <option {% if v.allergies == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.allergies == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="allergies_more" class="showmore" style="display: none;">
                Please check all that apply<br>
                <label class="ch-label"><input type="checkbox" name="allergy_bees" value="Yes" {% if v.allergy_bees == "Yes" %}checked="checked"{% endif %}> Bees</label>
                <label class="ch-label"><input type="checkbox" name="allergy_latex" value="Yes" {% if v.allergy_latex == "Yes" %}checked="checked"{% endif %}> Latex</label>
                <label class="ch-label"><input type="checkbox" name="allergy_penicillin" value="Yes" {% if v.allergy_penicillin == "Yes" %}checked="checked"{% endif %}> Penicillin/Amoxicillin</label>
                <label class="ch-label"><input type="checkbox" name="allergy_seasonal" value="Yes" {% if v.allergy_seasonal == "Yes" %}checked="checked"{% endif %}> Seasonal</label>
                <br>
                Other:<br>
                <input type="text" name="allergies_more" class="" value="{{ v.allergies_more }}" />

                <label class="ch-label"><input type="checkbox" name="allergy_epipen" value="Yes" {% if v.allergy_epipen == "Yes" %}checked="checked"{% endif %}> Epi-pen required</label>
                <br>

                Please list reactions here:<br>
                <textarea name="allergy_med_reactions" placeholder="I.E.: penicillin causes rash or bee stings cause anaphylaxis">{{ v.allergy_med_reactions }}</textarea>

            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Are you allergic to any foods?<span class="reqstar">*</span>
            <div class="note">(Peanuts, shellfish, dairy, eggs, soy, gluten/wheat, nuts, fruit, etc.)</div>
        </td>

        <td>
            <select name="allergies_food" class="shownextonyes" rel="allergies_food_more" required>
                <option value=""></option>
                <option {% if v.allergies_food == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.allergies_food == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>

            <div id="allergies_food_more" class="showmore" style="display: none;">
                Please check all that apply<br>
                <label class="ch-label"><input type="checkbox" name="allergy_peanuts" value="Yes" {% if v.allergy_peanuts == "Yes" %}checked="checked"{% endif %}> Peanuts</label>
                <label class="ch-label"><input type="checkbox" name="allergy_shellfish" value="Yes" {% if v.allergy_shellfish == "Yes" %}checked="checked"{% endif %}> Shellfish</label>
                <label class="ch-label"><input type="checkbox" name="allergy_dairy" value="Yes" {% if v.allergy_dairy == "Yes" %}checked="checked"{% endif %}> Dairy/Lactose</label>
                <label class="ch-label"><input type="checkbox" name="allergy_eggs" value="Yes" {% if v.allergy_eggs == "Yes" %}checked="checked"{% endif %}> Eggs</label>
                <label class="ch-label"><input type="checkbox" name="allergy_soy" value="Yes" {% if v.allergy_soy == "Yes" %}checked="checked"{% endif %}> Soy</label>
                <label class="ch-label"><input type="checkbox" name="allergy_gluten" value="Yes" {% if v.allergy_gluten == "Yes" %}checked="checked"{% endif %}> Gluten/Wheat</label>
                <label class="ch-label"><input type="checkbox" name="allergy_nuts" value="Yes" {% if v.allergy_nuts == "Yes" %}checked="checked"{% endif %}> Nuts</label>
                <br>
                Fruit:<br>
                <input type="text" name="allergy_fruit" class="" placeholder="Specify" value="{{ v.allergy_fruit }}" />
                Other:<br>
                <input type="text" name="allergies_food_more" class="" value="{{ v.allergies_food_more }}" />

                <label class="ch-label"><input type="checkbox" name="allergy_food_epipen" value="Yes" {% if v.allergy_food_epipen == "Yes" %}checked="checked"{% endif %}> Epi-pen required</label>
                <br>
                Please list reactions here:<br>
                <textarea name="allergy_food_reactions" placeholder="">{{ v.allergy_food_reactions }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Are you on a medically prescribed diet?<span class="reqstar">*</span>
            <div class="note">(Gluten free, dairy free, etc.)</div>
        </td>
        <td>
            <select name="medical_diet" class="shownextonyes" rel="medical_diet_more" required>
                <option value=""></option>
                <option {% if v.medical_diet == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.medical_diet == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="medical_diet_more" class="showmore" style="display: none;">
                Please check all that apply<br>
                <label class="ch-label"><input type="checkbox" name="gluten_free" value="Yes" {% if v.gluten_free == "Yes" %}checked="checked"{% endif %}> Gluten Free</label>
                <label class="ch-label"><input type="checkbox" name="dairy_free" value="Yes" {% if v.dairy_free == "Yes" %}checked="checked"{% endif %}> Dairy Free</label>
                <br>
                Other:<br>
                <textarea name="medical_diet_more" >{{ v.medical_diet_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Are there any other dietary needs that we should be aware of?<span class="reqstar">*</span> </td>
        <td>
            <select name="otherdiataryneeds" class="shownextonyes" rel="otherdiataryneeds_more" required>
                <option value=""></option>
                <option {% if v.otherdiataryneeds == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.otherdiataryneeds == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="otherdiataryneeds_more" class="showmore" style="display: none;">
                If "Yes", please list:<br>
                <textarea name="otherdiataryneeds_more">{{ v.otherdiataryneeds_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Do you have any disabilities for which you'd like Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} to make provisions, to help you perform the essential functions of the position you are seeking?<span class="reqstar">*</span></td>
        <td>
            <select name="otherdisabilities" class="shownextonyes" rel="otherdisabilities_more" required>
                <option value=""></option>
                <option {% if v.otherdisabilities == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.otherdisabilities == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="otherdisabilities_more" class="showmore" style="display: none;">
                If "Yes", please list the disabilites:<br>
                <textarea name="otherdisabilities_more">{{ v.otherdisabilities_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Would you be able to fulfill your required duties on limited sleep?<span class="reqstar">*</span></td>
        <td>
            <select name="limitedsleep" class="shownextonyes" show="No" rel="limitedsleep_more" required>
                <option value=""></option>
                <option {% if v.limitedsleep == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.limitedsleep == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="limitedsleep_more" class="showmore" style="display: none;">
                If "No", please explain:<br>
                <textarea name="limitedsleep_more">{{ v.limitedsleep_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Do you have any other medical conditions we should be aware of?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="otherconditions" class="shownextonyes" rel="otherconditions_more" required>
                <option value=""></option>
                <option {% if v.otherconditions == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.otherconditions == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
            <div id="otherconditions_more" class="showmore" rel="req" style="display: none;">
                If "Yes", please explain:<span class="reqstar">*</span><br>
                <textarea name="otherconditions_more" >{{ v.otherconditions_more }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <th colspan="2">Your Experience</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">A chance for you to tell us a little bit more about yourself to help us get you know you better</div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">What is the highest educational or training degree you have accomplished?<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="highestdegree" value="{{ v.highestdegree }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">How many years have you volunteered as staff at a diabetes summer camp?<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="yearsvolunteered" value="{{ v.yearsvolunteered }}" required />
        </td>
    </tr>
    <tr>
        <td class="labeltd">Do you have a preference for the age of camper you work with?
            <div class="note">If No, leave blank</div>
        </td>
        <td>
            <input type="text" name="preferred_camper_age" value="{{ v.preferred_camper_age }}" />
        </td>
    </tr>
    <tr>
        <th colspan="2">Department Selection</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
                <p>At Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} we have four main departments:</p>

                <p>DISH (Kitchen)</p>
                <p>MASH (Medical)</p>
                <p>Program (Counselors, Junior Counselors)</p>
                <p>Support (Photography, Education, Arts and Crafts, Administrative, Camper Advocate)</p>

                <p>You can apply for all departments or just one. This application will ask you about each department one at a time starting with DISH below. At the end of the application you will be able to list the order of your preferences of departments that you would like to be considered for selection.</p>
            </div>
        </td>
    </tr>
    <tr>
        <th colspan="2">DISH</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
                Put a smile on everyone's faces by helping prepare and serve the wonderful meals carefully crafted by our DISH team!
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Would you like to be considered for DISH?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="dish" class="shownextonyes" rel="dish_more" required>
                <option value=""></option>
                <option {% if v.dish == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.dish == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" id="dish_more" class="showmore" rel="req" style="display: none; padding:0;">
            <table>
                <tr>
                    <td class="labeltd" style="width: 50%;">Do you currently have your Washington State Food Worker Card?<span class="reqstar">*</span>
                        <div class="note">This is NOT a requirement to participate on DISH staff</div>
                    </td>
                    <td>
                        <select name="dish_current_foodscard">
                            <option value=""></option>
                            <option {% if v.dish_current_foodscard == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.dish_current_foodscard == "No" %}selected="selected"{% endif %} value="No">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What, if any, culinary skills or background do you have?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="dish_skills" value="{{ v.dish_skills }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What, if any, restaurant management skills or background do you have?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="dish_management_skills" value="{{ v.dish_management_skills }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What, if any, dietary/nutritional credentials do you have?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="dish_dietary_credentials" value="{{ v.dish_dietary_credentials }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What, if any, specialty diet skills or background do you have?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="dish_specialty_diet_skills" value="{{ v.dish_specialty_diet_skills }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        Please list any job preferences or talents that you may have in the kitchen arena?<span class="reqstar">*</span>
                        <div class="note">e.g. food prep., large-batch cooking, cleaning, etc.</div>
                    </td>
                    <td>
                        <input type="text" name="dish_job_preference" value="{{ v.dish_job_preference }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        What are your expectations for working in DISH?<span class="reqstar">*</span>
                    </td>
                    <td>
                        <input type="text" name="dish_expectations" value="{{ v.dish_expectations }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        What is your best quality you can offer the DISH department?<span class="reqstar">*</span>
                    </td>
                    <td>
                        <input type="text" name="dish_best_quality" value="{{ v.dish_best_quality }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        How could we best utilize your talents/skills in DISH?<span class="reqstar">*</span>
                    </td>
                    <td>
                        <input type="text" name="dish_best_utilize" value="{{ v.dish_best_utilize }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        Are there any considerations you may need?<span class="reqstar">*</span>
                        <div class="note">The DISH department is a fast-paced environment that will be physically demanding at times. It requires teamwork and the ability to work in close-quarters with one another. Will you be comfortable working in this environment?</div>
                    </td>
                    <td>
                        <input type="text" name="dish_any_considerations" value="{{ v.dish_any_considerations }}" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th colspan="2">MASH</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
                If you don't think going to the doctor is fun, then you haven't met our MASH team! Use your medical experience and wit to help our campers learn to take care of their diabetes with aplomb!
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Would you like to be considered for MASH (Medical)?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="mash" class="shownextonyes" rel="mash_more" required>
                <option value=""></option>
                <option {% if v.mash == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.mash == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" id="mash_more" class="showmore" rel="req" style="display: none; padding:0;">
            <table>
                <tr>
                    <td class="labeltd" style="width: 50%;">What is your Designation or Title?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="mash_title" value="{{ v.mash_title }}"/>
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What current professional license do you hold?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="mash_license" value="{{ v.mash_license }}"/>
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">Has your license ever been revoked?<span class="reqstar">*</span></td>
                    <td>
                        <select name="mash_licenserevoked" class="shownextonyes" rel="mash_licenserevoked_more">
                            <option value=""></option>
                            <option {% if v.mash_licenserevoked == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.mash_licenserevoked == "No" %}selected="selected"{% endif %} value="No">No</option>
                        </select>
                        <div id="mash_licenserevoked_more" class="showmore" style="display: none;">
                            If "Yes", please explain:<span class="reqstar">*</span><br>
                            <textarea name="mash_licenserevoked_more">{{ v.mash_licenserevoked_more }}</textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">Have you ever been accused of, convicted of, or had a deferred adjudication of medical malpractice?<span class="reqstar">*</span></td>
                    <td>
                        <select name="mash_malpractice" class="shownextonyes" rel="mash_malpractice_more">
                            <option value=""></option>
                            <option {% if v.mash_malpractice == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.mash_malpractice == "No" %}selected="selected"{% endif %} value="No">No</option>
                        </select>
                        <div id="mash_malpractice_more" class="showmore" style="display: none;">
                            If "Yes", please explain:<span class="reqstar">*</span><br>
                            <textarea name="mash_malpractice_more">{{ v.mash_malpractice_more }}</textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What specific expectations of your experience and role on the MASH team do you have while at Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %}?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="mash_expectation" value="{{ v.mash_expectation }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What is one of the toughest challenges you anticipate as a potential member of the MASH team?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="mash_toughestchallenges" value="{{ v.mash_toughestchallenges }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">Camp requires long hours and times of little sleep. What challenges do you anticipate?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="mash_sleepchallenges" value="{{ v.mash_sleepchallenges }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        For returning staff; do you wish to be a team leader in training? If so, what goals do you have for growth over this year at camp?
                        <div class="note">If you are not returning or do not wish to be a team leader, please leave blank.</div>
                    </td>
                    <td>
                        <input type="text" name="mash_growth_goals" class="neverreq" value="{{ v.mash_growth_goals }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">Describe one way you could improve the Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} experience for the campers as a member of the MASH team:<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="mash_improveexperience" value="{{ v.mash_improveexperience }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What are some hobbies and interests?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="mash_hobbies" value="{{ v.mash_hobbies }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">If you are a returning member of MASH, what motivates you to return?<span class="reqstar">*</span>
                        <div class="note">If you are not a returning member of MASH, enter "N/A"</div>
                    </td>
                    <td>
                        <input type="text" name="mash_return_motivation" value="{{ v.mash_return_motivation }}" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th colspan="2">Program</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
                Crazy campfire skits and wacky dance parties and enthusiastic campers, oh my! Take lead of a cabin of kids who will steal your heart, and maybe your afternoon snack, as a Counselor or Junior Counselor!
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Would you like to be considered for Program?<span class="reqstar">*</span>
            <div class="note">(Counselor or Junior Counselor)</div>
        </td>
        <td>
            <select name="program" class="shownextonyes" rel="program_more" required>
                <option value=""></option>
                <option {% if v.program == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.program == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" id="program_more" class="showmore" rel="req" style="display: none; padding:0;">
            <table>
                <tr>
                    <td class="labeltd" style="width: 50%;">Which specific Program position are you applying for?<span class="reqstar">*</span></td>
                    <td>
                        <select name="program_position">
                            <option value=""></option>
                            <option {% if v.program_position == "Counselor (age 18+)" %}selected="selected"{% endif %} value="Counselor (age 18+)">Counselor (age 18+)</option>
                            <option {% if v.program_position == "Junior Counselor (age 16+)" %}selected="selected"{% endif %} value="Junior Counselor (age 16+)">Junior Counselor (age 16+)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        If you are not selected for the position you are applying for, would you like to be considered for another Program position?<span class="reqstar">*</span>
                    </td>
                    <td>
                        <select name="consider_another_program" required>
                            <option value=""></option>
                            <option {% if v.consider_another_program == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.consider_another_program == "No" %}selected="selected"{% endif %} value="No">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        Do you feel comfortable speaking to an audience, sharing your personal experiences, or giving a brief inspirational talk?<span class="reqstar">*</span>
                    </td>
                    <td>
                        <select name="program_publicspeaking">
                            <option value=""></option>
                            <option {% if v.program_publicspeaking == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.program_publicspeaking == "No" %}selected="selected"{% endif %} value="No">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What contributions have you made at Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} or at another similar camp (if you haven't been a part of Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} before)?</td>
                    <td>
                        <input type="text" name="program_othercontributions" value="{{ v.program_othercontributions }}" class="neverreq" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What current certification, license, and/or training do you have which might be helpful in the position you seek?
                        <div class="note">first aid, CPR, waterfront safety certification, lifeguard training, etc.</div>
                    </td>
                    <td>
                        <input type="text" name="program_certifications" value="{{ v.program_certifications }}" class="neverreq" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What are your expectations for Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} as a member of the Program team?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="program_expectations" value="{{ v.program_expectations }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What are some things you could do during camp to elevate your role as a leader for the team?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="program_elevateleader" value="{{ v.program_elevateleader }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What is one of the toughest challenges you anticipate as a potential member of the team?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="program_toughestchallenges" value="{{ v.program_toughestchallenges }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">Describe one way you could improve the Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} experience for the campers as a member of the Program team:<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="program_improveexperience" value="{{ v.program_improveexperience }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What is one thing about you that makes you stand out as a potential member of the Program team?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="program_standout" value="{{ v.program_standout }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        If you are younger than 18 and applying for a Junior Counselor position, would you like to attend as a camper, if not selected to be a Junior Counselor?<span class="reqstar">*</span>
                        <div class="note">
                            Please note that you MUST also register as a camper if you plan to attend camp as a camper if not selected as a Junior Counselor. The Junior Counselor Application and the Camper Registration are two separate processes.
                        </div>
                    </td>
                    <td>
                        <select name="program_under18_camper">
                            <option value=""></option>
                            <option {% if v.program_under18_camper == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.program_under18_camper == "No" %}selected="selected"{% endif %} value="No">No</option>
                            <option {% if v.program_under18_camper == "I will be over 18 at the time of camp" %}selected="selected"{% endif %} value="I will be over 18 at the time of camp">I will be over 18 at the time of camp</option>
                        </select>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <th colspan="2">Support</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
                What do you get when you cross the sneakiest ninja with the busiest worker bee? We don't know, but we will get the answer, make a sign, take the perfect photo, help a homesick camper, teach them about square wave boluses, deliver mail, and get right back to you! Solve problems, big and small, behind-the-scenes to keep the show running smoothly as an essential member of Support!
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Would you like to be considered for Support?<span class="reqstar">*</span>
            <div class="note">(Photography, Arts and Crafts, Administrative, Camper Advocate, Education)</div>
        </td>
        <td>
            <select name="support" class="shownextonyes" rel="support_more" required>
                <option value=""></option>
                <option {% if v.program == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.program == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" id="support_more" class="showmore" rel="req" style="display: none; padding:0;">
            <table>
                <tr>
                    <td class="labeltd" style="width: 50%;">Which specific Support position are you applying for?<span class="reqstar">*</span></td>
                    <td>
                        <select name="support_position">
                            <option value=""></option>
                            <option {% if v.support_position == "Arts & Crafts" %}selected="selected"{% endif %} value="Arts & Crafts">Arts & Crafts (Assist the Arts & Crafts Director with planned activities.)</option>
                            <option {% if v.support_position == "Photography" %}selected="selected"{% endif %} value="Photography">Photography (Capture photos and video of camp activities.)</option>
                            <option {% if v.support_position == "Administrative" %}selected="selected"{% endif %} value="Administrative">Administrative (Provide administrative support to the Camp Director. More fun than it sounds!)</option>
                            <option {% if v.support_position == "Camper Advocate" %}selected="selected"{% endif %} value="Camper Advocate">Camper Advocate (Help monitor and maintain camper welfare. Applicants with counseling or social work experience are preferred.)</option>
                            <option {% if v.support_position == "Education" %}selected="selected"{% endif %} value="Education">Education (Assist the Education Director with planned activities and skits.)</option>
                            <option {% if v.support_position == "Other" %}selected="selected"{% endif %} value="Other">Other</option>
                        </select>
                        If Other:
                        <input type="text" name="support_positionother" value="{{ v.support_positionother }}" class="neverreq" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        If you are not selected for the position you are applying for, would you like to be considered for another Support team position?<span class="reqstar">*</span>
                    </td>
                    <td>
                        <select name="support_consider_another" class="shownextonyes" rel="support_consider_another_more">
                            <option value=""></option>
                            <option {% if v.support_consider_another == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.support_consider_another == "No" %}selected="selected"{% endif %} value="No">No</option>
                        </select>
                        <div id="support_consider_another_more" class="showmore" style="display: none;">
                            If "Yes", please explain:<span class="reqstar">*</span><br>
                            <textarea name="support_consider_another_more">{{ v.support_consider_another_more }}</textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What contributions have you made at Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} or at another similar camp (if you haven't been a part of Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} before)? <span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="support_contributions" value="{{ v.support_contributions }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What are your expectations for Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} as a member of the Support team?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="support_expectations" value="{{ v.support_expectations }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">Describe one way you could improve the {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} experience for the campers as a member of the Support team?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="support_improve" value="{{ v.support_improve }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">What is one thing about you that makes you stand out as a potential member of the Support team?<span class="reqstar">*</span></td>
                    <td>
                        <input type="text" name="support_standout" value="{{ v.support_standout }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        What specific experience do you have that applies to the role you are applying for?<span class="reqstar">*</span>
                        <div class="note">Please include any professional experience or relevant education</div>
                    </td>
                    <td>
                        <input type="text" name="support_experience" value="{{ v.support_experience }}" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <tr>
        <th colspan="2">Department Selection</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
                Please be sure that you have completed the application section for each of the departments that you would like to be considered for.
            </div>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Which department is your first preference for placement?<span class="reqstar">*</span>
        </td>
        <td>
            <select name="departmentpreference_1" required>
                <option value=""></option>
                <option {% if v.departmentpreference_1 == "DISH" %}selected="selected"{% endif %} value="DISH">DISH</option>
                <option {% if v.departmentpreference_1 == "MASH" %}selected="selected"{% endif %} value="MASH">MASH</option>
                <option {% if v.departmentpreference_1 == "Program" %}selected="selected"{% endif %} value="Program">Program</option>
                <option {% if v.departmentpreference_1 == "Support" %}selected="selected"{% endif %} value="Support">Support</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Which department is your second preference for placement?
            <div class="note">Respond below only if you wish to be considered for and have applied for more than one department.</div>
        </td>
        <td>
            <select name="departmentpreference_2">
                <option value=""></option>
                <option {% if v.departmentpreference_2 == "DISH" %}selected="selected"{% endif %} value="DISH">DISH</option>
                <option {% if v.departmentpreference_2 == "MASH" %}selected="selected"{% endif %} value="MASH">MASH</option>
                <option {% if v.departmentpreference_2 == "Program" %}selected="selected"{% endif %} value="Program">Program</option>
                <option {% if v.departmentpreference_2 == "Support" %}selected="selected"{% endif %} value="Support">Support</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labeltd">
            Which department is your third preference for placement?
            <div class="note">Respond below only if you wish to be considered for and have applied for more than two departments.</div>
        </td>
        <td>
            <select name="departmentpreference_3">
                <option value=""></option>
                <option {% if v.departmentpreference_3 == "DISH" %}selected="selected"{% endif %} value="DISH">DISH</option>
                <option {% if v.departmentpreference_3 == "MASH" %}selected="selected"{% endif %} value="MASH">MASH</option>
                <option {% if v.departmentpreference_3 == "Program" %}selected="selected"{% endif %} value="Program">Program</option>
                <option {% if v.departmentpreference_3 == "Support" %}selected="selected"{% endif %} value="Support">Support</option>
            </select>
        </td>
    </tr>

    <tr>
        <th colspan="2">Age Verification</th>
    </tr>
    <tr>
        <td class="labeltd">
            Are you 18 years of age or older as of completing this application?<span class="reqstar">*</span>
            <div class="note">If you are younger than 18, your parent/guardian will need to fill out the next section.</div>
        </td>
        <td>
            <select name="olderthan18" class="shownextonyes" show="Yes" hide="youngerthan18_more" rel="olderthan18_more" required>
                <option value=""></option>
                <option {% if v.olderthan18 == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                <option {% if v.olderthan18 == "No" %}selected="selected"{% endif %} value="No">No</option>
            </select>
        </td>
    </tr>

    <tr>
        <td colspan="2" id="olderthan18_more" class="showmore" rel="req" style="display: none;">
            <table>
                <tr>
                    <th colspan="2">Parent/Guardian of Camper</th>
                </tr>
                <tr>
                    <td class="labeltd" style="width:50%; border-top:0;">
                        Are you the parent/guardian of a child planning to attend camp as a camper this year?
                    </td>
                    <td style="border-top:0;">
                        <select name="guardian_of_camper" class="shownextonyes" rel="guardian_of_camper_more">
                            <option value=""></option>
                            <option {% if v.guardian_of_camper == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.guardian_of_camper == "No" %}selected="selected"{% endif %} value="No">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="guardian_of_camper_more" class="showmore" rel="req" style="display: none;">
                        <b>Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Children of Volunteers Policy</b><br>
                        <div class="note">
                            <p>Dependent children of Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} volunteers are welcome to attend camp (Preference will be given to children with diabetes). However, the focus of Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} is to promote independence as a positive experience of the camper. In order to better serve the needs of all youth with diabetes attending Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %}, the following guidelines have been adopted and implemented regarding the children of Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} volunteers and must be adhered to:</p>
                            <ul>
                                <li>The camper falls within the age range of the session in which the parent/guardian is volunteering.</li>
                                <li>A discount of 50% per diabetic camper is granted for every parent volunteer who stays for the entire session.  Families will be responsible for remaining tuition to help offset the cost of food and lodging.  Discounts for partial-week volunteering will not be offered.  (Scholarships are available for campers that have diabetes that are financially in need).</li>
                                <li>Current {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Diabetes Programs Board of Directors’ children (limit 2) may attend at no charge.</li>
                                <li>All registration forms, releases and deposits are returned by the appropriate deadlines.</li>
                                <li>Camper will be placed in an age-appropriate cabin with other children.  Volunteers will be housed with other staff away from their campers.</li>
                                <li>Camper will remain with the cabin at all times, day or night.</li>
                                <li>Camper agrees to follow the same routine as the other campers.</li>
                                <li>Parent/Guardian agrees to not interfere with the camper’s routine and/or the program staff’s rules, regulations, cabin life or discipline.</li>
                                <li>The parent/guardian will be responsible for the camper in all pre-camp activities until the time of camper registration.</li>
                                <li>Responsibility for the camper will remain with the appropriate staff during the camp session.</li>
                                <li>Camper agrees to not interfere with the volunteer’s duties and responsibilities.</li>
                                <li>The volunteer or any staff member will not give preferential treatment to any camper at any time during the session. Camper must be treated with the same attention as all other campers.</li>
                            </ul>
                            <p>Special circumstances and/or arrangements may be presented to the Board of Directors for review.  Any deviation from this policy is at the sole discretion of the Board of Directors and/or the Camp Leadership Team.</p>
                            <a href="/userfiles/files/CampSTIXForms/Children of Volunteers Policy.pdf" target="_blank">A PDF version of the policy</a>
                        </div>
                        <b>Have you read the Children of Volunteers Policy above and agree to discuss it with your camper and agree to abide by it?<span class="reqstar">*</span></b>
                        <select name="read_COV_policy">
                            <option value=""></option>
                            <option {% if v.read_COV_policy == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.read_COV_policy == "No" %}selected="selected"{% endif %} value="No">No</option>
                        </select>

                        Please list the full name(s) of all your camper(s) you plan to register for camp this year:<span class="reqstar">*</span><br>
                        <input type="text" name="children_fullnames" value="{{ v.children_fullnames }}" />
                    </td>
                </tr>

                <tr>
                    <th colspan="2">Volunteer Releases</th>
                </tr>
                <tr>
                    <td colspan="2" class="note">
                        <p>Please read these releases carefully as your agreement is required for to participate as a volunteer.</p>
                        <h4>Transportation Release</h4>
                        <p>Permission is given to {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Diabetes Programs to transport me to and from camp activities sponsored by the camp and/or to a medical facility for emergency care.</p>
                        <h4>Media Release</h4>
                        <p>Permission is given to {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Diabetes Programs to use appropriate images of me in any photos or videos that will be approved by the {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Diabetes Programs Board of Directors to be displayed in promotional and entertainment media which is created to benefit the work of {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Diabetes Programs. I understand that there will be no compensation made in exchange for use of any photos or videos as outlined above.</p>
                        <h4>Medical Release</h4>
                        <p>As a volunteer staff member, you are:</p>
                        <ul>
                            <li>
                                Required to state all medications and all known medical conditions on your physician's release, to be signed by your primary healthcare provider no earlier than 6 months from the first day of camp.
                            </li>
                            <li>
                                Required to inform the Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Medical Director on the first day of camp if your medical condition has changed in any way following the date of your physician release.
                            </li>
                            <li>
                                Responsible for your own medication management and for the treatment of any pre-existing medical condition, injury or illness while you are at camp. Exceptions would include junior counseling or counseling program staff who are under the care of the MASH medical team.
                            </li>
                            <li>
                                Required to inform the Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Medical Director immediately if your pre-existing medical condition, injury or illness prevents you from performing your volunteer staff duties. Responsible and financially liable for the cost of any third party emergency medical treatment and/or transportation (ambulance, air ambulance, etc.) when requested by you to treat any pre-existing condition, injury or illness.
                            </li>
                            <li>
                                Responsible and financially liable for the cost of any third party emergency medical treatment and/or transportation (ambulance, air ambulance, etc.) when requested by the Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Medical Director or his or her delegate, when in the sole discretion of the Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Medical Director or his or her delegate, said third party emergency medical treatment and/or transportation is medically necessary to treat your pre-existing medical condition, injury or illness. You will remain liable for any third party expense(s) incurred, whether or not you refuse the third party emergency medical treatment and/or emergency transportation, and/or whether or not you refuse the medical recommendations of the Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Medical Director, his or her delegate, or medical staff.
                            </li>
                            <li>
                                Strongly encouraged to consider a <a href="http://www.lifeflight.org">Life Flight membership</a> if you have any pre-existing medical condition, injury or illness that could necessitate emergency medical treatment and/or transportation while at camp. This is due to the distance from a nearby hospital trauma center.
                            </li>
                        </ul>


                        {#<h4>Minor Volunteers</h4>#}
                        {#<ul>#}
                            {#<li>Volunteers who are under the age of 18 must be under the care and supervision of their parent or legal guardian while at camp. Their parent/legal guardian must also be a volunteer at camp during the same dates and times that the minor is volunteering. The minor volunteer and their parent/legal guardian are responsible for the minor’s medication management and for the treatment of any pre-existing medical condition, injury or illness while the minor is at camp. Exceptions would include junior counseling or counseling program staff who are under the care of the MASH medical team.</li>#}
                            {#<li>Volunteers who are under the age of 18 must have the written permission of their parent/legal guardian to volunteer at camp.</li>#}
                        {#</ul>#}
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        Have you read the above releases carefully and understand and agree to them?<span class="reqstar">*</span>
                    </td>
                    <td>
                        <select name="release_agree">
                            <option value=""></option>
                            <option {% if v.release_agree == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>
                            <option {% if v.release_agree == "No" %}selected="selected"{% endif %} value="No">No</option>
                        </select>
                    </td>
                </tr>
                {#<tr>#}
                    {#<td colspan="2" class="note">#}
                        {#<h4>Riverview Bible Camp Release & Arbitration Agreement</h4>#}
                        {#<p>(Riverview Bible Camp is the facility that hosts our camp. This release is a requirement for all attendees at their facility.)</p>#}
                        {#<p>In consideration of RIVERVIEW BIBLE CAMP, I for myself, or the minor child named below, forever waive, release and discharge RIVERVIEW BIBLE CAMP (and its parent corporation) from any/all injuries, claims, disputes, liabilities, or actions resulting from RIVERVIEW BIBLE CAMP providing services for me and for my benefit regardless of location for the dates identified above, except for injury or damage arising out of Riverview Bible Camp’s negligence or willful misconduct. I attest and verify that I have full knowledge of the risks and dangers involved; that I assume such risks, and that I will assume and pay my own medical and emergency expenses, in the event of an accident, illness or other incapacity, regardless of whether I have authorized such expenses.</p>#}
                        {#<p>Any controversy arising out of, connected to, or relating to any matters herein of the transactions between me and the above named parties or on behalf of the minor child named below, of this Release/Waiver, or the breach thereof, including, but not limited to any claims of violations of Federal and/or State Law, as well as any common law claims shall be settled by arbitration through Christian Conciliation Services; and in accordance with this paragraph a judgment based upon the arbitrator's award may be entered in any court having jurisdiction thereof in accordance with the provisions of R.C.W. 7.04. This agreement shall be construed and interpreted under the laws of the State of Washington.</p>#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td class="labeltd">#}
                        {#I have read this waiver and release carefully, and understand it.<span class="reqstar">*</span>#}
                    {#</td>#}
                    {#<td>#}
                        {#<select name="camp_waiver_agree">#}
                            {#<option value=""></option>#}
                            {#<option {% if v.camp_waiver_agree == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>#}
                            {#<option {% if v.camp_waiver_agree == "No" %}selected="selected"{% endif %} value="No">No</option>#}
                        {#</select>#}
                    {#</td>#}
                {#</tr>#}
                <tr>
                    <td class="labeltd">
                        Parent/Guardian Phone Number<span class="reqstar">*</span>
                        <div class="note">We will use this number to contact you if we have any questions in regard to this application. Please enter in the format: 123-123-1234</div>
                    </td>
                    <td>
                        <input type="text" name="parent_vol_phone" value="{{ v.parent_vol_phone }}" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" id="youngerthan18_more" class="showmore" rel="req" style="display: none;">
            <table>

                <tr>
                    <th colspan="2">Volunteers under 18</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="note">
                            <p>Please note that you MUST also register as a camper if you plan to attend Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} as a camper if not selected as a volunteer. The Volunteer Application and the Camper Registration are two separate processes.</p>
                            <p>The Camper Registration is available at <a href="/" target="_blank">www.CampSTIX.org</a> You will not be able to be a camper if you do not complete the Camper Registration.</p>
                            <p>If you have any questions, please email campstix@campstix.org</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">Parent/Guardian of Minor Volunteer Form</th>
                </tr>
                <tr>
                    <td colspan="2" class="note">
                        <h4>This page is to be read and completed by the Parent/Guardian of the minor volunteer along with the minor applying for Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %}.</h4>
                        <p>
                            Be sure to review these policies with your child to ensure that you both understand them.
                        </p>

                        <h4>Medical Release</h4>
                        <p>As a volunteer staff member, you are:
                        <ul>
                          <li>
                              Required to state all medications and all known medical conditions on your physician's release (available at campstix.org/atcamp), to be signed by your primary healthcare provider no earlier than 6 months from the first day of camp.
                          </li>
                            <li>
                                Required to inform the Camp Medical Director on the first day of camp if your medical condition has changed in any way following the date of your physician release.
                            </li>
                            <li>Responsible for your own medication management and for the treatment of any pre-existing medical condition, injury or illness while you are at camp.  Exceptions would include junior counseling or counseling program staff who are under the care of the MASH medical team.
                            </li>
                            <li>Required to inform the Camp Medical Director immediately if your pre-existing medical condition, injury or illness prevents you from performing your volunteer staff duties.  Responsible and financially liable for the cost of any third party emergency medical treatment and/or transportation (ambulance, air ambulance, etc.) when requested by you to treat any pre-existing condition, injury or illness.
                            </li>
                            <li>Responsible and financially liable for the cost of any third party emergency medical treatment and/or transportation (ambulance, air ambulance, etc.) when requested by the Camp Medical Director or his or her delegate, when in the sole discretion of the Camp Medical Director or his or her delegate, said third party emergency medical treatment and/or transportation is medically necessary to treat your pre-existing medical condition, injury or illness.  You will remain liable for any third party expense(s) incurred, whether or not you refuse the third party emergency medical treatment and/or emergency transportation, and/or whether or not you refuse the medical recommendations of the Camp Medical Director, his or her delegate, or medical staff.
                            </li>
                            <li>
                                Strongly encouraged to consider a <a href="http://www.lifeflight.org">Life Flight membership</a> if you have any pre-existing medical condition, injury or illness that could necessitate emergency medical treatment and/or transportation while at camp. This is due to the distance from a nearby hospital trauma center.
                            </li>
                        </ul>
                        </p>

                        <h4>Minor Volunteers (16-18 years old)</h4>
                        <p>Volunteers who are under the age of 18 must be under the care and supervision of their parent or legal guardian while at camp. Their parent/legal guardian must also be a volunteer at camp during the same dates and times that the minor is volunteering. The minor volunteer and their parent/legal guardian are responsible for the minor’s medication management and for the treatment of any pre-existing medical condition, injury or illness while the minor is at camp. Exceptions would include Junior Counseling or Counseling program staff who are under the care of the MASH medical team.</p>
                        <p>Volunteers who are under the age of 18 must have the written permission of their parent/legal guardian to volunteer at camp.</p>

                        <h4>Transportation Release</h4>
                        <p>Permission is given to Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Diabetes Programs to transport my child to and from camp activities sponsored by the camp and/or to a medical facility for emergency care.</p>

                        <h4>Media Release</h4>
                        <p>Permission is given to Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Diabetes Programs to use appropriate images of my child in any photos or videos that will be approved by the {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Diabetes Programs Board of Directors to be displayed in promotional and entertainment media which is created to benefit the work of {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Diabetes Programs. I understand that there will be no compensation made in exchange for use of any photos or videos as outlined above.</p>

                        {#<h4>Riverview Bible Camp Release & Arbitration Agreement</h4>#}
                        {#<p>(Riverview Bible Camp is the facility that hosts our camp. This release is a requirement for all attendees at their facility.)</p>#}
                        {#<p>In consideration of RIVERVIEW BIBLE CAMP, I for the minor child named in this form, forever waive, release and discharge RIVERVIEW BIBLE CAMP (and its parent corporation) from any/all injuries, claims, disputes, liabilities, or actions resulting from RIVERVIEW BIBLE CAMP providing services for me and for my benefit regardless of location for the dates identified above, except for injury or damage arising out of Riverview Bible Camp’s negligence or willful misconduct.  I attest and verify that I have full knowledge of the risks and dangers involved; that I assume such risks, and that I will assume and pay my own medical and emergency expenses, in the event of an accident, illness or other incapacity, regardless of whether I have authorized such expenses.</p>#}
                        {#<p>Any controversy arising out of, connected to, or relating to any matters herein of the transactions between me and the above named parties or on behalf of the minor child named below, of this Release/Waiver, or the breach thereof, including, but not limited to any claims of violations of Federal and/or State Law, as well as any common law claims shall be settled by arbitration through Christian Conciliation Services; and in accordance with this paragraph a judgment based upon the arbitrator's award may be entered in any court having jurisdiction thereof in accordance with the provisions of R.C.W. 7.04. This agreement shall be construed and interpreted under the laws of the State of Washington.  I HAVE READ THIS WAIVER AND RELEASE CAREFULLY, AND UNDERSTAND IT.</p>#}

                    </td>
                </tr>
                <tr>
                    <td class="labeltd" style="width:50%;">
                        Parent/Guardian Name<span class="reqstar">*</span>
                        <div class="note">By typing your full legal name below, you certify that you have read and agree to the Camp TWIGS Medical Release, Transportation Release, and Media Release for your child. You also are giving permission for your child to volunteer at Camp TWIGS.</div>
                    </td>
                    <td>
                        <input type="text" name="parentname" value="{{ v.parentname }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        Parent/Guardian Email Address<span class="reqstar">*</span>
                        <div class="note">We will send you an email to verify that you authorized this form.</div>
                    </td>
                    <td>
                        <input type="text" name="parentemail" value="{{ v.parentemail }}" />
                    </td>
                </tr>
                <tr>
                    <td class="labeltd">
                        Parent/Guardian Phone Number<span class="reqstar">*</span>
                        <div class="note">We will use this number to contact you if we have any questions in regard to this application. Please enter in the format: 123-123-1234</div>
                    </td>
                    <td>
                        <input type="text" name="parentphone" value="{{ v.parentphone }}" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <th colspan="2">Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Policies, Disclosures, and Releases</th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="note">
                By initialing below, you are acknowledging that you understand and agree to each release and agree to uphold each policy. Please read these carefully. Copies of each release are available on our website at <a href="/campstixforms">http://www.campstix.org/campstixforms</a>
                {#<h4>Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Dress Code</h4>#}
                {#<p>To minimize any potential conflicts, please dress modestly. This may mean dressing differently than you would at home, so keep these guidelines in mind as you pack:</p>#}
                {#<ul>#}
                    {#<li>Revealing clothing is unacceptable. Persons wearing offensive clothing will be asked to change or cover up.</li>#}
                    {#<li>Cover-up attire and footwear should be worn to and from the water areas.</li>#}
                    {#<li>Proper footwear is required at all times - no bare feet outside water areas (use athletic shoes for activities).</li>#}
                    {#<li>Explicit attire (reference to drugs, alcohol, profanity, and sex) are unacceptable.</li>#}
                    {#<li>Please keep covered all explicit tattoos and piercings.</li>#}
                    {#<li>Proper personal hygiene is required - PLEASE.</li>#}
                {#</ul>#}
                {#<p>If you have to question what you are wearing, it may not be appropriate for camp. Feel free to ask the Camp Director if you have questions. If adherence to the dress code is not followed, you may be asked to leave. There really is no fashion statement to be made at camp so relax and have fun.</p>#}
            </div>
        </td>
    </tr>
        {#<tr>#}
            {#<td class="labeltd" style="width: 50%;">#}
                {#Have you read the Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Dress Code and agree to abide by the expectations set forth with the understanding that failure to comply may result in dismissal from camp? <span class="reqstar">*</span>#}
            {#</td>#}
            {#<td>#}
                {#<select name="dresscode_agree">#}
                    {#<option value=""></option>#}
                    {#<option {% if v.dresscode_agree == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>#}
                    {#<option {% if v.dresscode_agree == "No" %}selected="selected"{% endif %} value="No">No</option>#}
                {#</select>#}
            {#</td>#}
        {#</tr>#}
    {#<tr>#}
    {#<td colspan="2">#}
        {#<div class="note">#}
            {#<h4>Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Code</h4>#}
            {#<p>The Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Code are the expectations for all attendees (campers and volunteers) to ensure that everyone has the opportunity to have a fun and educational time at camp. Please read each carefully.</p>#}
            {#<ul>#}
                {#<li>Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} promotes treating everyone with respect and consideration.#}
                {#</li>#}
                {#<li>Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} does not allow physical, verbal, or mental abuse (no hitting, humiliating, degrading,bullying, or inappropriate touching).</li>#}
                {#<li>Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} is not a place for using profanity or discussing adult subject matter.</li>#}
                {#<li>No one shall use, possess, or be under the influence of alcohol, tobacco, or illegal drugs while at camp.</li>#}
                {#<li>Everyone must dress appropriately for camp (according to the guidelines sent out before camp).</li>#}
                {#<li>No one shall have firearms or other weapons while at camp.</li>#}
                {#<li>Camp personnel and campers will not exchange personal information (such as email addresses and phone numbers) unless given specific permission by the camper’s parents.</li>#}
                {#<li>No one shall abuse, steal from, or show disrespect to campers or staff.</li>#}
                {#<li>Romantic displays of affection (public or private) are not allowed at camp.</li>#}
            {#</ul>#}
        {#</div>#}
    {#</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<td class="labeltd" style="width: 50%;">#}
        {#Have you read the Camp {% if p.id_categories == 140 %}TWIGS{% else %}STIX{% endif %} Code and agree to abide by the expectations set forth with the understanding that failure to comply may result in dismissal from camp? <span class="reqstar">*</span>#}
    {#</td>#}
    {#<td>#}
        {#<select name="code_agree">#}
            {#<option value=""></option>#}
            {#<option {% if v.code_agree == "Yes" %}selected="selected"{% endif %} value="Yes">Yes</option>#}
            {#<option {% if v.code_agree == "No" %}selected="selected"{% endif %} value="No">No</option>#}
        {#</select>#}
    {#</td>#}
    {#</tr>#}
    <tr>
        <td class="labeltd">Permission is given to STIX Diabetes Programs to transport me to and from camp activities sponsored by the camp and/or to a medical facility for emergency care.<span class="reqstar">*</span>
        </td>
        <td>
            <input type="text" name="release_transport" value="{{ v.release_transport }}" placeholder="Please Initial" required/>
        </td>
    </tr>
    <tr>
        <td class="labeltd">Permission is given to STIX Diabetes Programs to use appropriate images of me in any photos or videos that will be approved by the STIX Diabetes Programs Board of Directors to be displayed in promotional and entertainment media which is created to benefit the work of STIX Diabetes Programs. I understand that there will be no compensation made in exchange for use of any photos or videos as outlined above.<span class="reqstar">*</span></td>
        <td>
            <input type="text" name="release_images" value="{{ v.release_images }}" placeholder="Please Initial" required/>
        </td>
    </tr>
    <tr>
        <td class="labeltd">I have read the Camp STIX Dress Code and understand that I will be held accountable to it while at camp understanding that failure to comply may result in dismissal from camp<span
                    class="reqstar">*</span>
            <div class="note"><a href="/userfiles/files/CampSTIXForms/Camp STIX Dress Code.pdf" target="_blank">See Camp STIX Dress Code PDF</a></div>
        </td>
        <td>
            <input type="text" name="release_dresscode" value="{{ v.release_dresscode }}" placeholder="Please Initial" required/>
        </td>
    </tr>
    <tr>
        <td class="labeltd">I have read the STIX Diabetes Programs Volunteer Code of Ethics and understand that I will be held accountable to them while at camp.<span class="reqstar">*</span>
            <div class="note"><a href="/userfiles/files/CampSTIXForms/STIX Volunteer Code of Ethics.pdf" target="_blank">See STIX Volunteer Code of Ethics
                </a></div>
        </td>
        <td>
            <input type="text" name="release_code_of_ethics" value="{{ v.release_code_of_ethics }}" placeholder="Please Initial" required/>
        </td>
    </tr>
    <tr>
        <td class="labeltd">I have read the Camp STIX Code and understand that I will be held accountable to it while at camp understanding that failure to comply may result in dismissal from camp.<span
                    class="reqstar">*</span>
            <div class="note"><a href="/userfiles/files/CampSTIXForms/Camp STIX Code.pdf" target="_blank">See Camp STIX Code PDF</a></div>
        </td>
        <td>
            <input type="text" name="release_code" value="{{ v.release_code }}" placeholder="Please Initial" required/>
        </td>
    </tr>
    <tr>
        <td class="labeltd">I have read and understand the Camp STIX HbA1C Policy.<span
                    class="reqstar">*</span>
            <div class="note"><a href="/userfiles/files/Board%20Documents/Camp%20STIX%20HbA1C%20Policy.pdf" target="_blank">See Camp STIX HbA1C Policy PDF</a></div>
        </td>
        <td>
            <input type="text" name="release_hba1c" value="{{ v.release_hba1c }}" placeholder="Please Initial" required/>
        </td>
    </tr>
    <tr>
        <td class="labeltd">I have read the Camp Reed Release Agreement carefully and understand it.<span class="reqstar">*</span>
            <div class="note"><a href="/userfiles/files/CampSTIXForms/Rentals Waiver - Camp Reed - Adult and Family Programs 1-16-18.pdf"
                                 target="_blank">See Camp Reed Release Agreement PDF</a></div>
        </td>
        <td>
            <input type="text" name="release_biblecamp" value="{{ v.release_biblecamp }}" placeholder="Please Initial" required/>
        </td>
    </tr>
    {% if not v.id %}
        <tr>
            <th colspan="2">Tent or RV lodging</th>
        </tr>
    <tr>
    <td class="labeltd" style="width: 50%;">
        Do you you plan on staying in a tent or RV?<span class="reqstar">*</span>
        <div class="note">If "Yes" you will be taken to a separate request form after you submit this request.</div>
    </td>
    <td>
        <select name="want_rv_tent" required>
            <option value=""></option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </td>
    </tr>
    {% endif %}
</table>

<script>
    $(document).ready(function () {
        $(".datetime_single").datetimepicker({
            defaultDate: "d",
            changeMonth: true,
            changeYear: true,
            yearRange : 'yy-50:yy+1',
            timeFormat: "hh:mm tt"
        });
        $(".date_single").datepicker({
            defaultDate: "d",
            changeMonth: true,
            changeYear: true,
            yearRange : 'yy-50:yy+1',
            dateFormat: "yy-mm-dd"
        });
        $(".date_dob").datepicker({
            defaultDate: new Date(1998, 00, 01),
            changeMonth: true,
            changeYear: true,
            yearRange : '-60:-5',
            dateFormat: "yy-mm-dd"
        });
        var isPaused = true;
        $(".shownextonyes").change(function(){
            checkformore(this);
        });
        $(".shownextonyes").each(function(){
            checkformore(this);
        }).promise().done( function(){ $('#loadingscreen').hide(); });
    });
</script>