<div class="row">
    <div class=" col-md-12">
        <form action="/checkout_process.php?a=edit-volunteer" method="post">
            <input type="hidden" name="redirect" value="/account">
            {% if p.signuptype == 1 %}
                {% include 'volunteer_edit_form_stix.twig' with {v: v, p: p, title: title} %}
            {% else %}
                {% include 'volunteer_edit_form_twigs.twig' with {v: v, p: p, title: title} %}
            {% endif %}
            <br>
            <div style="text-align:center;"><input type="submit" value="Submit Request" class="prm-btn"/></div>
        </form>
    </div>
</div>
<br>
