{% if products %}
    <br>
    <h3>Select The Camp You Would Like To Volunteer At Below</h3>
    <br>
    {% for p in products %}
            <div>
                <h4>{{ p.title }}</h4>
                    <a href="/volunteer-signup/?c={{ p.id }}" class="prm-btn">Volunteer For Camp</a>
            </div>
        <br>
        <br>
    {% endfor %}
{% else %}
    <h4>None Found</h4>
{% endif %}