@highlight_color: #b72e23;
@primary_dark: #4F473C;
@primary_light: #F4F1ED;
@primary_med: #E5DED5;
@background: #FFF;
@admin_color: #77A920;

@primary_font: 'Raleway', sans-serif;
@alt_font: 'Rokkitt', serif;

/* Clear fix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/*  For IE 6/7 only  Include this rule to trigger hasLayout and contain floats.  */
.cf {
  *zoom: 1;
}

.rightlink {
  display: block;
  text-align: right;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.right {
  text-align: right;
}
.pad{
  padding:10px;
}

html {
  height: 100%;
}

p {
  margin: 12px 0;
}
hr{
  clear: both;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
  background: darken(@primary_dark, 10);
  a {
    color: #fff;
    &:hover {
      color: @primary_light;
    }
  }
}

.navbar-fixed-top {
  border: 0;
}

.navbar-nav {
  a.current {
    background-color: lighten(@primary_dark, 25);
  }
}

.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand {
  font-size: 25px;
  line-height: 40px;
  height: 70px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar-offcanvas {
  display: none;
  padding: 0px;
  padding-top: 0px;
  color: darken(@primary_med, 15);
  background-color: @primary_dark;
  a {
    color: @primary_light;
    font-weight: bold;
    border-bottom: solid 1px lighten(@primary_dark, 10);
    &:hover {
      color: @primary_light;
      background: @primary_med;
    }
  }
}

.nav-sidebar,
.navbar-right {
  & > li > a:focus,
  & > li > a:hover {
    background-color: lighten(@primary_dark, 10);
    color: @primary_light;
  }
}

@media (min-width: 768px) {
  .sidebar-offcanvas {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: 0;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: fixed;
    top: 70px;
    width: 33%;
    height: 100%;
    margin-left: 0px;
  }

  .active .sidebar-offcanvas {
    display: block;
  }
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .current > a,
.nav-sidebar > .current > a:hover,
.nav-sidebar > .current > a:focus {
  color: #fff;
  background-color: lighten(@primary_dark, 25);
}

/*
 * Main content
 */

.main {
  padding: 40px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.controls-panel {
  background: @primary_med;
  position: fixed;
  width: 13%;
  padding-bottom: 15px;
  max-height:75vh;
  overflow: auto;
  .btn {
    display: block;
    width: 100%;
    margin: 7px 0;
    text-align: left;
  }
  .cell{
    white-space: nowrap;

  }
  .buttons{
    z-index:2;
    position:relative;
    padding:0 7px 0 2px
  }
}

@media screen and (max-width: 1199px) {
  .controls-panel {
    h3 {
      display: none;
    }
    background: none;
    position: relative;
    width: auto;
    padding-bottom: 0px;
    .btn {
      display: inline-block;
      width: auto;
      margin: 10px;
    }
  }
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.btn-default, .ui-state-default .btn-default {
  color: #FFF;
  background-color: @primary_dark;
  border-color: @primary_dark;
  &:hover, &:focus, &:active, &.active, &:visited, &:link, &.btn-hover {
    color: #FFF;
    background-color: darken(@primary_dark, 5);
  }
}

.btn-primary, .ui-state-default .btn-primary {
  color: #FFF;
  background-color: @admin_color;
  border-color: @admin_color;
  &:hover, &:focus, &:active, &.active, &:visited, &:link {
    color: #FFF;
    background-color: darken(@admin_color, 5);
  }
}

.btn-success {
  color: #FFF;
  background-color: @admin_color;
  border-color: @admin_color;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  color: #FFF;
  background-color: darken(@admin_color, 5);
  border-color: @admin_color;
}

.btn-cancel {
  color: #FFF;
  background-color: @highlight_color;
  border-color: @highlight_color;
}

.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel.active, .open .dropdown-toggle.btn-cancel {
  color: #FFF;
  background-color: darken(@highlight_color, 5);
  border-color: @highlight_color;
}

.note, .field_note {
  color: #888;
  font-size: 90%;
}

.small {
  font-size: 80%;
}

.r {
  text-align: right;
}

.nw {
  white-space: nowrap;
}

a {
  color: @highlight_color;
}

a img {
  border: 0;
}

/******** misc ********/
.feedback_container {
  display: none;
}

.section {
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
}

.section > h1, .section > h2, .section > h3 {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

.section .section_content {
  padding: 10px;
}

.paginator > a {
  padding: 3px;
  margin: 1px;
}
.paginator a.current{
  background: @highlight_color;
  color: #FFFFFF;
}


/******** list table ********/
tr.odd {
  background-color: #fafafa;
}

.alt0 {
  background-color: #eaeaea;
}

.alt1 {
  background-color: #fafafa;
}

.alt2 {
  background-color: #fff;
}

tr.rowhover td, .list .row:hover {
  background-color: #F7F9FA;
}

.list {
  margin: 10px 0;
}

.list th {
  text-align: left;
  color: #BBBBBB;
}

.list td, .list th {
  padding: 3px 5px 3px 5px;
}

.list td {
  border-top: 1px solid #bbb;
}

.dead {
  color: #999;
}
.rightcontent{
  float:right;
  margin-right:6px;
}
.deadphoto{
  background:#f3f3f3;
  img{
    opacity:.5;
  }
}

.button_grey, .button_red {
  font-size: 90%;
  padding: 0px;
}

td.ind1, th.ind1 {
  padding-left: 20px;
}

td.ind2, th.ind2 {
  padding-left: 40px;
}

td.ind3, th.ind3 {
  padding-left: 60px;
}

td.ind4, th.ind4 {
  padding-left: 80px;
}

.list .row, .list .nobs-row {
  overflow: hidden;
  padding: 2px;
  .buttons {
    float: right;
  }
}

.list .cell:first-child {
  float: left;
  padding-left: 2px;
}

.list .cell {
  float: left;
  padding-left: 6px;
}

.cell.advanced {
  display: none;
}

.cell.edit-link {
  display: block;
  float: none !important;
  color: black;
  &.dead {
    color: #999;
  }
}

.cell.edit-link:hover {
  text-decoration: none;
}

.toggle_children {
  margin-right: 5px;
  color: #ccc;
  cursor: default;
}

.buttons {
  border-left: solid 1px #999;
  background: #eee;
  margin-right: -7px;
  padding: 0px 7px;
}

.rearrange-tabs {
  margin-bottom: -14px;
  border-radius: 3px 3px 0px 0px;
  margin-left: 10px;
}

/* for nested items: e.g. draggable page heirarchy */
ol.treeview li .row {
  line-height: 2.5;
  background-color: #fff;
  padding: 0px 7px;
}

ol.treeview li li .row {
  background-color: #eee;
}

ol.treeview li li li .row {
  background-color: #ddd;
}

ol.treeview li li li li .row {
  background-color: #ccc;
}

.placeholder {
  background-color: #eaeaea;
}

.ui-nestedtreeview-error {
  background: #fbe3e4;
  color: #8a1f11;
}

ol {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

ol.treeview, ol.treeview ol {
  margin: 0 0 0 1em;
  padding: 0;
  list-style-type: none;
}

ol.treeview {
  margin: 1em 0;
}

.treeview li {
  margin: 3px 0 0 0;
  padding: 0;
}

.treeview li .row {
  border: 1px solid #ccc;
  padding: 7px;
  margin: 0;
}

.sortable {
  background-color: #FFFFEE;
  border: #dddd00;
  border-style: dashed;
  border-width: 1px;
}

ol.treeview.sortable {
  padding: 10px;
}

.sortable li .row {
  cursor: move;
}

/* editor pages */
table.editor td {
  padding: 7px 14px 7px 0;
}

table.editor tr:first-child td:first-child {
  width: 1%;
  white-space: nowrap;
}

form.editor-form {
  margin: 0px 0 30px 0;
}

table .editor th {
  padding: 8px;
  background-color: #b5d7df;
  font-weight: bold;
  text-align: left;
}

.page_edit_tabs {
  position: relative;
  top: 7px;
  height: 25px;
}

.page_edit_tabs a {
  padding: 6px 10px;
  border: 2px solid #2C7B8F;
  border-bottom: 0;
  color: black;
  text-decoration: none;
  float: left;
  margin-right: 4px;
}

.page_edit_tabs a img {
  float: left;
  margin-right: 4px;
}

.page_edit_tabs a.current {
  background-color: #e0ecef;
}

/******** inputs/buttons ********/
.formfield {
  padding: 5px 0;
  input[type='text'], input[type='email'], input[type='phone'], textarea{
    width:100%;
  }
}

label {
  padding: 3px;
  margin-right: 3px;
  font-weight: normal;
  input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
  }
}

input.i3 {
  width: 400px;
}

.button_grey, .button_red {
  font-size: 11px;
  padding: 1px 1px 0px 1px;
  border: 0;
  font-weight: bold;
}

.button_grey {
  background-color: #ccc;
  color: #444;
}

.button_red {
  background-color: #FFBDAD;
  color: #AF4441;
}

.button, .button_edit, .button_config, .button_details, .button_download, .button_add_small, .button_photos, .button_copy {
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

.button_edit {
  background-image: url(images/icons/page_white_edit.png);
}

.button_config {
  background-image: url(images/icons/page_white_wrench.png);
}

.button_details {
  background-image: url(images/icons/magnifier.png);
}

.button_download {
  background-image: url(images/icons/arrow_down.png);
}

.button_photos {
  background-image: url(images/icons/image.png);
}

.button_add_small {
  background-image: url(images/icons/add.png);
}

.button_copy {
  background-image: url(images/icons/page_white_copy.png);
}

.button_add {
  background: transparent url(images/icons/add.png) no-repeat 2px center;
  color: #418936;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 2px 2px 20px;
  margin-right: 8px;
}
.checkbox-menu {
  text-align: right;
  .checkallbelow, .checknonebelow {
    font-size:80%;
    margin-right: 5px;
  }
}
.option-tbl{
  min-width:90%;
  th{ background: #eee; padding:5px; border-left: solid 1px #ddd; }
  td{ background: #f3f3f3; padding: 0px 5px; border-left: solid 1px #ddd; }
  tr td:first-child,tr th:first-child{ border:none; }
  tr:nth-child(even) td{  background: #f9f9f9; }
  tr:last-child td{background:none; padding:3px 0; border:none;}

}
.stripe-tbl{
  min-width:90%;
  th{ background: #f0f0f0; padding:5px; border-left: solid 1px #ddd; }
  td{ background: #f3f3f3; padding: 0px 5px; border-left: solid 1px #ddd; }
  tr td:first-child,tr th:first-child{ border:none; }
  tr:nth-child(even) th{  background: #f6f6f6; }
  tr:nth-child(even) td{  background: #f9f9f9; }
}

/******* photo gallery *******/
.gallery .photo {
  width: 145px;
  height: 140px;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #ddd;
  text-align: center;
  float: left;
}

.gallery .photo_info {
  text-align: left;
  padding-left: 8px;
}

.gallery .photo_controls {
  padding: 0px 0px 3px 8px;
  text-align: left;
}

.gallery .delete_container {
  float: left;
  margin-left: 2px;
}

.gallery .pic {
  clear: both;
  margin-top: 3px;
}

.gallery .priority {
  color: #999;
}

.sortablegrid {
  &.sortable{
    cursor: move;
  }
  li {
    background: none repeat scroll 0 0 #efefef;
    border: 1px solid #ccc;
    float: left;
    height: 175px;
    list-style: outside none none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 170px;
    .gal-title {
      overflow: hidden;
    }
    img {
      max-width: 140px;
      max-height: 140px;
    }
    .toolbar {
      text-align: right;
      padding-bottom: 4px;
      margin-top: -1px;
    }
  }
}

.sortablegrid.nosort li {
  cursor: default;
  height: auto;
  width: 230px;
  .delete_container {
    display: block;
    height: 16px;
    white-space: nowrap;
    width: 16px;
  }
  .delete_first {
    background: url("images/icons/cross.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}

/****** Notifications ******/
.ui-notify {
  top: 71px;
  z-index: 999;
  border-radius: 0px;
  width: 100%;
}

.ui-notify-message-style {
  background: @admin_color;
  box-shadow: none;
  font-weight: bold;
}

.ui-notify-message {
  border-radius: 0px;
  padding: 7px 10px 7px 20%;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  background: #ff0000;
  color: #fff;
  border: none;
  a {
    color: #fff;
  }
}


/***** ESN specific classes *****/

.review-item{
  padding:10px 10px 10px 10px;
  margin:5px 0 0 0;
  border:solid 1px lightgrey;
  .review-rate{
    display: inline-block;
    float: right;
  }
  .review-title{
    font-weight:bold;
    font-size:120%;
  }
  .review-entered{
    font-style:italic;
    font-size:80%;
  }
  .review-content{
    font-size:80%;
    line-height: normal;
  }
  .review-name{
    font-style:italic;
    margin-top:5px;
    font-size:80%;
  }
  .review-item{
    background: lighten(lightgrey,5);
  }
}

#tagcontain p{
  display:inline-block;
  background:#eee;
  border-radius:5px;
  margin:3px;
  padding:5px 5px 5px 10px;
}

.subsection{
  border:solid 1px #ccc;
  background:#efefef;
  margin:5px;
  padding:5px;
  position:relative;
}
.remove_subsection{
  position:absolute;
  top:2px;
  right:2px;
  padding: 3px 6px;
  line-height: 15px;
  z-index: 2;
}